<form [formGroup]="settingForm">
    <h3 class="border-bottom pb-1 mb-3">{{'Setting' | translate}}</h3>
    <h5 class="label mb-0"><strong>{{'Change Passwords' | translate}}</strong></h5>
    <p class="small text-secondary">{{'It is a good idea to use a strong password that you are not using elsewhere' | translate}}</p>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <label class="label mt-1">{{'Current password' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-9">
            <input maxlength="50" type="password" class="form-control form-control-sm" formControlName="current_password" style="max-width: 240px"
            autocomplete="off"
            [ngClass]="{'invalid': isSubmittedSetting && settingForm.controls.current_password?.errors}">
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            &nbsp;
        </div>
        <!-- <div *ngIf="isSubmittedSetting && settingForm?.controls?.current_password?.errors?.RequiredPass" class="invalid-mess col-md-8 col-lg-9">
            <div>{{'This field is required' | translate}}</div>
        </div> -->
        <div *ngIf="isSubmittedSetting && settingForm?.controls?.current_password?.errors?.Required" class="invalid-mess col-md-8 col-lg-9">
                {{'This field is required' | translate}}
            </div>
            <div class="col-md-8 col-lg-9">
                    <div *ngIf="isSubmittedSetting && settingForm?.controls.current_password?.errors?.RequiredPass" class="invalid-mess">
                        {{'Password requires 8 characters and contain at least two of three types of characters (lower case, upper case and digits)' | translate}}
                    </div>
            </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <label class="label mt-1">{{'New password' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-9">
            <input maxlength="50" type="password" class="form-control form-control-sm" formControlName="new_password" style="max-width: 240px"
            autocomplete="off"
            [ngClass]="{'invalid': isSubmittedSetting && (settingForm?.controls?.new_password?.errors || settingForm?.controls?.new_password?.errors?.RequiredPass)}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            &nbsp;
        </div>
        <div *ngIf="isSubmittedSetting && settingForm?.controls['new_password']?.errors?.Required" class="invalid-mess col-md-8 col-lg-9">
            {{'This field is required' | translate}}
        </div>
        <div class="col-md-8 col-lg-9">
                <div *ngIf="isSubmittedSetting && settingForm?.controls['new_password']?.errors?.RequiredPass" class="invalid-mess">
                    {{'Password requires 8 characters and contain at least two of three types of characters (lower case, upper case and digits)' | translate}}
                </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <label class="label mt-1">{{'Confirm password' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-9">
            <input type="password" class="form-control form-control-sm" value="" maxlength="50"
                formControlName="confirm_password" style="max-width: 240px" autocomplete="off"
                [ngClass]="{'invalid': isSubmittedSetting && (settingForm.controls['confirm_password'].errors || settingForm?.controls['confirm_password']?.errors?.RequiredPass)}">
            <div *ngIf="isSubmittedSetting && settingForm?.controls['confirm_password']?.errors?.Required"
                class="invalid-mess">
                <div>{{'This field is required' | translate}}</div>
            </div>
            <div *ngIf="isSubmittedSetting && (this.settingForm.controls.new_password.value !== this.settingForm.controls.confirm_password.value)"
                class="invalid-mess">
                {{'New password and confirm password do not match' | translate}}
            </div>
            <div *ngIf="isSubmittedSetting && (this.settingForm.controls.current_password.value === this.settingForm.controls.confirm_password.value
                                        && this.settingForm.controls.new_password.value === this.settingForm.controls.confirm_password.value)"
                class="invalid-mess">
                {{'Current password and new passwords cannot be the same' | translate}}
            </div>
            <div *ngIf="successPassword == true" class="text-success pt-2">
                {{'You have successfully changed the password' | translate}}
            </div>
            <div *ngIf="invalidPassword == true" class="invalid-mess">
                {{'Password incorrect' | translate}}
            </div>
            <div *ngIf="isSubmittedSetting && settingForm?.controls['confirm_password']?.errors?.RequiredPass"
                class="invalid-mess">
                {{'Password requires 8 characters and contain at least two of three types of characters (lower case, upper case and digits)' | translate}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-lg-3">
            &nbsp;
        </div>

        <div class="col-md-8 col-lg-9 pt-2">
            <button type="button" class="btn btn-save btn-success pl-3 pr-3" (click)="settingSave()">{{'Save' | translate}}</button>
        </div>
    </div>
    <hr>
    <div class="row mb-2">
        <div class="col-md-4 col-lg-3">
            <label class="label mt-1">{{'Font Size' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-9">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary btn-sm btn-size-sm" data-size="sm" id="font-size-sm" (click)="changeFontSize('font-size-sm')">小</button>
                <button type="button" class="btn btn-outline-secondary btn-sm btn-size-md" id="font-size-md" data-size="md" (click)="changeFontSize('font-size-md')">中</button>
                <button type="button" class="btn btn-outline-secondary btn-sm btn-size-lg" id="font-size-lg" data-size="lg" (click)="changeFontSize('font-size-lg')">大</button>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-4 col-lg-3">
            <label class="label mt-1">{{'Language' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-9">
            <select formControlName="language" (change)="changeLang($event.target.value)" class="form-control form-control-sm select2" style="max-width: 240px;">
              <option value="en_US">English</option>
              <option value="ja_JP">Japanese</option>
          </select>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-4 col-lg-3">
            <label class="label mt-1 pt-1">{{'Receiving margin-call mail' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-9">
                <!-- <input type="checkbox" formControlName="marginCallMail"> -->
            <label class="container-checkbox small mb-2">
                <input [attr.disabled]="!editableMargincall ? true : null" type="checkbox" (change)="changeMailFlag()" formControlName="marginCallMail">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-4 col-lg-3">
            <label class="label mt-1 pt-1">{{'Receiving loss-cut mail' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-9">
            <label class="container-checkbox small mb-2">
                <input [attr.disabled]="!editableLosscut ? true : null" type="checkbox" (change)="changeMailFlag()" formControlName="lossCutMail">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
</form>

<ng4-loading-spinner [timeout]="30000"></ng4-loading-spinner>
