<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page"><a href="javascript:;">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Withdraw</li>
    </ol>
  </nav>
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="card bg-white mb-3 shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 col-lg-7">
              <div class="p-3 border mb-3 form form-line bg-light">
                <div class="d-flex justify-content-between mb-2">
                  <h5 class="text-primary mb-0"><strong>MT5</strong> Information</h5>

                </div>
                <div class="mb-1 d-flex justify-content-between">
                  <label class="label">Trading account</label>
                  <div>
                    <select class="form-control form-control-sm" style="min-width: 80px;background: none;">
                      <option>FX - 10000001</option>
                      <option>CFD - 20000001</option>
                    </select>
                  </div>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                  <label class="label">Balance</label>
                  <div>
                    <strong>{{listMt5Infor?.balance | number}}</strong>
                  </div>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                  <label class="label">Base currency</label>
                  <div>
                    <strong><span class="small text-secondary">JPY</span></strong>
                  </div>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                  <label class="label">Margin Level</label>
                  <div>
                    <strong>{{listMt5Infor?.margin_level}}%</strong>
                  </div>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                  <label class="label">Withdrawable Amount</label>
                  <div>
                    <strong>{{listMt5Infor?.used_margin}}</strong>
                  </div>
                </div>

                <div class="small text-secondary">
                  <a href="javascript:;" class="btn-link-24" (click)="onRefesh()"><span class="ml-1">Refesh</span> <i
                      class="icon ion-md-refresh-circle"></i></a>
                  <i class="icon ion-md-time"></i> <em>Last updated:
                    {{listMt5Infor?.lastest_time | date:'yyyy/MM/dd'}}
                    {{listMt5Infor?.lastest_time | date:'HH:mm'}}</em></div>
              </div>

            </div>
            <div class="col-md-6 col-lg-5" [formGroup]="withdrawForm">
              <h4 class="text-primary border-bottom pb-1 mb-3 title-withdrawal">Withdrawal Request
              </h4>
              <div class="form form-line">
                <div class="mb-1 d-flex justify-content-between">
                  <label class="label">Bank Account Number</label>
                  <div>
                    <strong>002100xxxxxx</strong>
                  </div>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                  <label class="label">Currency of bank account</label>
                  <div>
                    <strong>{{listBankInfor?.currency}}</strong>
                  </div>
                </div>
                <div class="mb-3">
                  <label class="label"><strong>Withdrawl Amount</strong></label>
                  <input type="text" name="amount"
                    class="form-control form-control-lg text-right font-weight-bold text-success" placeholder=""
                    formControlName="amount"
                    [ngClass]="{'invalid': isSubmitted && withdrawForm.controls['amount'].errors}">
                  <div class="mt-2">
                    <label class="container-checkbox small">Whole of money
                      <input type="checkbox" name="Junior" formControlName="wholeMoney">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                  <label class="label">Withdrawal Fee</label>
                  <div>
                    <strong>0</strong>
                  </div>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                  <label class="label">Total amount</label>
                  <div>
                    <strong>90,000</strong>
                  </div>
                </div>
                <div class="mb-1 d-flex justify-content-between">
                  <label class="label">Margin Level estimate</label>
                  <div>
                    <strong>154.36%</strong>
                  </div>
                </div>
              </div>
              <p class="small text-secondary p-2 bg-light">Notice: Minimum single withdrawal amount is ......</p>
              <button class="btn btn-success btn-block text-uppercase btn-lg mb-3"
                (click)="onSubmit()"><strong>Withdraw</strong> <i class="icon ion-md-arrow-round-down"></i></button>
              <p class="text-center" style="line-height: 1.2"><a href="javascript:;" data-toggle="modal"
                  data-target="#modal-rule"><i class="icon ion-md-information-circle"></i> General rules for depositing
                  and withdrawing funds</a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card bg-white mb-3">
        <div class="card-body">
          <h6 class="mb-0 text-uppercase text-primary border-bottom mb-3 pb-2"><i class="icon ion-md-time"></i>
            <strong>Entire Operation History</strong></h6>
          <div class="table-responsive">
            <table class="table table-sm table-hover" cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <th class="border-top-0" width="120">Transaction ID</th>
                  <th class="border-top-0">Date</th>
                  <th class="border-top-0">Type</th>
                  <th class="border-top-0">Description</th>
                  <th class="border-top-0 text-right" width="70">Currency</th>
                  <th class="border-top-0 text-right">Amount</th>
                  <th class="border-top-0 text-right" width="120">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of listDwHistory">
                  <td><a href="javascript:;" data-toggle="modal"
                      data-target="#modal-109517140">{{item?.transaction_id}}</a></td>
                  <td>{{item?.transaction_date | date:'yyyy/MM/dd'}} {{item?.transaction_date | date:'HH:mm'}}</td>
                  <td>{{item?.type}}</td>
                  <td>{{item?.description}}</td>
                  <td class="text-right">{{item?.currency}}</td>
                  <td class="text-right">{{item?.amount}}</td>
                  <td class="text-right"><span class="text-info"><i class="icon ion-md-hourglass"></i> Pending</span>
                  </td>
                  <!-- <td class="text-right"><span class="text-info"><i class="icon ion-md-hourglass"></i> {{item?.currency}}</span></td> -->
                </tr>
                <tr>
                  <td colspan="7">
                    <a routerLink="/manage/withdrawHistory">View entire operation history</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
