<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="javascript:;">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Withdrawal</li>
        </ol>
    </nav>
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="card bg-white mb-3 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-7">
                            <div class="p-3 border mb-3 form form-line bg-light">
                                <div class="d-flex justify-content-between mb-2">
                                    <h5 class="text-primary mb-0">{{'MT5 Information' | translate}}</h5>

                                </div>
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <div class="d-flex align-items-center">
                                        <label class="label mb-0 mr-2 pt-1">{{'Trading account' | translate}}</label>
                                        <div class="d-inline-block">
                                            <select class="form-control form-control-sm mb-0 bg-none" [(ngModel)]="accountID" disabled style="min-width: 160px;">
                                            <option *ngFor="let item of listTradingAccount" value="{{item?.value}}">{{item?.value}}</option>
                                          </select>
                                        </div>
                                    </div>
                                    <div class="pt-1"><label class="label mb-0 mr-2 d-inline">{{'Currency' | translate}}</label>: <strong>JPY</strong></div>
                                </div>

                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Balance' | translate}}</label>
                                    <div>
                                        <strong>{{mt5Infor?.balance | number}}</strong>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Used Margin' | translate}}</label>
                                    <div>
                                        <strong>{{mt5Infor?.used_margin | number}}</strong>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Equity' | translate}}</label>
                                    <div>
                                        <strong>{{mt5Infor?.equity | number}}</strong>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Withdrawable amount' | translate}}</label>
                                    <div>
                                        <strong>{{mt5Infor?.free_margin | number}}</strong>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Margin Level' | translate}}</label>
                                    <div>
                                        <strong>{{mt5Infor?.margin_level | number}}%</strong>
                                    </div>
                                </div>


                                <div class="d-flex align-items-center">
                                    <div class="mr-2" (click)="onRefesh()"><a href="javascript:;" class="btn-link-24"><i
                        class="icon ion-md-refresh-circle pr-1"></i></a></div>
                                    <div class="small text-secondary"><i class="icon ion-md-time"></i> <em>{{mt5Infor?.lastest_time}}</em></div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-5" [formGroup]="withdrawForm">
                            <h4 class="text-primary border-bottom pb-1 mb-3 title-withdrawal">{{'Withdrawal Request' | translate}}
                            </h4>
                            <div class="form form-line">
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Bank Account Number' | translate}}</label>
                                    <div>
                                        <strong>{{bankInfor?.zip}}</strong>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Currency of bank account' | translate}}</label>
                                    <div>
                                        <strong>{{bankInfor?.currency}}</strong>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="label"><strong>{{'Withdrawal Amount' | translate}}</strong></label>
                                    <input type="text" name="amount" class="form-control form-control-lg text-right font-weight-bold text-success" placeholder="" formControlName="amount" currency (change)="changeWithdtaw($event.target.value)" autocomplete="off" [ngClass]="{'invalid': isSubmitted && withdrawForm.controls['amount'].errors}">
                                    <div *ngIf="withdrawError == true" class="invalid-mess">
                                        <div>Minimum amount is not below {{minWithdraw}}</div>
                                    </div>
                                    <div class="mt-2">
                                      <label class="container-checkbox small">{{'Whole of money' | translate}}
                                        <input type="checkbox" name="Junior" formControlName="wholeMoney">
                                        <span class="checkmark"></span>
                                      </label>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Withdrawal Fee' | translate}}</label>
                                    <div>
                                        <strong>0</strong>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Total amount'| translate}}</label>
                                    <div>
                                        <strong>90,000</strong>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Margin Level estimate' | translate}}</label>
                                    <div>
                                        <strong>{{marginLevelEstimate}}%</strong>
                                    </div>
                                </div>
                            </div>
                            <p class="small text-secondary p-2 bg-light">{{'Notice: Minimum single withdrawal amount is' | translate}} {{minWithdraw}}
                            </p>
                            <div *ngIf="errMessage == true" class="invalid-mess">
                                <div>{{'Your Margin Level is nearly the Margin Call Level' | translate}}</div>
                            </div>
                            <button class="btn btn-success btn-block text-uppercase btn-lg mb-3" (click)="showConfirm()"><strong>{{'Withdrawal'| translate}}</strong></button>
                            <p class="text-center" style="line-height: 1.2"><a href="javascript:;" data-toggle="modal" data-target="#modal-rule"><i class="icon ion-md-information-circle"></i>
                            {{'General rules for depositing and withdrawing funds' | translate}}</a></p>
                        </div>
                    </div>
                </div>

            </div>
            <ng-container *ngIf="accountID">
                <app-list-transaction #listTran [accountID]="this.accountID" [tranType]="transactionType"></app-list-transaction>
            </ng-container>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-withdraw-confirm" tabindex="-1" role="dialog"  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light pt-2 pb-2">
        <div>
          <h5 class="modal-title text-primary"><strong>{{'Withdrawal Request' | translate}}</strong></h5>
        </div>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-sm small" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td width="180" class="border-top-0">{{'Trading account' | translate}}</td>
                    <td class="border-top-0" *ngFor="let item of listTradingAccount">{{item?.value}}</td>
                </tr>
                <tr>
                    <td width="180">{{'Transfer date time' | translate}}</td>
                    <td>{{newDate}}</td>
                </tr>
                <tr>
                    <td width="180">{{'Bank Account Number' | translate}}</td>
                    <td><strong>{{bankInfor?.acc_number}}</strong></td>
                </tr>
                <tr>
                    <td width="180">{{'Account Holders Name' | translate}}</td>
                    <td><strong>{{bankInfor?.acc_holder_name}}</strong></td>
                </tr>
                <tr>
                    <td width="180">{{'Beneficiary Bank' | translate}}</td>
                    <td>{{bankInfor?.name}}</td>
                </tr>
                <tr>
                    <td width="180">{{'Bank Branch' | translate}}</td>
                    <td>{{bankInfor?.branch_name}}</td>
                </tr>
                <tr *ngFor="let item of listBankTranfer">
                    <td width="180">{{'Branch Number' | translate}}</td>
                    <td>{{item?.branch_code}}</td>
                </tr>
                <tr>
                    <td width="180">{{'Withdrawal amount' | translate}}</td>
                    <td><strong>-10000</strong></td>
                </tr>
                <tr>
                    <td width="180">{{'Currency' | translate}}</td>
                    <td>JPY</td>
                </tr>
                <tr>
                    <td width="180">{{'Margin level estimate' | translate}}</td>
                    <td>{{marginLevelEstimate}}%</td>
                </tr>
            </tbody>
        </table>
        <p>{{'Are you sure you want to make the withdrawal request?' | translate}}</p>
        <hr>
        <div class="text-right">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button type="button" class="btn btn-primary" (click)="sendConfirm()">{{'Confirm' | translate}}</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_withdraw" tabindex="-1" role="dialog"  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light pt-2 pb-2">
        <div>
          <h5 class="modal-title text-primary"><strong>{{'Early Withdrawal' | translate}}</strong></h5>
        </div>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-sm small" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td width="180" class="border-top-0">{{'Withdrawal amount' | translate}}</td>
                    <td class="border-top-0">-{{listWithdrawRequest?.amount | number}} JPY</td>
                </tr>
                <tr>
                    <td width="180">{{'Transaction ID' | translate}}</td>
                    <td>{{listWithdrawRequest?.id}}</td>
                </tr>
                <tr>
                    <td width="180">{{'Createdate time' | translate}}</td>
                    <td>{{listWithdrawRequest?.create_date | date: 'yyyy/MM/dd H:mm'}}</td>
                </tr>
            </tbody>
        </table>
        <p>{{'Your withdrawal request has been received and is being processed within 3-4 business days' | translate}}?</p>
        <hr>
        <div class="text-center">
          <button type="button" class="btn btn-success" id="got_it" data-dismiss="modal">{{'Got it!' | translate}}</button>
        </div>
    </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
