<div class="container">
    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="javascript:;">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Withdrawal</li>
        </ol>
    </nav> -->
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="card bg-white mb-3 shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-7">
                            <div class="p-3 border mb-3 form form-line bg-light">
                                <div class="d-flex justify-content-between mb-2">
                                    <h5 class="text-primary mb-0">{{'MT5 Information' | translate}}</h5>

                                </div>
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <div class="d-flex align-items-center">
                                        <label class="label mb-0 mr-2 pt-1">{{'Trading account' | translate}}</label>
                                        <div class="d-inline-block">
                                            <select class="form-control form-control-sm mb-0 bg-none" (change)="changeAccount()" [(ngModel)]="accountID" disabled style="min-width: 160px;">
                                            <option *ngFor="let item of listTradingAccount" value="{{item?.value}}">{{item?.value}}</option>
                                          </select>
                                        </div>
                                    </div>
                                    <div class="pt-1"><label class="label mb-0 mr-2 d-inline">{{'Currency' | translate}}:</label> <strong>{{traddingAccount?.currency}}</strong></div>
                                </div>

                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Balance' | translate}}</label>
                                    <div>
                                        <strong>{{mt5Infor?.balance | number}}</strong>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Used Margin' | translate}}</label>
                                    <div>
                                        <strong>{{mt5Infor?.used_margin | number}}</strong>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Equity' | translate}}</label>
                                    <div>
                                        <strong>{{mt5Infor?.equity | number}}</strong>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Withdrawable amount' | translate}}</label>
                                    <div>
                                        <strong>{{mt5Infor?.free_margin | number}}</strong>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Margin Level' | translate}}</label>
                                    <div>
                                        <strong>{{mt5Infor?.margin_level | number}}%</strong>
                                    </div>
                                </div>


                                <div class="d-flex align-items-center">
                                    <div class="mr-2" (click)="onRefesh()"><a href="javascript:;" class="btn-link-24"><i
                        class="icon ion-md-refresh-circle pr-1"></i></a></div>
                                    <div class="small text-secondary"><i class="icon ion-md-time"></i> <em>{{lastestTime}}</em></div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-5" [formGroup]="withdrawForm">
                            <h4 class="text-primary border-bottom pb-1 mb-3 title-withdrawal">{{'Withdrawal Request' | translate}}
                            </h4>
                            <div class="form form-line">
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Withdrawal Account' | translate}}</label>
                                    <div>
                                        <strong>{{bankInfor?.name}} {{bankInfor?.branch_name}}</strong>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Bank Account Number' | translate}}</label>
                                    <div>
                                        <strong>{{bankInfor?.fx_acc_type}}{{bankInfor?.acc_number}}</strong>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Currency of bank account' | translate}}</label>
                                    <div>
                                        <strong>{{traddingAccount?.currency}}</strong>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="label"><strong>{{'Withdrawal Amount' | translate}}</strong></label>
                                    <input type="text" name="amount" id="amount" class="form-control form-control-lg text-right font-weight-bold text-success" placeholder="" formControlName="amount" currency
                                      (change)="changeWithdraw()" autocomplete="off" [ngClass]="{'invalid': isSubmitted && withdrawForm.controls['amount'].errors}">
                                    <div *ngIf="minWithdrawError == true" class="invalid-mess">
                                        <div>{{'Minimum amount is not below' | translate}} {{minWithdraw | number}}</div>
                                    </div>
                                    <div *ngIf="maxWithdrawError == true" class="invalid-mess">
                                        <div>{{'Withdrawal amount is not above the maximum amount' | translate}} {{maxWithDraw | number}}</div>
                                    </div>
                                    <div *ngIf="withdrawAmountError == true" class="invalid-mess">
                                      <div>{{'Withdrawal amount is not above the withdrawable amount' | translate}}</div>
                                    </div>
                                    <div class="mt-2">
                                      <label class="container-checkbox small">{{'Whole of money' | translate}}
                                        <input type="checkbox" name="Junior" formControlName="wholeMoney" (change)="getAllFreeMargin()">
                                        <span class="checkmark"></span>
                                      </label>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Withdrawal Fee' | translate}}</label>
                                    <div>
                                        <strong>0</strong>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Total amount'| translate}}</label>
                                    <div>
                                        <strong>{{totalAmount | number}}</strong>
                                    </div>
                                </div>
                                <div class="mb-1 d-flex justify-content-between">
                                    <label class="label">{{'Margin Level estimate after withdraw' | translate}}</label>
                                    <div>
                                        <strong>{{marginLevelEstimate | number: '1.2-2'}}%</strong>
                                    </div>
                                </div>
                            </div>
                            <p class="small text-secondary p-2 bg-light" *ngIf="locale == language.english">Notice: Minimum single withdrawal amount is {{minWithdraw | number}}
                            </p>
                            <p class="small text-secondary p-2 bg-light" *ngIf="locale == language.japan">※全額出金以外の最低出金額は{{minWithdraw | number}}円となります。 
                                </p>
                            <div *ngIf="errMessage == true" class="invalid-mess">
                                <div>{{'Your Margin Level is nearly the Margin Call Level' | translate}}</div>
                            </div>
                            <button class="btn btn-success btn-block text-uppercase btn-lg mb-3" (click)="showConfirm()"><strong>{{'Withdrawal Request'| translate}}</strong></button>
                            <p class="text-center" style="line-height: 1.2"><a href="javascript:;" data-toggle="modal" data-target="#modal-rule"><i class="icon ion-md-information-circle"></i>
                            {{'General rules for depositing and withdrawing funds' | translate}}</a></p>
                        </div>
                    </div>
                </div>

            </div>
            <ng-container *ngIf="accountID">
                <app-list-transaction #listTran [accountID]="this.accountID" [tranType]="transactionType"></app-list-transaction>
            </ng-container>
        </div>
    </div>
</div>


<div bsModal #modalWithdrawConfirm="bs-modal" class="modal fade" id="modal-withdraw-confirm" tabindex="-1" role="dialog"  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light pt-2 pb-2">
        <div>
          <h5 class="modal-title text-primary"><strong>{{'Withdrawal Request' | translate}}</strong></h5>
        </div>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-sm small" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td width="180" class="border-top-0">{{'Trading account' | translate}}</td>
                    <td class="border-top-0">{{accountID}}</td>
                </tr>
                <tr>
                    <td width="180">{{'Transfer date time' | translate}}</td>
                    <td>{{newDate}}</td>
                </tr>
                <tr>
                    <td width="180">{{'Bank Account Number' | translate}}</td>
                    <td><strong>{{bankInfor?.acc_number}}</strong></td>
                </tr>
                <tr>
                    <td width="180">{{'Account Holders Name' | translate}}</td>
                    <td><strong>{{bankInfor?.acc_holder_name}}</strong></td>
                </tr>
                <tr>
                    <td width="180">{{'Beneficiary Bank' | translate}}</td>
                    <td>{{bankInfor?.name}}</td>
                </tr>
                <tr>
                    <td width="180">{{'Bank branch' | translate}}</td>
                    <td>{{bankInfor?.branch_name}}</td>
                </tr>
                <tr *ngFor="let item of listBankTranfer">
                    <td width="180">{{'Branch Number' | translate}}</td>
                    <td>{{item?.branch_code}}</td>
                </tr>
                <tr>
                    <td width="180">{{'Withdrawal amount' | translate}}</td>
                    <td><strong>-{{depositValue | number}}</strong></td>
                </tr>
                <tr>
                    <td width="180">{{'Currency' | translate}}</td>
                    <td>{{traddingAccount?.currency}}</td>
                </tr>
                <tr>
                    <td width="180">{{'Margin Level estimate' | translate}}</td>
                    <td>{{marginLevelEstimate | number: '1.2-2'}}%</td>
                </tr>
            </tbody>
        </table>
        <p>{{'Are you sure you want to make the withdrawal request?' | translate}}</p>
        <hr>
        <div class="text-right">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalWithdrawConfirm.hide()">{{'Cancel' | translate}}</button>
          <button type="button" class="btn btn-primary" (click)="sendConfirm()">{{'Confirm' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalWithdrawResult="bs-modal" class="modal fade" id="modal_withdraw" tabindex="-1" role="dialog"  aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-light pt-2 pb-2">
        <div>
          <h5 class="modal-title text-primary"><strong>{{'Transaction ID' | translate}} : {{transactionWithdraw?.id}}</strong></h5>
        </div>
      </div>
      <div class="modal-body">
          <p *ngIf="checkWithDrawal == true">{{'Your withdrawal request has been received:' | translate }}</p>
          <p *ngIf="checkWithDrawal == false">{{'Your withdrawal request has been rejected:' | translate }}</p>
        <table class="table table-hover table-sm small" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td width="180" class="border-top-0">{{'Withdrawal amount' | translate}}</td>
                    <td class="border-top-0">{{transactionWithdraw?.amount | number}} JPY</td>
                </tr>
                <!-- <tr>
                    <td width="180">{{'Transaction ID' | translate}}</td>
                    <td>{{transactionWithdraw?.id}}</td>
                </tr> -->
                <tr>
                    <td width="180">{{'Createdate time' | translate}}</td>
                    <td>{{transactionWithdraw?.create_date}}</td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="checkWithDrawal == true">{{'It is being processed within 3-5 business day.' | translate}}?</p>
        <p *ngIf="checkWithDrawal == false">{{'Reason: MT5 account balance is not enough money to withdraw' | translate}}</p>
        <hr>
        <div class="text-center">
          <button type="button" class="btn btn-success" id="got_it" data-dismiss="modal" (click)="modalWithdrawResult.hide()">{{'Got it!' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-rule" tabindex="-1" role="dialog" aria-labelledby="ruleTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header pt-2 pb-2">
                <h5 class="modal-title text-uppercase text-primary" id="ruleTitle"><i class="icon ion-md-list-box"></i> <strong>{{'General rules for depositing and withdrawing funds' | translate}}</strong></h5>
            </div>
            <div class="modal-body" *ngIf="locale == language.english">
                <h4 class="text-primary">I. Deposit.</h4>
                <ul class="list-default">
                    <li>Deposits may be made 24 hours a day, 7 days a week. </li>
                    <li>
                        Customers can deposit via the following forms:
                        <ul>
                            <li>Billing system</li>
                            <li>Bank transfer</li>
                        </ul>
                    </li>
                    <li>The minimum deposit amount is {{minWithDraw}} JPY for one time.</li>
                </ul>
                <h4 class="text-primary">II. Withdraw al.</h4>
                <ul>
                    <li>Funds may only be withdrawn to owner accounts in order to ensure financial security and prevent money laundering.</li>
                    <li>Phillip will withdraw on your trading account and transfer to your bank account at the bank's working hours from 8:30 AM- 16:00 PM Monday to Friday.</li>
                    <li>Withdrawal order make over 16:00PM  will be forwarded the next day.</li>
                    <li>Minimum withdrawal amount of  {{minWithDraw | number}} JPY  for each withdrawal.</li>
                    <li>The maximum amount is  the total amount in your trading account.</li>
                    <li>The first withdrawal order must be enough 48 hours from the first deposit order.</li>
                </ul>
                <p>The company shall not be liable for delays in processing deposits and withdrawals if such delays are caused by the payment system or bank system.</p>
                <ul>
                    <li>The company retains the right to change the processing time for deposits and withdrawals without notifying clients in advance.</li>
                    <li>The company may place limits on the payment systems available to clients from certain countries.</li>
                    <li>The Company has the right to investigate, cancel, and/ or impose fees/ charges (dependant on payment method) on any withdrawal request originating from a trading account with no trading activity.</li>
                </ul>
                <div class="small text-secondary"><i class="icon ion-md-time"></i> <em>{{'Last updated:' | translate}} 2020/01/10 11:29</em></div>
            </div>

            <div class="modal-body" *ngIf="locale == language.japan">
                <h4 class="text-primary">I.入金。</h4>
                <ul class="list-default">
                    <li>入金は原則として24時間年中無休で行うことができます。</li>
                    <li>
                        お客様は以下の方法により入金することができます。
                        <ul>
                            <li>クイック入金:</li>
                            こちらのシステムを介して入金することにより自動的に取引口座に反映されます。
                            <li>通常銀行振込：</li>
                            こちらは当社財務部が銀行入金を当日9時～15時まで確認し反映するためお時間がかかります。
                        </ul>
                    </li>
                    <li>是非クイック入金をご利用ください。なお最低入金額は1回{{minWithDraw | number}}円です。</li>
                </ul>
                <h4 class="text-primary">II.出金。</h4>
                <ul>
                    <li>出金は、お客様名義の口座以外に出金することが出来ません。</li>
                    <li>当日の15時までにご出金依頼を頂いた場合、当日を含め遅くとも3営業日後の15時までにお客様の銀行口座に振込手続きをいたします。</li>
                    <li>15時を過ぎるご出金依頼は翌日扱いとさせていただきます。
                        尚、出金のご依頼を頂くと取引口座からその資金は使えなくなります。</li>
                    <li>お客様の銀行口座への着金までには時間がございますので、リスク管理にはご留意いただけますようお願いいたします。</li>
                    <li>また、原則、１回の最低出金額は、全額出金する場合を除いて{{minWithDraw | number}}円とさせていただきます。</li>
                    <li>逆に１回の最高出金額は1億円未満とさせていただきます。
                        最大出金可能金額は以下の計算式から算出できます。</li>
                        残高（預り金）－評価損（評価益は加算となりません）－必要証拠金＜1億円
                        ただし最大出金可能金額を出金依頼すると即時にロスカットになる可能性が高いので余裕をもってご出金依頼して下さい。
                        初めてのご出金は、初めての入金から48時間経過する必要があります。
                </ul>
                <p>支払いシステムまたは銀行システムによって遅延が生じた場合、当社は入金および出金の処理の遅延について責任を負わないものとします。</p>
                <ul>
                    <li>なお当社はお客様に事前に通知することなく、こちらの入出金に関する一般規則を変更することが出来るものとします。</li>
                    <li>また法令順守の観点から出金に制限を課す場合があります。</li>
                    <li>最後に取引活動のない取引口座からの出金依頼に対して調査確認、拒否または振込手数料を課す場合があります。</li>
                </ul>
                <div class="small text-secondary"><i class="icon ion-md-time"></i> <em>{{'Last updated:' | translate}} 2020/01/10 11:29</em></div>
            </div>
            <div class="modal-footer pt-1 pb-1 text-right bg-light">
                <button type="button" class="btn btn-primary pl-4 pr-4 btn-confirm" data-dismiss="modal">I got it</button>
            </div>
        </div>
    </div>
</div>
<ng4-loading-spinner [timeout]="30000"> </ng4-loading-spinner>
