<div class="container">
    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="javascript:;">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Deposit</li>
        </ol>
    </nav> -->
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="card bg-white mb-3 shadow">
                <div class="card-body">
                    <h6>{{'Select payment method' | translate}}</h6>
                    <nav class="mb-0">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-billing-tab" data-toggle="tab" href="#nav-billing" role="tab" aria-controls="nav-billing" aria-selected="true"><strong>{{'Quick deposit' | translate}}</strong></a>
                            <a class="nav-item nav-link" id="nav-bank-tab" data-toggle="tab" href="#nav-bank" role="tab" aria-controls="nav-bank" aria-selected="true" (click)="getBankCompany()"><strong>{{'Bank Tranfer' | translate}}</strong></a>
                        </div>
                    </nav>
                    <div class="tab-content border-0 p-0 pt-3 mb-3" id="nav-tabContent">
                        <!-- BEGIN BBILLING SYSTEM -->
                        <div class="tab-pane show active" id="nav-billing" role="tabpanel" aria-labelledby="nav-billing-tab">
                            <div class="row">
                                <div class="col-md-6 col-lg-7">
                                    <div class="p-3 border mb-3 form form-line bg-light">
                                        <h5 class="text-primary mb-2">{{'MT5 Information' | translate}}</h5>
                                        <div class="d-flex flex-wrap justify-content-between align-items-center mb-2">
                                            <div class="d-flex align-items-center">
                                                <label class="label mb-0 mr-2 pt-1">{{'Trading account' | translate}}</label>
                                                <div class="d-inline-block">
                                                    <select class="form-control form-control-sm mb-0 bg-none" (change)="changeTradingAccount()" [(ngModel)]="accountID" style="min-width: 160px;">
                                                    <option *ngFor="let item of listTradingAccount" value="{{item?.account_id}}">{{item?.value}}</option>
                                                  </select>
                                                </div>
                                                <img *ngIf="tradingAccount" class="ml-1 pt-1" src="{{tradingAccount?.img_type_account}}" width="45" height="35">
                                            </div>
                                            <div class="pt-1"><label class="label mb-0 mr-2 d-inline">{{'Currency' | translate}}:</label> <strong>{{tradingAccount?.currency}}</strong></div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Balance' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.balance | number}}</strong>
                                            </div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Used Margin' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.used_margin | number}}</strong>
                                            </div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Equity' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.equity | number}}</strong>
                                            </div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Withdrawable amount' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.free_margin | number}}</strong>
                                            </div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Margin Maintenance Rate' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.margin_level | number: '1.2-2'}}%</strong>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="mr-2" (click)="onRefesh()"><a href="javascript:;" class="btn-link-24"><i
                                                        class="icon ion-md-refresh-circle mr-1"></i></a></div>
                                            <div class="small text-secondary"><i class="icon ion-md-time"></i> <em> {{lastestTime}}</em></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-5">
                                    <h4 class="text-primary border-bottom pb-1 mb-3 title-deposit">{{'Deposit Transactions' | translate}}
                                    </h4>
                                    <div [formGroup]="depositTransactionForm" class="form form-line">
                                        <div class="form form-line">
                                            <div class="mb-3">
                                                <label class="label">{{'Deposit Amount' | translate}}</label>
                                                <input maxlength="15" type="text" name="amount" 
                                                formControlName="deposit" currency
                                                [ngClass]="{'invalid': isSubmitted && depositTransactionForm.controls['deposit'].errors}" class="form-control form-control-lg text-right font-weight-bold text-warning deposit"
                                                    autocomplete="off" value="10,000" placeholder="">
                                            </div>
                                            <div *ngIf="depositError == true" class="invalid-mess">
                                                <div *ngIf="locale == 'en_US'">Minimum amount is not below {{minDeposit | number}}</div>
                                                <div *ngIf="locale == 'ja_JP'">ご入金額は{{minDeposit | number}}円以上から承ります</div>
                                            </div>
                                            <div class="mb-1 d-flex justify-content-between align-items-center">
                                                <label class="label">{{'Bank' | translate}}</label>
                                                <div>
                                                    <div class="d-inline-block">
                                                        <select
                                                        class="form-control form-control-sm mb-0 bg-none"
                                                        formControlName="bankCode"
                                                        (change)="changeBankDeposit()" style="min-width: 160px;">
                                                        <option *ngIf="showUFJBank == true" value="0008">{{'Mitsubishi UFJ' | translate}}</option>
                                                        <!-- <option value="0008">{{'UFJ bank' | translate}}</option> -->
                                                        <option value="0009">{{'Sumitomo Mitsui' | translate}}</option>
                                                        <option value="0003">{{'Mizuho' | translate}}</option>
                                                        <option value="0036">{{'Rakuten' | translate}}</option>
                                                        <option value="0033">{{'Japan Net' | translate}}</option>
                                                      </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-1 d-flex justify-content-between">
                                                <label class="label">{{'Currency' | translate}}</label>
                                                <div>
                                                    <strong>{{tradingAccount?.currency}}</strong>
                                                </div>
                                            </div>
                                            <div class="mb-1 d-flex justify-content-between align-items-center">
                                                <label class="label">{{'Deposit fee' | translate}}</label>
                                                <div><strong>0</strong></div>
                                            </div>
                                            <div class="mb-1 d-flex justify-content-between align-items-center">
                                                <label class="label">{{'Total Amount' | translate}}</label>
                                                <div><strong>{{totalAmount | number}}</strong></div>
                                            </div>
                                            <div class="mb-1 d-flex justify-content-between align-items-center">
                                                <label class="label">{{'Margin maintenance rate estimate after deposit' | translate}}</label>
                                                <div><strong>{{marginLevelEstimate | number: '1.2-2'}}%</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="small text-secondary p-2 bg-light" *ngIf="locale == language.english">Notice: Minimum single deposit amount is {{minDeposit | number}}</p>
                                    <p class="small text-secondary p-2 bg-light" *ngIf="locale == language.japan">※最低入金額は{{minDeposit | number}}円となります。</p>
                                    <div *ngIf="errMessageQuickDeposit == true" class="invalid-mess">
                                        <div>{{'Your Margin Level is nearly the Margin Call Levels' | translate}}</div>
                                    </div>
                                    <button class="btn btn-warning btn-block text-uppercase btn-lg mb-3" (click)="onSubmit()"><strong>{{'Deposit' | translate}}</strong></button>
                                    <p class="text-center" style="line-height: 1.2"><a href="javascript:;" (click)="openModal()"><i
                                                class="icon ion-md-information-circle"></i> {{'General rules for depositing and withdrawing funds' | translate}}</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- END BILLING SYSTEM -->
                        <!-- BEGIN BANK ACCOUNT -->
                        <div class="tab-pane fade show" id="nav-bank" role="tabpanel" aria-labelledby="nav-bank-tab">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="list-banks-wrapper">
                                        <!-- <ul class="idTabs list-banks">
                                            <ng-container *ngFor="let bank of listBankTranfer;let i = index">
                                                <li (click)="showInforBank('bank_' + bank?.id)" class="bank-item">
                                                    <a id="bank_{{bank?.id}}">
                                                        <div class="text-center">
                                                            <div><img src="assets/images/bank_logo/ufj.png" alt="Mizuho Bank" class="bank_logo"></div>
                                                            <div class="d-none">Tokyo-Mitsubishi UFJ Bank</div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ng-container>
                                        </ul> -->
                                        <ul class="idTabs list-banks">
                                            <ng-container *ngFor="let item of listBankTranfer">
                                                <li (click)="showInforBank('三菱ＵＦＪ', item)" class="bank-item" *ngIf="item?.name == '三菱ＵＦＪ'">
                                                    <a id="三菱ＵＦＪ">
                                                        <div class="text-center">
                                                            <div><img src="assets/images/bank_logo/ufj.png"
                                                                    alt="Mizuho Bank" class="bank_logo scale_img"></div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li (click)="showInforBank('みずほ', item)" class="bank-item" *ngIf="item?.name == 'みずほ'">
                                                    <a id="みずほ">
                                                        <div class="text-center">
                                                            <div><img src="assets/images/bank_logo/mizuho.png"
                                                                    alt="Mizuho Bank" class="bank_logo"></div>
                                                            <div class="d-none">Mizuho Bank</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li (click)="showInforBank('三井住友', item)" class="bank-item" *ngIf="item?.name == '三井住友'">
                                                    <a id="三井住友">
                                                        <div class="text-center">
                                                            <div><img src="assets/images/bank_logo/smbc.png"
                                                                    alt="Mizuho Bank" class="bank_logo"></div>
                                                            <div class="d-none">Sumitomo Mitsui Bank</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li (click)="showInforBank('ゆうちょ', item)" class="bank-item" *ngIf="item?.name == 'ゆうちょ'">
                                                    <a id="ゆうちょ">
                                                        <div class="text-center">
                                                            <div><img src="assets/images/bank_logo/jpb.png"
                                                                    alt="Japan Post Bank" class="bank_logo"></div>
                                                            <div class="d-none">Japan Post Bank</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li (click)="showInforBank('ジャパンネット', item)" class="bank-item" *ngIf="item?.name == 'ジャパンネット'">
                                                    <a id="ジャパンネット">
                                                        <div class="text-center">
                                                            <div><img src="assets/images/bank_logo/jnb.png"
                                                                    alt="Mizuho Bank" class="bank_logo"></div>
                                                            <div class="d-none">Japan Net Bank</div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li (click)="showInforBank('楽天', item)" class="bank-item" *ngIf="item?.name == '楽天'">
                                                    <a id="楽天">
                                                        <div class="text-center">
                                                            <div><img src="assets/images/bank_logo/rakuten.png"
                                                                    alt="Mizuho Bank" class="bank_logo"></div>
                                                            <div class="d-none">Rakuten Bank</div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </div>
                                    <p class="mb-1"><strong>{{'Please transfer to the following account.' | translate}}</strong></p>
                                    <p class="mb-1"><strong>{{'As soon as we confirm the payment, we will notify you of the payment.' | translate}}</strong></p>
                                    <p class="mb-1 text-danger"><strong>{{'Please note that we can only accept the name of the transfer person who is the same as the name of our registered account.' | translate}}</strong></p>
                                    <p class="mb-1 text-danger"><strong>{{'Please be sure to enter our trading account number (10 digits) of the deposit destination after the name of the transfer person. If you do not specify a deposit destination trading account, we will arbitrarily select an account.' | translate}}</strong></p>
                                    <!-- <ng-container *ngFor="let item of listBankTranfer;let i = index">
                                        <div id="bank_{{item?.id}}" class="mb-2">
                                            <table class="table border table-sm" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="120">銀行名</td>
                                                        <td><strong>{{item?.name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店名</td>
                                                        <td><strong>{{item?.branch_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店番号</td>
                                                        <td><strong>{{item?.branch_code}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座種類</td>
                                                        <td><strong>{{item?.fx_acc_type}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座番号</td>
                                                        <td><strong>{{item?.acc_number}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座名義</td>
                                                        <td><strong>{{item?.acc_holder_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>通貨</td>
                                                        <td><strong>{{item?.currency}}</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </ng-container> -->
                                    <ng-container *ngFor="let item of listBankTranfer">
                                    <div id="{{item?.name}}" class="mb-2">
                                            <table class="table border table-sm" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="120">銀行名</td>
                                                        <td><strong>{{item?.name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店名</td>
                                                        <td><strong>{{item?.branch_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店番号</td>
                                                        <td><strong>{{item?.branch_code}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座種類</td>
                                                        <td><strong>{{item?.fx_acc_type | convertAccTypeBank}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座番号</td>
                                                        <td><strong>{{item?.acc_number}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座名義</td>
                                                        <td><strong>{{item?.acc_holder_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>通貨</td>
                                                        <td><strong>{{item?.currency}}</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                    </div>
                                </ng-container>

                                    <!-- <div id="みずほ" class="mb-2">
                                        <ng-container *ngFor="let item of listBankTranfer">
                                            <table *ngIf="item?.name == 'みずほ'" class="table border table-sm" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="120">銀行名</td>
                                                        <td><strong>{{item?.name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店名</td>
                                                        <td><strong>{{item?.branch_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店番号</td>
                                                        <td><strong>{{item?.branch_code}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座種類</td>
                                                        <td><strong>{{item?.fx_acc_type | convertAccTypeBank}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座番号</td>
                                                        <td><strong>{{item?.acc_number}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座名義</td>
                                                        <td><strong>{{item?.acc_holder_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>通貨</td>
                                                        <td><strong>{{item?.currency}}</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-container>
                                    </div>
                                    <div id="三井住友" class="mb-2">
                                        <ng-container *ngFor="let item of listBankTranfer">
                                            <table *ngIf="item?.name == '三井住友'" class="table border table-sm" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="120">銀行名</td>
                                                        <td><strong>{{item?.name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店名</td>
                                                        <td><strong>{{item?.branch_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店番号</td>
                                                        <td><strong>{{item?.branch_code}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座種類</td>
                                                        <td><strong>{{item?.fx_acc_type | convertAccTypeBank}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座番号</td>
                                                        <td><strong>{{item?.acc_number}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座名義</td>
                                                        <td><strong>{{item?.acc_holder_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>通貨</td>
                                                        <td><strong>{{item?.currency}}</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-container>
                                    </div>
                                    <div id="ゆうちょ" class="mb-2">
                                        <ng-container *ngFor="let item of listBankTranfer">
                                            <table *ngIf="item?.name == 'ゆうちょ'" class="table border table-sm" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="120">銀行名</td>
                                                        <td><strong>{{item?.name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店名</td>
                                                        <td><strong>{{item?.branch_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店番号</td>
                                                        <td><strong>{{item?.branch_code}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座種類</td>
                                                        <td><strong>{{item?.fx_acc_type | convertAccTypeBank}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座番号</td>
                                                        <td><strong>{{item?.acc_number}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座名義</td>
                                                        <td><strong>{{item?.acc_holder_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>通貨</td>
                                                        <td><strong>{{item?.currency}}</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-container>
                                    </div>
                                    <div id="ジャパンネット" class="mb-2">
                                        <ng-container *ngFor="let item of listBankTranfer">
                                            <table *ngIf="item?.name == 'ジャパンネット'" class="table border table-sm" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>

                                                        <td width="120">銀行名</td>
                                                        <td><strong>{{item?.name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店名</td>
                                                        <td><strong>{{item?.branch_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店番号</td>
                                                        <td><strong>{{item?.branch_code}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座種類</td>
                                                        <td><strong>{{item?.fx_acc_type | convertAccTypeBank}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座番号</td>
                                                        <td><strong>{{item?.acc_number}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座名義</td>
                                                        <td><strong>{{item?.acc_holder_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>通貨</td>
                                                        <td><strong>{{item?.currency}}</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-container>
                                    </div>
                                    <div id="楽天" class="mb-2">
                                        <ng-container *ngFor="let item of listBankTranfer">
                                            <table *ngIf="item?.name == '楽天'" class="table border table-sm" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="120">銀行名</td>
                                                        <td><strong>{{item?.name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店名</td>
                                                        <td><strong>{{item?.branch_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店番号</td>
                                                        <td><strong>{{item?.branch_code}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座種類</td>
                                                        <td><strong>{{item?.fx_acc_type | convertAccTypeBank}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座番号</td>
                                                        <td><strong>{{item?.acc_number}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座名義</td>
                                                        <td><strong>{{item?.acc_holder_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>通貨</td>
                                                        <td><strong>{{item?.currency}}</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </ng-container>
                                    </div> -->
                                </div>
                                <div class="col-lg-5">
                                    <div class="p-3 border mb-3 form form-line bg-light">
                                        <h5 class="text-primary mb-2"><strong>MT5</strong> {{'Information' | translate}}</h5>
                                        <div class="mb-1 d-flex justify-content-between align-items-center">
                                            <label class="label">{{'Trading account' | translate}}</label>
                                            <div style="display: inherit">
                                                <select [(ngModel)]="accountID" (change)="changeTradingAccount()" class="form-control form-control-sm" style="min-width: 80px;background: none;">
                                                <option *ngFor="let item of listTradingAccount" value="{{item?.account_id}}">{{item?.value}}</option>
                                              </select>
                                            <img *ngIf="tradingAccount" class="ml-1 pt-1" src="{{tradingAccount?.img_type_account}}" width="45" height="35">
                                            </div>
                                        </div>

                                        <!-- <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Balance' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.balance | number}}</strong>
                                            </div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Margin Level' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.margin_level | number}}%</strong>
                                            </div>
                                        </div> -->

                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Balance' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.balance | number}}</strong>
                                            </div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Used Margin' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.used_margin | number}}</strong>
                                            </div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Equity' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.equity | number}}</strong>
                                            </div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Withdrawable amount' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.free_margin | number}}</strong>
                                            </div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Margin Level' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.margin_level | number: '1.2-2'}}%</strong>
                                            </div>
                                        </div>



                                        <div class="d-flex align-items-center">
                                            <div class="mr-2" (click)="onRefesh()"><a href="javascript:;" class="btn-link-24"><i
                                                        class="icon ion-md-refresh-circle mr-1"></i> </a></div>
                                            <div class="small text-secondary"><i class="icon ion-md-time"></i> <em>{{lastestTime}}</em></div>
                                        </div>
                                    </div>
                                    <div class="p-3 border mb-3 shadow">
                                        <h5 class="text-primary mb-3"><i class="icon ion-md-calculator"></i> {{'Bank transfer information' | translate}}</h5>
                                        <div [formGroup]="depositAmountForm" class="form form-line">
                                            <div class="form form-line">
                                                <div class="mb-3">
                                                    <label class="label">{{'Name' | translate}}</label>
                                                    <input type="text" disabled formControlName="cusName" autocomplete="off"
                                                        class="form-control form-control text-left" placeholder="">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="label">{{'Trading account' | translate}}</label>
                                                    <input type="text" disabled formControlName="tradingAcount" autocomplete="off"
                                                        class="form-control form-control text-left" placeholder="">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="label">{{'Beneficiary Bank' | translate}}</label>
                                                    <input type="text" disabled formControlName="bankName" autocomplete="off"
                                                        class="form-control form-control text-left" placeholder="">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="label">{{'Datetime' | translate}}</label>
                                                    <input type="text" name="end-date"
                                                        [ngClass]="{'invalid': depositAmountForm?.controls?.dateTime?.errors}"
                                                        class="form-control date text-left"
                                                        placeholder="{{formatDateHour}}" #dp="bsDatepicker" bsDatepicker
                                                        formControlName="dateTime" autocomplete="off"
                                                        (onShown)="onShowPicker($event, 'To')"
                                                        [bsConfig]="{ showWeekNumbers:false, dateInputFormat: formatDateHour, containerClass: 'theme-blue' }">
                                                        <div *ngIf="depositAmountForm?.controls?.dateTime?.errors" class="invalid-mess">
                                                            <div>{{'This field is required' | translate}}</div>
                                                        </div>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="label">{{'Deposit Amount' | translate}}</label>
                                                    <input [ngClass]="{'invalid': bankTransferError}"
                                                        maxlength="15" type="text" name="amount" formControlName="deposit" currency autocomplete="off"
                                                        class="form-control form-control-lg text-right font-weight-bold text-warning" placeholder="">
                                                </div>
                                                <div class="mb-3 text-right">
                                                    <span>{{tradingAccount?.currency}}</span>
                                                </div>
                                                <div *ngIf="bankTransferError == true" class="invalid-mess">
                                                    <div *ngIf="locale == 'en_US'">Minimum amount is not below {{minDeposit | number}}</div>
                                                    <div *ngIf="locale == 'ja_JP'">ご入金額は{{minDeposit | number}}円以上から承ります</div>
                                                </div>
                                                <div *ngIf="errMessageBankTran == true" class="invalid-mess">
                                                    <div>{{'Your Margin Level is nearly the Margin Call Levels' | translate}}</div>
                                                </div>
                                                <!-- <div class="mb-1 d-flex justify-content-between">
                                                    <label class="label">{{'Currency' | translate}}</label>
                                                    <div>
                                                        <strong>{{tradingAccount?.currency}}</strong>
                                                    </div>
                                                </div>
                                                <div class="mb-1 d-flex justify-content-between align-items-center">
                                                    <label class="label">{{'Margin Level estimate after deposit' | translate}}</label>
                                                    <div>{{marginLevelEstimateBank | number: '1.2-2'}}%</div>
                                                </div> -->
                                                <button class="btn btn-success btn-block text-uppercase btn-lg mb-3 mt-4" (click)="onSubmitBankTransfer()"><strong>{{'Submit' | translate}}</strong></button>


                                            </div>
                                        </div>
                                    </div>
                                    <!-- <p class="small text-secondary p-2 bg-light" *ngIf="locale == language.english">Notice: Minimum single deposit amount is {{minDeposit | number}}</p>
                                    <p class="small text-secondary p-2 bg-light" *ngIf="locale == language.japan">※最低入金額は{{minDeposit | number}}円となります。</p> -->

                                    <p class="text-center" style="line-height: 1.2"><a href="javascript:;" (click)="openModal()"><i
                                                class="icon ion-md-information-circle"></i> {{'General rules for depositing and withdrawing funds' | translate}}</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- END BANK ACCOUNT -->
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="accountID">
                <app-list-transaction #listTran *ngIf="accountID" #listTran [accountID]="accountID" [tranType]="transactionType" (emitTabFromList)="getTabFromList($event)"></app-list-transaction>
            </ng-container>

        </div>
    </div>
</div>

<FORM  NAME="frm" hidden method="post"  action="{{bjpSystem}}">
    <input type="hidden" name="PORTAL_CODE" value="{{portalCode}}">
    <input type="hidden" name="SHOP_CODE" value="{{shopCode}}">
    <input type="hidden" name="BANK_CODE" value="{{bankCode}}">
    <input type="hidden" name="REMARKS_1" value="{{remark}}">
    <input type="hidden" name="CTRL_NO" value="{{controlNo}}">
    <input type="hidden" name="KESSAI_FLAG" value="{{kessaiFlag}}">
    <input type="hidden" name="TRAN_AMOUNT" value="{{depositValue}}">
    <input type="hidden" name="VALID_RETURN_URL" value="{{apiPostBack}}">
    <input type="hidden" name="INVALID_RETURN_URL" value="{{apiPostBack}}">
    <input #BJPSystem type="submit" value="Pay">
</FORM>

<app-modal-deposit-withdraw #modalRuleDeposit [minDeposit]="minDeposit" [minWithDraw]="minWithDraw" [tradingAccount]="tradingAccount"></app-modal-deposit-withdraw>

<ng4-loading-spinner [timeout]="30000"> </ng4-loading-spinner>

<!-- depositTransactionForm.controls.deposit.value -->
