<div class="container">
    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="javascript:;">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Deposit</li>
        </ol>
    </nav> -->
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="card bg-white mb-3 shadow">
                <div class="card-body">
                    <h6>{{'Select payment method' | translate}}</h6>
                    <nav class="mb-0">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-billing-tab" data-toggle="tab" href="#nav-billing" role="tab" aria-controls="nav-billing" aria-selected="true"><strong>{{'Quick deposit' | translate}}</strong></a>
                            <a class="nav-item nav-link" id="nav-bank-tab" data-toggle="tab" href="#nav-bank" role="tab" aria-controls="nav-bank" aria-selected="true" (click)="getDepositBank()"><strong>{{'Bank Tranfer' | translate}}</strong></a>
                        </div>
                    </nav>
                    <div class="tab-content border-0 p-0 pt-3 mb-3" id="nav-tabContent">
                        <!-- BEGIN BBILLING SYSTEM -->
                        <div class="tab-pane show active" id="nav-billing" role="tabpanel" aria-labelledby="nav-billing-tab">
                            <div class="row">
                                <div class="col-md-6 col-lg-7">
                                    <div class="p-3 border mb-3 form form-line bg-light">
                                        <h5 class="text-primary mb-2"><strong>MT5</strong> {{'Information' | translate}}</h5>
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <div class="d-flex align-items-center">
                                                <label class="label mb-0 mr-2 pt-1">{{'Trading account' | translate}}</label>
                                                <div class="d-inline-block">
                                                    <select class="form-control form-control-sm mb-0 bg-none" [(ngModel)]="accountID" disabled style="min-width: 160px;">
                                                    <option *ngFor="let item of listTradingAccount" value="{{item?.value}}">{{item?.value}}</option>
                                                  </select>
                                                </div>
                                            </div>
                                            <div class="pt-1"><label class="label mb-0 mr-2 d-inline">{{'Currency' | translate}}</label>: <strong>JPY</strong></div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Balance' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.balance | number}}</strong>
                                            </div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Used Margin' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.used_margin | number}}</strong>
                                            </div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Equity' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.equity | number}}</strong>
                                            </div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Withdrawable amount' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.free_margin | number}}</strong>
                                            </div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Margin Level' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.margin_level | number}}%</strong>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="mr-2" (click)="onRefesh()"><a href="javascript:;" class="btn-link-24"><i
                                                        class="icon ion-md-refresh-circle mr-1"></i></a></div>
                                            <div class="small text-secondary"><i class="icon ion-md-time"></i> <em> {{lastestTime}}</em></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-5">
                                    <h4 class="text-primary border-bottom pb-1 mb-3 title-deposit">{{'Deposit Transactions' | translate}}
                                    </h4>
                                    <div [formGroup]="depositTransactionForm" class="form form-line">
                                        <div class="form form-line">
                                            <div class="mb-3">
                                                <label class="label">{{'Deposit Amount' | translate}}</label>
                                                <input type="text" name="amount" formControlName="deposit" (change)="changeDeposit($event.target.value)" currency [ngClass]="{'invalid': isSubmitted && depositTransactionForm.controls['deposit'].errors}" class="form-control form-control-lg text-right font-weight-bold text-warning deposit"
                                                    autocomplete="off" value="10,000" placeholder="">
                                            </div>
                                            <div *ngIf="depositError == true" class="invalid-mess">
                                                <div>{{'Minimum amount is not below 1,000' | translate}}</div>
                                            </div>
                                            <div class="mb-1 d-flex justify-content-between">
                                                <label class="label">{{'Currency' | translate}}</label>
                                                <div>
                                                    <strong>JPY</strong>
                                                </div>
                                            </div>
                                            <div class="mb-1 d-flex justify-content-between align-items-center">
                                                <label class="label">{{'Deposit fee' | translate}}</label>
                                                <div><strong>0</strong></div>
                                            </div>
                                            <div class="mb-1 d-flex justify-content-between align-items-center">
                                                <label class="label">{{'Total Amount' | translate}}</label>
                                                <div><strong>{{totalAmount | number}}</strong></div>
                                            </div>
                                            <div class="mb-1 d-flex justify-content-between align-items-center">
                                                <label class="label">{{'Margin Level estimate' | translate}}</label>
                                                <div><strong>{{marginLevelEstimate}}%</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="small text-secondary p-2 bg-light">{{'Notice: Minimum single deposit amount is 1,000' | translate}} </p>
                                    <div *ngIf="errMessageQuickDeposit == true" class="invalid-mess">
                                        <div>{{'Your Margin Level is nearly the Margin Call Levels' | translate}}</div>
                                    </div>
                                    <button class="btn btn-warning btn-block text-uppercase btn-lg mb-3" (click)="onSubmit()"><strong>{{'Deposit' | translate}}</strong></button>
                                    <p class="text-center" style="line-height: 1.2"><a href="javascript:;" data-toggle="modal" data-target="#modal-rule"><i
                                                class="icon ion-md-information-circle"></i> {{'General rules for depositing and withdrawing funds' | translate}}</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- END BILLING SYSTEM -->
                        <!-- BEGIN BANK ACCOUNT -->
                        <div class="tab-pane fade show" id="nav-bank" role="tabpanel" aria-labelledby="nav-bank-tab">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="list-banks-wrapper">
                                        <ul class="idTabs list-banks">
                                            <ng-container *ngFor="let bank of listBankTranfer;let i = index">
                                                <li (click)="showInforBank('bank_' + bank?.id)" class="bank-item">
                                                    <a id="bank_{{bank?.id}}">
                                                        <div class="text-center">
                                                            <div><img src="assets/images/bank_logo/ufj.png" alt="Mizuho Bank" class="bank_logo"></div>
                                                            <div class="d-none">Tokyo-Mitsubishi UFJ Bank</div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ng-container>

                                        </ul>
                                    </div>
                                    <p class="mb-1"><strong>{{'Please find details for a wire transfer below:' | translate}}</strong></p>
                                    <ng-container *ngFor="let item of listBankTranfer;let i = index">
                                        <div id="bank_{{item?.id}}" class="mb-2">
                                            <table class="table border table-sm" cellpadding="0" cellspacing="0">
                                                <tbody>
                                                    <tr>
                                                        <td width="120">銀行名</td>
                                                        <td><strong>{{item?.name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店名</td>
                                                        <td><strong>{{item?.branch_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>支店番号</td>
                                                        <td><strong>{{item?.branch_code}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座種類</td>
                                                        <td><strong>{{item?.fx_acc_type}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座番号</td>
                                                        <td><strong>{{item?.acc_number}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>口座名義</td>
                                                        <td><strong>{{item?.acc_holder_name}}</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>通貨</td>
                                                        <td><strong>{{item?.currency}}</strong></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </ng-container>
                                    <div class="small font-italic text-secondary mt-2">
                                        <p class="mb-0">{{'※Warnings:' | translate}}</p>
                                        <ul class="reset">
                                            <li>{{'Please try to deposit funds in the same currency as your trading account, as we do not cover exchange rate costs.' | translate}}</li>
                                            <li>{{'Any bank transfers sent to Philip Showken must be made from a bank account registered in the client is full name, otherwise your funds may be returned to the source.' | translate}}</li>
                                        </ul>
                                    </div>
                                    <p>&nbsp;</p>
                                </div>
                                <div class="col-lg-5">
                                    <div class="p-3 border mb-3 form form-line bg-light">
                                        <h5 class="text-primary mb-2"><strong>MT5</strong> {{'Information' | translate}}</h5>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Trading account' | translate}}</label>
                                            <div>
                                                <select [(ngModel)]="accountID" disabled class="form-control form-control-sm" style="min-width: 80px;background: none;">
                                                <option *ngFor="let item of listTradingAccount" value="{{item?.value}}">{{item?.value}}</option>
                                              </select>
                                            </div>
                                        </div>

                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Balance' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.balance | number}}</strong>
                                            </div>
                                        </div>
                                        <div class="mb-1 d-flex justify-content-between">
                                            <label class="label">{{'Margin Level' | translate}}</label>
                                            <div>
                                                <strong>{{mt5Infor?.margin_level | number}}%</strong>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="mr-2" (click)="onRefesh()"><a href="javascript:;" class="btn-link-24"><i
                                                        class="icon ion-md-refresh-circle mr-1"></i> </a></div>
                                            <div class="small text-secondary"><i class="icon ion-md-time"></i> <em>{{lastestTime}}</em></div>
                                        </div>
                                    </div>
                                    <div class="p-3 border mb-3 shadow">
                                        <h5 class="text-primary mb-3"><i class="icon ion-md-calculator"></i> {{'Deposit Amount Calculation' | translate}}</h5>
                                        <div [formGroup]="depositAmountForm" class="form form-line">
                                            <div class="form form-line">
                                                <div class="mb-3">
                                                    <label class="label">{{'Deposit Amount' | translate}}</label>
                                                    <input type="text" name="amount" formControlName="deposit" currency autocomplete="off" class="form-control form-control-lg text-right font-weight-bold text-warning" (change)="changeDepositCal($event.target.value)" value="10,000" placeholder="">
                                                </div>
                                                <div *ngIf="bankError == true" class="invalid-mess">
                                                    <div>Minimum amount is not below 1,000</div>
                                                </div>
                                                <div class="mb-1 d-flex justify-content-between">
                                                    <label class="label">{{'Currency' | translate}}</label>
                                                    <div>
                                                        <strong>JPY</strong>
                                                    </div>
                                                </div>
                                                <div class="mb-1 d-flex justify-content-between align-items-center">
                                                    <label class="label">{{'Margin Level estimate' | translate}}</label>
                                                    <div>{{marginLevelEstimateBank}}%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="small text-secondary p-2 bg-light">{{'Notice: Minimum single deposit amount is 1,000' | translate}}</p>
                                    <div *ngIf="errMessageBankTran == true" class="invalid-mess">
                                        <div>Your Margin Level is nearly the Margin Call Level</div>
                                    </div>
                                    <p class="text-center" style="line-height: 1.2"><a href="javascript:;" data-toggle="modal" data-target="#modal-rule"><i
                                                class="icon ion-md-information-circle"></i> {{'General rules for depositing and withdrawing funds' | translate}}</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- END BANK ACCOUNT -->
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="accountID">
                <app-list-transaction *ngIf="accountID" #listTran [accountID]="accountID" [tranType]="transactionType"></app-list-transaction>
            </ng-container>

        </div>
    </div>
</div>
<FORM  NAME="frm" hidden method="post"  action="https://www.e5.billingjapan.co.jp/NASApp/bjp/PB71SelectBankServlet">
    <input type="hidden" name="PORTAL_CODE" value="000101">
    <input type="hidden" name="SHOP_CODE" value="0155200563">
    <input type="hidden" name="BANK_CODE" value="0003">
    <input type="hidden" name="CTRL_NO" value="{{controlNo}}">
    <input type="hidden" name="TRAN_AMOUNT" value="{{depositValue}}">
    <input type="hidden" name="VALID_RETURN_URL" value="https://afx-api.ecomedic.vn/api/v1/deposits/post_back/">
    <input type="hidden" name="INVALID_RETURN_URL" value="https://afx-api.ecomedic.vn/api/v1/deposits/post_back/">
    <input #BJPSystem type="submit" value="Pay">
</FORM>

<div class="modal fade" id="modal-rule" tabindex="-1" role="dialog" aria-labelledby="ruleTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header pt-2 pb-2">
                <h5 class="modal-title text-uppercase text-primary" id="ruleTitle"><i class="icon ion-md-list-box"></i> <strong>General rules for depositing and withdrawing funds</strong></h5>
            </div>
            <div class="modal-body">
                <h4 class="text-primary">I. Deposit.</h4>
                <ul class="list-default">
                    <li>Deposits may be made 24 hours a day, 7 days a week. </li>
                    <li>
                        Customers can deposit via the following forms:
                        <ul>
                            <li>Billing system</li>
                            <li>Bank transfer</li>
                        </ul>
                    </li>
                    <li>The minimum deposit amount is 10,000 JPY for one time.</li>
                </ul>
                <h4 class="text-primary">II. Withdraw al.</h4>
                <ul>
                    <li>Funds may only be withdrawn to owner accounts in order to ensure financial security and prevent money laundering.</li>
                    <li>Phillip will withdraw on your trading account and transfer to your bank account at the bank's working hours from 8:30 AM- 16:00 PM Monday to Friday.</li>
                    <li>Withdrawal order make over 16:00PM  will be forwarded the next day.</li>
                    <li>Minimum withdrawal amount of  10,000 JPY  for each withdrawal.</li>
                    <li>The maximum amount is  the total amount in your trading account.</li>
                    <li>The first withdrawal order must be enough 48 hours from the first deposit order.</li>
                </ul>
                <p>The company shall not be liable for delays in processing deposits and withdrawals if such delays are caused by the payment system or bank system.</p>
                <ul>
                    <li>The company retains the right to change the processing time for deposits and withdrawals without notifying clients in advance.</li>
                    <li>The company may place limits on the payment systems available to clients from certain countries.</li>
                    <li>The Company has the right to investigate, cancel, and/ or impose fees/ charges (dependant on payment method) on any withdrawal request originating from a trading account with no trading activity.</li>
                </ul>
                <div class="small text-secondary"><i class="icon ion-md-time"></i> <em>{{'Last updated:' | translate}} 2020/01/10 11:29</em></div>
            </div>
            <div class="modal-footer pt-1 pb-1 text-right bg-light">
                <button type="button" class="btn btn-primary pl-4 pr-4 btn-confirm" data-dismiss="modal">I got it</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-deposit-confirm" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header pt-2 pb-2">
                <div>
                    <h5 class="modal-title text-primary"><strong>Deposit infomation</strong></h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-sm" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td width="180" class="border-top-0">Trading account</td>
                            <td class="border-top-0"><strong>FX - 10000001</strong></td>
                        </tr>
                        <tr>
                            <td width="180">Type</td>
                            <td><strong>Deposit</strong></td>
                        </tr>
                        <tr>
                            <td width="180">Payment method</td>
                            <td><strong>Quick deposit</strong></td>
                        </tr>
                        <tr>
                            <td width="180">Remitter bank</td>
                            <td><strong>Mizuho Bank</strong></td>
                        </tr>
                        <tr>
                            <td width="180">Deposit amount</td>
                            <td><strong>20000</strong> <span class="small text-secondary">JPY</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="mt-1 text-right">
                    <button type="button" class="btn btn-primary pl-4 pr-4 btn-confirm" data-dismiss="modal">Confirm</button>
                </div>
            </div>

        </div>
    </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>

<!-- depositTransactionForm.controls.deposit.value -->
