<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="javascript:;">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Notifications</li>
        </ol>
    </nav>
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="row">
                <div class="col-md-3 col-lg-2">
                    <div class="nav flex-md-column nav-pills mb-3 filter-nav" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-all-tab" data-toggle="pill" href="#v-pills-all"
                            role="tab" aria-controls="v-pills-all" aria-selected="true">All</a>
                        <a class="nav-link" id="v-pills-important-tab" data-toggle="pill" href="#v-pills-important"
                            role="tab" aria-controls="v-pills-important" aria-selected="false">Important</a>
                        <a class="nav-link" id="v-pills-notifications-tab" data-toggle="pill"
                            href="#v-pills-notifications" role="tab" aria-controls="v-pills-notifications"
                            aria-selected="false">Notifications</a>
                        <a class="nav-link" id="v-pills-campaign-tab" data-toggle="pill" href="#v-pills-campaign"
                            role="tab" aria-controls="v-pills-campaign" aria-selected="false">Campaign</a>
                    </div>
                </div>
                <div class="col-md-9 col-lg-10">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-all" role="tabpanel"
                            aria-labelledby="v-pills-all-tab">
                            <h4><strong>All</strong> Notifications</h4>
                            <div class="list-notifications">
                                <!-- BEGIn Item -->
                                <div class="notification-item">
                                    <span class="badge badge-danger">Important</span>
                                    <div class="d-flex justify-content-between">
                                        <h5 class="item-title"><a href="javascript:;" data-toggle="modal"
                                                data-target="#modal-noti-example">The pre-contract document has been
                                                updated.</a></h5>
                                        <div class="item-meta">2020/01/17</div>
                                    </div>
                                    <div class="item-summary">We have updated all documents </div>
                                </div><!-- END Item -->
                                <!-- BEGIn Item -->
                                <div class="notification-item">
                                    <span class="badge badge-warning">System</span>
                                    <div class="d-flex justify-content-between">
                                        <h5 class="item-title"><a href="javascript:;">Technical maintenance</a></h5>
                                        <div class="item-meta">2020/01/17</div>
                                    </div>
                                    <div class="item-summary">Perform maintenance at 7：00～18：00。</div>
                                </div><!-- END Item -->
                                <!-- BEGIn Item -->
                                <div class="notification-item">
                                    <span class="badge badge-warning">System</span>
                                    <div class="d-flex justify-content-between">
                                        <h5 class="item-title"><a href="javascript:;">Delisting ISAT.UK, VIAB.US</a>
                                        </h5>
                                        <div class="item-meta">2019/07/11</div>
                                    </div>
                                    <div class="item-summary">We hereby inform you that in connection with the delisting
                                        of
                                        underlying instruments</div>
                                </div><!-- END Item -->
                                <!-- BEGIn Item -->
                                <div class="notification-item">
                                    <span class="badge badge-danger">Important</span>
                                    <div class="d-flex justify-content-between">
                                        <h5 class="item-title"><a href="javascript:;">The pre-contract document has been
                                                updated.</a></h5>
                                        <div class="item-meta">2019/07/11</div>
                                    </div>
                                    <div class="item-summary">We have updated all documents </div>
                                </div><!-- END Item -->
                                <!-- BEGIn Item -->
                                <div class="notification-item">
                                    <span class="badge badge-success">Campaign</span>
                                    <div class="d-flex justify-content-between">
                                        <h5 class="item-title"><a href="javascript:;">Cashback 100%</a></h5>
                                        <div class="item-meta">2019/07/11</div>
                                    </div>
                                    <div class="item-summary">Cashback up to 100%</div>
                                </div><!-- END Item -->
                            </div>
                            <nav class="border-top pt-3">
                                <ul class="pagination pagination-sm justify-content-end">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="tab-pane fade" id="v-pills-important" role="tabpanel"
                            aria-labelledby="v-pills-important-tab">
                            <h4><strong>Important</strong> Notifications</h4>
                        </div>
                        <div class="tab-pane fade" id="v-pills-notifications" role="tabpanel"
                            aria-labelledby="v-pills-notifications-tab">
                            <h4><strong>System</strong> Notifications</h4>
                        </div>
                        <div class="tab-pane fade" id="v-pills-campaign" role="tabpanel"
                            aria-labelledby="v-pills-campaign-tab">
                            <h4><strong>Campaign</strong> Notifications</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>