<div class="container">
    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="javascript:;">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Account</li>
        </ol>
    </nav> -->
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="row row-mypage">
                <div class="col-lg-3 col-mypage-sidebar">
                    <div class="card card-profile">
                        <!-- <div class="profile-image-wrap d-none d-lg-block">
                          <img src="assets/images/profile-image.png" class="card-img-top" alt="Profile Image">
                          <button class="btn btn-none btn-upload"><i class="icon ion-md-camera"></i></button>
                      </div> -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <!-- <div class="mr-3 d-lg-none"><img src="assets/images/profile-image-48x48.png" alt="Avatar John Doe" class="rounded-circle"></div> -->
                                <!-- <div>
                                    <h6 class="mb-0"><strong>{{userInfor?.name}}</strong></h6>
                                </div> -->
                            </div>

                        </div>
                    </div>
                    <nav class="mb-0">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-account-tab" data-toggle="tab" href="#nav-account" role="tab" (click)="changeTab(TAB.accountInfo)" aria-controls="nav-account" aria-selected="true"><i
                                    class="icon ion-md-person"></i> <strong class="d-none d-md-inline">{{'Account Information' | translate}}</strong></a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" (click)="changeTab(TAB.userInfo)" *ngIf="isCompany == 'false'" role="tab" aria-controls="nav-profile" aria-selected="true"><i
                                    class="icon ion-md-contact"></i> <strong class="d-none d-md-inline">{{'User Information' | translate}}</strong></a>
                            <a class="nav-item nav-link" id="nav-bank-tab" data-toggle="tab" href="#nav-corporate" role="tab" (click)="changeTab(TAB.corpInfo)" *ngIf="isCompany == 'true'" aria-controls="nav-corporate" aria-selected="false"><i class="icon ion-md-briefcase"></i> <strong
                                    class="d-none d-md-inline">{{'Corporate Information' | translate}}</strong></a>
                            <a class="nav-item nav-link" id="nav-bank-tab" data-toggle="tab" href="#nav-bank" role="tab" (click)="changeTab(TAB.withDrawal)" aria-controls="nav-bank" aria-selected="false"><i class="icon ion-md-card"></i> <strong
                                    class="d-none d-md-inline">{{'Withdrawal Account' | translate}}</strong></a>
                            <a class="nav-item nav-link" id="nav-setting-tab" data-toggle="tab" href="#nav-setting" role="tab" (click)="changeTab(TAB.setting)" (click)="openSetting()" aria-controls="nav-setting" aria-selected="false"><i
                                    class="icon ion-md-settings"></i> <strong
                                    class="d-none d-md-inline">{{'Setting' | translate}}</strong></a>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-9 col-mypage-content">
                    <div class="tab-content border" id="nav-tabContent">
                        <!-- BEGIN ACCOUNT -->
                        <div *ngIf="showTabMt5 == true" class="tab-pane fade show active" id="nav-account" role="tabpanel" aria-labelledby="nav-account-tab">
                            <app-mt5-info></app-mt5-info>
                        </div>
                        <!-- END ACCOUNT -->
                        <!-- BEGIN PROFILE -->
                        <div *ngIf="showTabUserInfo == true" class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <app-user-infor></app-user-infor>
                        </div>
                        <!-- END ACCOUNT -->
                        <!-- BEGIN Corporate -->
                        <div *ngIf="showTabCorpInfo == true" class="tab-pane fade" id="nav-corporate" role="tabpanel" aria-labelledby="nav-corporate-tab">
                            <app-corporate-info></app-corporate-info>
                        </div>
                        <!-- END Corporate -->
                        <!-- BEGIN BANK ACCOUNT -->
                        <div *ngIf="showTabWithDrawal == true" class="tab-pane fade" id="nav-bank" role="tabpanel" aria-labelledby="nav-bank-tab">
                            <app-bank-info></app-bank-info>
                        </div>
                        <!-- END BANK ACCOUNT -->

                        <!-- BEGIN SETTING -->
                        <div *ngIf="showTabSetting == true" class="tab-pane fade" id="nav-setting" role="tabpanel" aria-labelledby="nav-setting-tab" >
                            <form [formGroup]="changePassForm">
                            <h3 class="border-bottom pb-1 mb-3">{{'Setting' | translate}}</h3>
                            <h5 class="label mb-0"><strong>{{'Change Passwords' | translate}}</strong></h5>
                            <p class="small text-secondary">{{'It is a good idea to use a strong password that you are not using elsewhere' | translate}}</p>
                            <div class="row">
                                <div class="col-md-4 col-lg-3">
                                    <label class="label mt-1">{{'Current password' | translate}}</label>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <input type="password" class="form-control form-control-sm" formControlName="current_password" style="max-width: 240px" 
                                    autocomplete="off"
                                    [ngClass]="{'invalid': isSubmittedSetting && changePassForm.controls.current_password?.errors}">
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-3">
                                    &nbsp;
                                </div>
                                <!-- <div *ngIf="isSubmittedSetting && changePassForm?.controls?.current_password?.errors?.RequiredPass" class="invalid-mess col-md-8 col-lg-9">
                                    <div>{{'This field is required' | translate}}</div>
                                </div> -->
                                <div *ngIf="isSubmittedSetting && changePassForm?.controls?.current_password?.errors?.Required" class="invalid-mess col-md-8 col-lg-9">
                                        {{'This field is required' | translate}}
                                    </div>
                                    <div class="col-md-8 col-lg-9">
                                            <div *ngIf="isSubmittedSetting && changePassForm?.controls.current_password?.errors?.RequiredPass" class="invalid-mess">
                                                {{'Password requires 8 characters or more and has at least 1 alphabet letter' | translate}}
                                            </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-3">
                                    <label class="label mt-1">{{'New password' | translate}}</label>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <input type="password" class="form-control form-control-sm" formControlName="new_password" style="max-width: 240px" 
                                    autocomplete="off"
                                    [ngClass]="{'invalid': isSubmittedSetting && (changePassForm?.controls?.new_password?.errors || changePassForm?.controls?.new_password?.errors?.RequiredPass)}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-3">
                                    &nbsp;
                                </div>
                                <div *ngIf="isSubmittedSetting && changePassForm?.controls['new_password']?.errors?.Required" class="invalid-mess col-md-8 col-lg-9">
                                    {{'This field is required' | translate}}
                                </div>
                                <div class="col-md-8 col-lg-9">
                                        <div *ngIf="isSubmittedSetting && changePassForm?.controls['new_password']?.errors?.RequiredPass" class="invalid-mess">
                                            {{'Password requires 8 characters or more and has at least 1 alphabet letter' | translate}}
                                        </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-3">
                                    <label class="label mt-1">{{'Confirm password' | translate}}</label>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <input type="password" class="form-control form-control-sm" value=""
                                        formControlName="confirm_password" style="max-width: 240px" autocomplete="off"
                                        [ngClass]="{'invalid': isSubmittedSetting && (changePassForm.controls['confirm_password'].errors || changePassForm?.controls['confirm_password']?.errors?.RequiredPass)}">
                                    <div *ngIf="isSubmittedSetting && changePassForm?.controls['confirm_password']?.errors?.Required"
                                        class="invalid-mess">
                                        <div>{{'This field is required' | translate}}</div>
                                    </div>
                                    <div *ngIf="isSubmittedSetting && (this.changePassForm.controls.new_password.value !== this.changePassForm.controls.confirm_password.value)"
                                        class="invalid-mess">
                                        {{'New password and confirm password do not match' | translate}}
                                    </div>
                                    <div *ngIf="isSubmittedSetting && (this.changePassForm.controls.current_password.value === this.changePassForm.controls.confirm_password.value
                                                                && this.changePassForm.controls.new_password.value === this.changePassForm.controls.confirm_password.value)"
                                        class="invalid-mess">
                                        {{'Current password and new passwords cannot be the same' | translate}}
                                    </div>
                                    <div *ngIf="successPassword == true" class="text-success pt-2">
                                        {{'You have successfully changed the password' | translate}}
                                    </div>
                                    <div *ngIf="errorPassword == true" class="invalid-mess">
                                        {{'Password incorrect' | translate}}
                                    </div>
                                    <div *ngIf="isSubmittedSetting && changePassForm?.controls['confirm_password']?.errors?.RequiredPass"
                                        class="invalid-mess">
                                        {{'Password requires 8 characters or more and has at least 1 alphabet letter' | translate}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-lg-3">
                                    &nbsp;
                                </div>

                                <div class="col-md-8 col-lg-9 pt-2">
                                    <button type="button" class="btn btn-save btn-success pl-3 pr-3" (click)="settingSave()">{{'Save' | translate}}</button>
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-2">
                                <div class="col-md-4 col-lg-3">
                                    <label class="label mt-1">{{'Font Size' | translate}}</label>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-secondary btn-sm btn-size-sm" data-size="sm" id="font-size-sm" (click)="changeFontSize('font-size-sm')">小</button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm btn-size-md" id="font-size-md" data-size="md" (click)="changeFontSize('font-size-md')">中</button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm btn-size-lg" id="font-size-lg" data-size="lg" (click)="changeFontSize('font-size-lg')">大</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 col-lg-3">
                                    <label class="label mt-1">{{'Language' | translate}}</label>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <select formControlName="language" (change)="changeLang($event.target.value)" class="form-control form-control-sm select2" style="max-width: 240px;">
                                      <option value="en_US">English</option>
                                      <option value="ja_JP">Japanese</option>
                                  </select>
                                </div>
                            </div>
                        </form>
                        </div>
                        <!-- END SETTING -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal save User -->
<div class="modal fade" id="modal-confirm-bank" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>{{'Do you want to save information?' | translate}}</p>
                <div>
                    <button type="button" class="btn btn-sm btn-success pl-3 pr-3">Ok</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary pl-3 pr-3" data-dismiss="modal">{{'Cancel' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>


<ng4-loading-spinner></ng4-loading-spinner>
