<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="javascript:;">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Account</li>
        </ol>
    </nav>
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="row row-mypage">
                <div class="col-lg-3 col-mypage-sidebar">
                    <div class="card card-profile">
                        <!-- <div class="profile-image-wrap d-none d-lg-block">
                          <img src="assets/images/profile-image.png" class="card-img-top" alt="Profile Image">
                          <button class="btn btn-none btn-upload"><i class="icon ion-md-camera"></i></button>
                      </div> -->
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <!-- <div class="mr-3 d-lg-none"><img src="assets/images/profile-image-48x48.png" alt="Avatar John Doe" class="rounded-circle"></div> -->
                                <div>
                                    <h6 class="mb-0"><strong>{{userInfor?.name}}</strong></h6>
                                    <!-- <p class="mb-0 text-secondary"><span class="text-primary">#123456</span> - STANDARD -->
                                    <!-- </p> -->
                                </div>
                            </div>

                        </div>
                    </div>
                    <nav class="mb-0">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-account-tab" data-toggle="tab" href="#nav-account" role="tab" aria-controls="nav-account" aria-selected="true"><i
                                    class="icon ion-md-person"></i> <strong class="d-none d-md-inline">{{'Account' | translate}}<span
                                        class="d-none d-lg-inline">{{'Infomation' | translate}}</span></strong></a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" (click)="getUserInfo()" *ngIf="isCompany == 'false'" role="tab" aria-controls="nav-profile" aria-selected="true"><i
                                    class="icon ion-md-contact"></i> <strong class="d-none d-md-inline">{{'User' | translate}}<span
                                        class="d-none d-lg-inline">{{'Infomation' | translate}}</span></strong></a>
                            <a class="nav-item nav-link" id="nav-bank-tab" data-toggle="tab" href="#nav-corporate" role="tab" (click)="getCorporateInfor()" *ngIf="isCompany == 'true'" aria-controls="nav-corporate" aria-selected="false"><i class="icon ion-md-briefcase"></i> <strong
                                    class="d-none d-md-inline">{{'Corporate' | translate}}<span
                                        class="d-none d-lg-inline">{{'Infomation' | translate}}</span></strong></a>
                            <a class="nav-item nav-link" id="nav-bank-tab" data-toggle="tab" href="#nav-bank" role="tab" aria-controls="nav-bank" aria-selected="false"><i class="icon ion-md-card"></i> <strong
                                    class="d-none d-md-inline">{{'Bank' | translate}}<span
                                        class="d-none d-lg-inline">{{'Account' | translate}}</span></strong></a>
                            <a class="nav-item nav-link" id="nav-setting-tab" data-toggle="tab" href="#nav-setting" role="tab" aria-controls="nav-setting" aria-selected="false"><i
                                    class="icon ion-md-settings"></i> <strong
                                    class="d-none d-md-inline">{{'Setting' | translate}}</strong></a>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-9 col-mypage-content">
                    <div class="tab-content border" id="nav-tabContent">
                        <!-- BEGIN ACCOUNT -->
                        <div class="tab-pane fade show active" id="nav-account" role="tabpanel" aria-labelledby="nav-account-tab">
                            <h4 class="border-bottom pb-1 mb-3">{{'Account Infomation' | translate}}</h4>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <div class="d-flex align-items-center">
                                            <div class="mr-2">
                                                {{'Tradding Accounts' | translate}}
                                            </div>
                                            <div class="d-inline-block">
                                                <select class="form-control form-control-sm mb-0" style="min-width: 160px;">
                                                <option>FX - 000001</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div>{{'Currency:' | translate}} <strong>JPY</strong></div>
                                    </div>
                                    <hr>
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-sm table-hover" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td>{{'Withdrawable amount' | translate}}</td>
                                                    <td class="text-right">
                                                        <strong>{{withdrawAmount?.withdraw_amount | number}}</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Withdrawal amount is pending</td>
                                                    <td class="text-right">
                                                        <strong>{{withdrawAmount?.withdraw_amount_pending | number}}</strong>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Balance</td>
                                                    <td class="text-right">
                                                        <strong>{{accountInfor?.balance | number}}</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>Used Margin</td>
                                                    <td class="text-right">
                                                        <strong>{{accountInfor?.used_margin | number}}</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>Free Margin</td>
                                                    <td class="text-right">
                                                        <strong>{{accountInfor?.free_margin | number}}</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>Equity</td>
                                                    <td class="text-right">
                                                        <strong>{{accountInfor?.equity | number}}</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>Margin Level</td>
                                                    <td class="text-right">
                                                        <strong>{{accountInfor?.margin_level | number}}%</strong></td>
                                                </tr>
                                                <tr>
                                                    <td>Unrealize PL</td>
                                                    <td class="text-right"><strong>0</strong></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="small text-secondary"><i class="icon ion-md-time"></i> <em>Last
                                                updated: {{accountInfor?.lastest_time | date:'yyyy/MM/dd'}}
                                                {{accountInfor?.lastest_time | date:'HH:mm'}}</em><br>The system automatically updates data after 1 minute</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END ACCOUNT -->
                        <!-- BEGIN PROFILE -->
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" [formGroup]="userForm">
                            <h4 class="border-bottom pb-1 mb-3">My Profile</h4>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="table-responsive">
                                        <table class="table table-sm table-borderless table-hover table-profile" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td width="150">Full name</td>
                                                    <td><strong>{{userInfor?.name}}</strong></td>
                                                    <td width="15">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>Date of birth</td>
                                                    <td><strong>{{userInfor?.fx_dob | date: 'yyyy/MM/dd'}}</strong></td>
                                                    <td width="15">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>Gender</td>
                                                    <td><strong>{{userInfor?.fx_gender}}</strong></td>
                                                    <td width="15">&nbsp;</td>
                                                </tr>
                                                <tr class="row-postcode">
                                                    <td>Postcode</td>
                                                    <td>
                                                        <div *ngIf="editAddress == false" class="currentvalue">
                                                            <strong>{{userInfor?.zip?.value}}</strong>
                                                            <div *ngIf="userInfor?.zip?.status == 0" class="status small"><span class="text-info"><i
                                                                        class="icon ion-md-hourglass"></i>
                                                                        Verificaion in process</span></div>
                                                        </div>
                                                        <div *ngIf="editAddress == true" class="editable">
                                                            <input type="text" name="postcode" formControlName="postCode" class="form-control form-control-sm mb-1" value="" placeholder="">
                                                        </div>
                                                    </td>
                                                    <td width="15">&nbsp;</td>
                                                </tr>
                                                <tr class="row-address need-verify">
                                                    <td>Address</td>
                                                    <td>
                                                        <div *ngIf="editAddress == false" class="currentvalue">
                                                            <div><strong>{{userInfor?.address?.value?.street2}},{{userInfor?.address?.value?.city}}</strong>
                                                            </div>
                                                            <div><strong>{{userInfor?.address?.value?.street}}</strong></div>
                                                            <div *ngIf="userInfor?.address?.status == 0" class="status small"><span class="text-info"><i
                                                                        class="icon ion-md-hourglass"></i> Verificaion in process</span></div>
                                                        </div>
                                                        <div *ngIf="editAddress == true" class="editable">
                                                            <div class="row no-gutters">
                                                                <div class="col-sm-6 pr-md-1">
                                                                    <select formControlName="searchPrefe" class="form-control form-control-sm mb-1 select2" style="width: 100%">
                                                                        <option [value]="prefecture">{{prefecture}}</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-sm-6 pl-md-1">
                                                                    <select formControlName="searchCountry" class="form-control form-control-sm mb-1 select2" style="width: 100%">
                                                                        <option [value]="county">{{county}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <input type="text" name="address" formControlName="house_numb" class="form-control form-control-sm mb-1" value="" placeholder="House number/Room number">
                                                            <div class="text-right">
                                                                <button type="button" (click)="cancelEdit('address')" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="15">
                                                        <a href="javascript:;" class="edit-link" *ngIf="editAddress == false && userInfor?.address?.status != 0" data-toggle="tooltip" data-placement="top" (click)="showEditField('address')" title="Edit Address"><i class="icon ion-md-create"></i></a>
                                                    </td>
                                                </tr>
                                                <tr class="row-email need-verify">
                                                    <td>Email</td>
                                                    <td>
                                                        <div *ngIf="editEmail == false" class="currentvalue">
                                                            <strong><a
                                                                    href="javascript:;">{{userInfor?.email?.value}}</a></strong>
                                                            <div *ngIf="userInfor?.email?.status == 0" class="status small"><span class="text-info"><i
                                                                        class="icon ion-md-hourglass"></i> Verificaion in process</span></div>
                                                        </div>
                                                        <div *ngIf="editEmail == true" class="editable">
                                                            <input type="text" name="email" formControlName="email" class="form-control form-control-sm mb-1" value="" placeholder="">
                                                            <div class="text-right">
                                                                <button type="button" (click)="cancelEdit('email')" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="15">
                                                        <a href="javascript:;" class="edit-link" *ngIf="editEmail == false && userInfor?.email?.status != 0" data-toggle="tooltip" data-placement="top" (click)="showEditField('email')" title="Edit Email"><i class="icon ion-md-create"></i></a>
                                                    </td>
                                                </tr>
                                                <tr class="row-phone">
                                                    <td>Phone</td>
                                                    <td>
                                                        <div *ngIf="editPhone == false" class="currentvalue">
                                                            <strong><a href="javascript:;">{{userInfor?.mobile}}</a></strong>
                                                            <div class="status d-none small"><span class="text-success"><i
                                                                        class="icon ion-md-checkmark"></i> Updated
                                                                </span></div>
                                                        </div>
                                                        <div *ngIf="editPhone == true" class="editable">
                                                            <input type="text" name="phone" formControlName="phone" class="form-control form-control-sm mb-1" value="+" placeholder="">
                                                            <div class="text-right">
                                                                <button type="button" (click)="cancelEdit('phone')" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="15"><a href="javascript:;" class="edit-link" *ngIf="editPhone == false" data-toggle="tooltip" data-placement="top" (click)="showEditField('phone')" title="Edit Phone"><i class="icon ion-md-create"></i></a>
                                                    </td>
                                                </tr>
                                                <!-- <tr class="row-language">
                                                    <td>Language</td>
                                                    <td>
                                                        <div *ngIf="editLanguage == false" class="currentvalue">
                                                            <strong>{{userInfor?.lang}}</strong>
                                                            <div class="status d-none small"><span
                                                                    class="text-success"><i
                                                                        class="icon ion-md-checkmark"></i>
                                                                    Updated</span></div>
                                                        </div>
                                                        <div *ngIf="editLanguage == true" class="editable">
                                                            <select class="form-control form-control-sm mb-1 select2" formControlName="language"

                                                                style="width: 100%">
                                                                <option [value]="country" *ngFor="let country of countries">{{country}}
                                                            </select>
                                                            <div class="text-right">
                                                                <button type="button" (click)="cancelEdit('lang')"
                                                                    class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="15"><a href="javascript:;" class="edit-link" *ngIf="editLanguage == false"
                                                            data-toggle="tooltip" data-placement="top" (click)="showEditField('lang')"
                                                            title="Edit Language"><i class="icon ion-md-create"></i></a>
                                                    </td>
                                                </tr> -->
                                                <tr class="row-action" *ngIf="showSave == true">
                                                    <td>&nbsp;</td>
                                                    <td>
                                                        <button type="button" data-toggle="modal" data-target="#modal-confirm" class="btn btn-save btn-success pl-3 pr-3">Save</button>
                                                    </td>
                                                    <td width="15">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END ACCOUNT -->
                        <!-- BEGIN Corporate -->
                        <div class="tab-pane fade" id="nav-corporate" role="tabpanel" aria-labelledby="nav-corporate-tab">
                            <h3 class="border-bottom pb-1 mb-3">Corporate Infomation</h3>
                            <div class="row" [formGroup]="corporateForm">
                                <div class="col-lg-8">
                                    <div class="table-responsive">
                                        <table class="table table-sm table-borderless table-hover table-profile" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td width="150">Corporate name</td>
                                                    <td><strong>{{corporateInfor?.corporation?.name}}</strong></td>
                                                    <td width="15">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>Corporate name (Furigana)</td>
                                                    <td><strong>{{corporateInfor?.corporation?.fx_name1}}</strong></td>
                                                    <td width="15">&nbsp;</td>
                                                </tr>
                                                <tr class="row-postcode">
                                                    <td>Postcode</td>
                                                    <td>
                                                        <div class="currentvalue" *ngIf="editCorAddress == false">
                                                            <strong>{{corporateInfor?.corporation?.zip?.value}}</strong>
                                                            <div class="status d-none small" *ngIf="corporateInfor?.corporation?.zip?.status == 0">
                                                                <span class="text-success"><i class="icon ion-md-checkmark">
                                                            </i> Updated</span></div>
                                                        </div>
                                                        <div class="editable" *ngIf="editCorAddress == true">
                                                            <input type="text" name="postcode" fromControlName="cor_postcode" class="form-control form-control-sm mb-1" value="0001234" placeholder="">
                                                        </div>
                                                    </td>
                                                    <td width="15">&nbsp;</td>
                                                </tr>
                                                <tr class="row-address need-verify">
                                                    <td>Address</td>
                                                    <td>
                                                        <div class="currentvalue" *ngIf="editCorAddress == false">
                                                            <div><strong>{{corporateInfor?.corporation?.address?.value?.city}} , {{corporateInfor?.corporation?.address?.value?.street}}</strong></div>
                                                            <div><strong>{{corporateInfor?.corporation?.address?.value?.street2}} - {{corporateInfor?.corporation?.address?.value?.fx_street3}}</strong></div>
                                                            <div class="status d-none small"><span class="text-info">
                                                            <i class="icon ion-md-hourglass" *ngIf="corporateInfor?.corporation?.address?.status == 0">
                                                            </i> Verificaion in process</span></div>
                                                        </div>
                                                        <div class="editable" *ngIf="editCorAddress == true">
                                                            <div class="row no-gutters">
                                                                <div class="col-sm-6 pr-md-1">
                                                                    <select class="form-control form-control-sm mb-1 select2" style="width: 100%" formControlName="cor_prefec">
                                                                      <option [value]="corPrefecture">{{corPrefecture}}</option>
                                                                  </select>
                                                                </div>
                                                                <div class="col-sm-6 pl-md-1">
                                                                    <select class="form-control form-control-sm mb-1 select2" style="width: 100%" formControlName="cor_district">
                                                                      <option [value]="corDistrict">{{corDistrict}}</option>
                                                                  </select>
                                                                </div>
                                                            </div>
                                                            <div class="row no-gutters">
                                                                <div class="col-sm-6 pr-md-1">
                                                                    <input type="text" name="cor-address" class="form-control form-control-sm mb-1" formControlName="cor_house" value="" placeholder="House Number">
                                                                </div>
                                                                <div class="col-sm-6 pl-md-1">
                                                                    <input type="text" name="cor-address" class="form-control form-control-sm mb-1" formControlName="cor_build" value="" placeholder="Building Name">
                                                                </div>
                                                            </div>
                                                            <div class="text-right">
                                                                <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('cor-address')">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="15">
                                                        <a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" *ngIf="editCorAddress == false && corporateInfor?.corporation?.address?.status != 0" title="Edit Address" (click)="showEditFieldCor('cor-address')"><i class="icon ion-md-create"></i></a>
                                                    </td>
                                                </tr>
                                                <tr class="row-phone">
                                                    <td>Phone</td>
                                                    <td>
                                                        <div class="currentvalue" *ngIf="editCorPhone == false">
                                                            <strong><a href="javascript:;">+{{corporateInfor?.corporation?.mobile}}</a></strong>
                                                            <div class="status d-none small"><span class="text-success"><i class="icon ion-md-checkmark"></i> Updated </span></div>
                                                        </div>
                                                        <div class="editable" *ngIf="editCorPhone == true">
                                                            <input type="text" name="cor-phone" class="form-control form-control-sm mb-1" value="+84389999999" placeholder="" formControlName="cor_phone">
                                                            <div class="text-right">
                                                                <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('cor-phone')">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Phone" (click)="showEditFieldCor('cor-phone')"><i class="icon ion-md-create"></i></a></td>
                                                </tr>
                                                <tr class="row-fax">
                                                    <td>Fax</td>
                                                    <td>
                                                        <div class="currentvalue" *ngIf="editCorFax == false">
                                                            <strong><a href="javascript:;">+{{corporateInfor?.corporation?.fx_fax?.value}}</a></strong>
                                                            <div class="status d-none small"><span class="text-success"><i class="icon ion-md-checkmark"></i> Updated </span></div>
                                                        </div>
                                                        <div class="editable" *ngIf="editCorFax == true">
                                                            <input type="text" name="cor-fax" class="form-control form-control-sm mb-1" value="+84389999999" placeholder="" formControlName="cor_fax">
                                                            <div class="text-right">
                                                                <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('cor-fax')">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Fax" (click)="showEditFieldCor('cor-fax')"><i class="icon ion-md-create"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <th colspan="3">Person in charge (PIC) information</th>
                                                </tr>
                                                <tr class="row-department">
                                                    <td width="150">Department</td>
                                                    <td>
                                                        <div class="currentvalue" *ngIf="editPersonBod == false">
                                                            <strong>{{corporateInfor?.pic?.fx_dept}}</strong>
                                                            <div class="status d-none small"><span class="text-success"><i class="icon ion-md-checkmark"></i> Updated </span></div>
                                                        </div>
                                                        <div class="editable" *ngIf="editPersonBod == true">
                                                            <input type="text" name="department" class="form-control form-control-sm mb-1" value="BOD" placeholder="" formControlName="person_bod">
                                                            <div class="text-right">
                                                                <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('department')">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Department" (click)="showEditFieldCor('department')"><i class="icon ion-md-create"></i></a></td>
                                                </tr>
                                                <tr class="row-pic-position">
                                                    <td width="150">PIC Position</td>
                                                    <td>
                                                        <div class="currentvalue" *ngIf="editPersonPic == false">
                                                            <strong>{{corporateInfor?.pic?.function}}</strong>
                                                            <div class="status d-none small"><span class="text-success"><i class="icon ion-md-checkmark"></i> Updated </span></div>
                                                        </div>
                                                        <div class="editable" *ngIf="editPersonPic == true">
                                                            <input type="text" name="pic-position" class="form-control form-control-sm mb-1" value="CEO" placeholder="PIC Position" formControlName="person_pic">
                                                            <div class="text-right">
                                                                <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('pic-position')">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit PIC Position" (click)="showEditFieldCor('pic-position')"><i class="icon ion-md-create"></i></a></td>
                                                </tr>
                                                <tr class="row-pic-name">
                                                    <td width="150">PIC Name</td>
                                                    <td>
                                                        <div class="currentvalue" *ngIf="editPersonPicname == false">
                                                            <strong>{{corporateInfor?.pic?.name}}</strong>
                                                            <div class="status d-none small"><span class="text-success"><i class="icon ion-md-checkmark"></i> Updated </span></div>
                                                        </div>
                                                        <div class="editable" *ngIf="editPersonPicname == true">
                                                            <input type="text" name="pic-name" class="form-control form-control-sm mb-1" value="Nguyễn Tuấn Anh" placeholder="PIC name" formControlName="per_picname">
                                                        </div>
                                                    </td>
                                                    <td width="15">&nbsp;</td>
                                                </tr>
                                                <tr class="row-pic-name-furi">
                                                    <td width="150">PIC name (furigana)</td>
                                                    <td>
                                                        <div class="currentvalue" *ngIf="editPersonPicname == false">
                                                            <strong>{{corporateInfor?.pic?.fx_name1}}</strong>
                                                            <div class="status d-none small"><span class="text-success"><i class="icon ion-md-checkmark"></i> Updated </span></div>
                                                        </div>
                                                        <div class="editable" *ngIf="editPersonPicname == true">
                                                            <input type="text" name="pic-name" class="form-control form-control-sm mb-1" value="グエン・トゥアン・アン" placeholder="PIC name" formControlName="person_picname2">
                                                            <div class="text-right">
                                                                <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('pic-name')">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit PIC Name" (click)="showEditFieldCor('pic-name')"><i class="icon ion-md-create"></i></a></td>
                                                </tr>
                                                <tr class="row-pic-gender">
                                                    <td width="150">PIC Gender</td>
                                                    <td>
                                                        <div class="currentvalue">
                                                            <strong>{{corporateInfor?.pic?.fx_gender?.value}}</strong>
                                                            <div class="status d-none small"><span class="text-success"><i class="icon ion-md-checkmark"></i> Updated </span></div>
                                                        </div>
                                                        <!-- <div class="editable">
                                                          <select class="form-control form-control-sm mb-1 select2" style="width: 100%" formControlName="person_gender">
                                                              <option>Male</option>
                                                              <option>Female</option>
                                                          </select>
                                                      </div> -->
                                                    </td>
                                                    <td width="15">&nbsp;</td>
                                                </tr>
                                                <tr class="row-phone">
                                                    <td>Phone</td>
                                                    <td>
                                                        <div class="currentvalue" *ngIf="editPersonPhone == false">
                                                            <strong><a href="javascript:;">+{{corporateInfor?.pic?.mobile}}</a></strong>
                                                            <div class="status d-none small"><span class="text-success"><i class="icon ion-md-checkmark"></i> Updated </span></div>
                                                        </div>
                                                        <div class="editable" *ngIf="editPersonPhone == true">
                                                            <input type="text" name="p-phone" class="form-control form-control-sm mb-1" value="+84123456789" placeholder="" formControlName="person_phone">
                                                            <div class="text-right">
                                                                <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('p-phone')">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Phone" (click)="showEditFieldCor('p-phone')"><i class="icon ion-md-create"></i></a></td>
                                                </tr>
                                                <tr class="row-email need-verify">
                                                    <td>Email</td>
                                                    <td>
                                                        <div class="currentvalue" *ngIf="editPersonEmail == false">
                                                            <strong><a href="javascript:;">{{corporateInfor?.pic?.email?.value}}</a></strong>
                                                            <div class="status d-none small" *ngIf="corporateInfor?.pic?.email?.status == 0"><span class="text-info">
                                                            <i class="icon ion-md-hourglass"></i> Verificaion in process</span></div>
                                                        </div>
                                                        <div class="editable" *ngIf="editPersonEmail == true">
                                                            <input type="text" name="p-email" class="form-control form-control-sm mb-1" value="chauchu@tamdongtam.vn" placeholder="" formControlName="person_email">
                                                            <div class="text-right">
                                                                <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('p-email')">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width="15">
                                                        <a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Email" (click)="showEditFieldCor('p-email')" *ngIf="editPersonEmail == false && corporateInfor?.pic?.email?.status != 0"><i class="icon ion-md-create"></i></a>
                                                    </td>
                                                </tr>
                                                <tr class="row-action">
                                                    <td>&nbsp;</td>
                                                    <td>
                                                        <button type="button" class="btn btn-save btn-success pl-3 pr-3" *ngIf="showSaveCor == true">Save</button>
                                                    </td>
                                                    <td width="15">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Corporate -->
                        <!-- BEGIN BANK ACCOUNT -->
                        <div class="tab-pane fade" id="nav-bank" role="tabpanel" aria-labelledby="nav-bank-tab">
                            <h4 class="border-bottom pb-1 mb-3">Bank Account</h4>
                        </div>
                        <!-- END BANK ACCOUNT -->

                        <!-- BEGIN SETTING -->
                        <div class="tab-pane fade" id="nav-setting" role="tabpanel" aria-labelledby="nav-setting-tab" [formGroup]="changePassForm">
                            <h3 class="border-bottom pb-1 mb-3">Setting</h3>
                            <h5 class="label mb-0"><strong>Change Passwords</strong></h5>
                            <p class="small text-secondary">It's a good idea to use a strong password that you're not using elsewhere</p>
                            <div class="row mb-2">
                                <div class="col-md-4 col-lg-3">
                                    <label class="label mt-1">Current password</label>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <input type="password" name="current_password" class="form-control form-control-sm" value="" formControlName="current_password" placeholder="" style="max-width: 240px">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 col-lg-3">
                                    <label class="label mt-1">New password</label>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <input type="password" name="new-password" class="form-control form-control-sm" value="" formControlName="new_password" placeholder="" style="max-width: 240px">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 col-lg-3">
                                    <label class="label mt-1">Confirm password</label>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <input type="password" name="confirm-password" class="form-control form-control-sm" value="" formControlName="confirm_password" placeholder="" style="max-width: 240px">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-lg-3">
                                    &nbsp;
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <button type="button" class="btn btn-save btn-success pl-3 pr-3" (click)="settingSave()">Save</button>
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-2">
                                <div class="col-md-4 col-lg-3">
                                    <label class="label mt-1">Font Size</label>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-secondary btn-sm btn-size-sm" data-size="sm">小</button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm btn-size-md active" data-size="md">中</button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm btn-size-lg" data-size="lg">大</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-4 col-lg-3">
                                    <label class="label mt-1">Language</label>
                                </div>
                                <div class="col-md-8 col-lg-9">
                                    <select (change)="changeLang($event.target.value)" class="form-control form-control-sm select2" style="max-width: 240px;">
                                      <option value="en">English</option>
                                      <option value="fr">English</option>
                                  </select>
                                </div>
                            </div>

                        </div>
                        <!-- END SETTING -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>Do you want to save information?</p>
                <div>
                    <button type="button" class="btn btn-sm btn-success pl-3 pr-3" (click)="onSubmit()" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary pl-3 pr-3" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>