::ng-deep .theme-blue .bs-datepicker-head {
  background-color: #0D688F !important;
}
.disableDatePicker {
  background: white !important;
}
:host ::ng-deep .ui-multiselected-item-token,
        :host ::ng-deep .ui-multiselected-empty-token {
            padding: 2px 4px;
            margin: 0 0.286em 0 0;
            display: inline-block;
            vertical-align:middle;
            height: 1.857em;
        }

        :host ::ng-deep .ui-multiselected-item-token {
            background: #007ad9;
            color: #ffffff;
        }

        :host ::ng-deep .ui-multiselected-empty-token {
            background: #d95f00;
            color: #ffffff;
        }
:host ::ng-deep .ui-chkbox-box,
    :host ::ng-deep .ui-multiselect-header{
    display: none;
}
:host ::ng-deep .ui-multiselect-label{
  width: 110px;
}
a {
  cursor: pointer;
}
.btn.btn-sm.btn-success.btn-outline-secondary.pt-0.pb-0 {
  color: white;
}
.btn.btn-sm.btn-success.btn-outline-secondary.pt-0.pb-0:hover {
  background-color: #0D688F !important;
  color: aliceblue !important;
}
.keep-all {
  word-break:keep-all
}
.form-group.mr-md-1.flex-grow-1 {
  min-width: 200px;
}

::ng-deep {
  .oi-caret-right{
      color: #777777;
  }
  .oi-caret-left{
      color: #777777;
  }
  .page-item {
      cursor: pointer;
      .page-link:hover {
          background: #0056B0 !important;
          color: white;
          
      }
  }
  .jp {
    bs-datepicker-navigation-view {
      display: flex;
      justify-content: space-between;
     
      button:nth-last-child(1) {
          order: 3
      }
      button:nth-last-child(3) {
          order: 1;
          span {
              margin-left: -96px;
              z-index: 999;
              position: relative;
          }
      }
      button:nth-last-child(4) {
          order: 0
      }
      button:nth-last-child(2):after {
          content: "年";
          z-index: 1;
          position: relative;
      }
  }
  }
  .min-150 {
    min-width: 150px !important;
  }
  
}

