<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="javascript:;">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">History</li>
        </ol>
    </nav>
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="row">
                <div class="col-md-3 col-lg-2">
                    <div class="nav flex-md-column nav-pills mb-3 filter-nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" #allTab id="v-pills-all-tab" data-toggle="pill" href="#v-pills-all" (click)="checkTab(TABS.ALL.value, 'call')" role="tab" aria-controls="v-pills-all" aria-selected="true">{{'All' | translate}}</a>
                        <a class="nav-link" #depositTab id="v-pills-deposit-tab" data-toggle="pill" href="#v-pills-all" (click)="checkTab(TABS.DEPOSIT.value, 'call')" role="tab" aria-controls="v-pills-deposit" aria-selected="false">{{'Deposit' | translate}}</a>
                        <a class="nav-link" #withdrawTab id="v-pills-withdrawal-tab" data-toggle="pill" href="#v-pills-all" (click)="checkTab(TABS.WITHDRAWAL.value, 'call')" role="tab" aria-controls="v-pills-withdrawal" aria-selected="false">{{'Withdraw' | translate}}</a>
                    </div>
                </div>
                <div class="col-md-9 col-lg-10">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all-tab">
                            <h3 class="mb-3" *ngIf="tab == 'ALL'"><i class="icon ion-md-time text-secondary"></i>{{'Deposit' | translate}} &amp; {{'Withdrawal History' | translate}}</h3>
                            <h3 class="mb-3" *ngIf="tab == 'DEPOSIT'"><i class="icon ion-md-time text-secondary"></i> Deposit History</h3>
                            <h3 class="mb-3" *ngIf="tab == 'WITHDRAWAL'"><i class="icon ion-md-time text-secondary"></i> Withdrawal History</h3>
                            <div [formGroup]="searchForm" class="form mb-3 form-search-box">
                                <div class="row">
                                    <div class="col-4 col-lg-3">
                                        <div class="form-group">
                                            <label class="label d-block mb-0">{{'Trading account' | translate}}</label>
                                            <select disabled formControlName="tradingAccount" class="form-control form-control-sm">
                                                <option *ngFor="let item of listTradingAccount" value="{{item?.account_id}}">
                                                    {{item.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-9 col-lg-4">
                                                <div class="form-group">
                                                    <label class="label d-none d-lg-block mb-0">&nbsp;</label>
                                                    <div class="btn-group d-flex">
                                                        <button type="button" (click)="setDate(DURATION.DAY)" class="btn btn-sm btn-outline-secondary">{{'Day' | translate}}</button>
                                                        <button type="button" (click)="setDate(DURATION.MONTH)" class="btn btn-sm btn-outline-secondary">{{'Month' | translate}}</button>
                                                        <button type="button" (click)="setDate(DURATION.YEAR)" class="btn btn-sm btn-outline-secondary">{{'Year' | translate}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label class="label d-block mb-0">{{'From' | translate}}</label>
                                                    <div class="input-wrapper">
                                                        <input type="text" name="start-date" class="form-control form-control-sm date" placeholder="YYYY/MM/DD" #dp="bsDatepicker" bsDatepicker formControlName="fromDate" (bsValueChange)="onValueChangeFrom($event)" autocomplete="off" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', containerClass: 'theme-blue' }">
                                                        <button type="button" class="btn btn-none btn-sm" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"><i
                                                                class="icon ion-md-calendar"></i></button>
                                                    </div>
                                                    <div *ngIf="showErrorDate == true" class="invalid-mess">
                                                        Period is incorrect, the to date must be greater than the from date
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label class="label d-block mb-0">{{'To' | translate}}</label>
                                                    <div class="input-wrapper">
                                                        <input type="text" name="end-date" class="form-control form-control-sm date" placeholder="YYYY/MM/DD" #dp2="bsDatepicker" bsDatepicker formControlName="toDate" autocomplete="off" (bsValueChange)="onValueChangeTo($event)" [bsConfig]="{ dateInputFormat: 'YYYY/MM/DD', containerClass: 'theme-blue' }">
                                                        <button type="button" class="btn btn-none btn-sm" (click)="dp2.toggle()" [attr.aria-expanded]="dp2.isOpen"><i
                                                                class="icon ion-md-calendar"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-2">
                                                <div class="form-group">
                                                    <label class="label d-none d-lg-block mb-0">&nbsp;</label>
                                                    <button (click)="searchTranHistory()" class="btn btn-success btn-search btn-block btn-sm">{{'Apply' | translate}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END Filter Banr -->
                            <div class="text-right small text-secondary">{{'Currency:' | translate}} <strong>JPY</strong></div>
                            <div class="table-responsive">
                                <table class="table table-sm table-hover mb-3" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0" width="120">{{'Transaction ID' | translate}}</th>
                                            <th class="border-top-0">{{'Date' | translate}}</th>
                                            <th class="border-top-0">{{'Type' | translate}}</th>
                                            <th class="border-top-0">{{'Payment method' | translate}}</th>
                                            <th class="border-top-0 text-right">{{'Amount' | translate}}</th>
                                            <th class="border-top-0 text-right" width="120">{{'Status' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container>
                                            <tr *ngFor="let item of listReport">
                                                <td><a href="javascript:;" (click)="openDetail(item?.id)">{{item?.id}}</a></td>
                                                <td>{{item?.create_date}}</td>
                                                <td>{{item?.funding_type}}</td>
                                                <td>{{item?.method}}</td>
                                                <td class="text-right">{{item?.amount}}</td>
                                                <td *ngIf="item?.status == 4" class="text-right"><span class="text-info"><i class="icon ion-md-hourglass"></i>
                                                    In progress</span></td>
                                                <td *ngIf="item?.status == 3" class="text-right"><span class="text-info"><i class="icon ion-md-hourglass"></i>
                                                        Pending</span></td>
                                                <td *ngIf="item?.status == 2" class="text-right"><span> Cancel</span></td>
                                                <td *ngIf="item?.status == 1" class="text-right"><span class="text-success"><i class="icon ion-md-checkmark"></i>
                                                        Completed</span></td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="d-flex justify-content-between align-items-center mb-3">
                                <div>
                                    <div class="d-flex justify-content-between">
                                        <div class="mr-4">Total deposit amount</div>
                                        <div class="ml-4"><strong>323,000</strong></div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="mr-4">Total withdrawal amount</div>
                                        <div class="ml-4"><strong>208,000</strong></div>
                                    </div>
                                </div>
                                <button class="btn btn-outline-secondary pt-1 pb-1"><i
                                        class="icon ion-md-download"></i></button>
                            </div> -->
                            <div class="d-md-flex align-items-center justify-content-between mb-2 border-top pt-2">
                                <div class="mb-2 mb-md-0">
                                    <div class="d-inline-block mr-2">
                                        <select (change)="changeTotalItem($event)" [(ngModel)]="pageSize" class="form-control form-control-sm">
                                            <option *ngFor="let item of listTotalItem" value="{{item}}">{{item}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="small text-secondary d-inline-block mr-2">{{'Showing' | translate}} {{recordFrom}} {{'To' | translate}} {{recordTo}} {{'of' | translate}} {{totalItem}} {{'entries' | translate}}
                                    </div>
                                </div>
                                <ul class="pagination pagination-sm mb-0">
                                    <pagination [(ngModel)]="currentPage" id="pagination" appPagination [boundaryLinks]="true" class="pagination pagination-sm justify-content-end" (pageChanged)="pageChanged($event)" [totalItems]="totalItem / pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
                                        firstText="&laquo;" lastText="&raquo;" [maxSize]="5">
                                    </pagination>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-deposit" role="tabpanel" aria-labelledby="v-pills-deposit-tab">
                            <h3 class="mb-3"><i class="icon ion-md-time text-secondary"></i> {{'Deposit History' | translate}}</h3>
                        </div>
                        <div class="tab-pane fade" id="v-pills-withdrawal" role="tabpanel" aria-labelledby="v-pills-withdrawal-tab">
                            <h3 class="mb-3"><i class="icon ion-md-time text-secondary"></i> {{'Withdrawal History' | translate}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tran_detail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header pt-2 pb-2">
                <div>
                    <h5 class="modal-title text-primary"><strong>Transaction {{tranHistoryDetail?.id}}</strong></h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-sm" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td width="180" class="border-top-0">Trading account</td>
                            <td class="border-top-0">{{searchForm?.controls?.tradingAccount.value}}</td>
                        </tr>
                        <tr>
                            <td width="180">Date time</td>
                            <td>{{tranHistoryDetail?.create_date}}</td>
                        </tr>
                        <tr>
                            <td width="180">Type</td>
                            <td>{{tranHistoryDetail?.funding_type}}</td>
                        </tr>
                        <tr>
                            <td width="180">Payment method</td>
                            <td>{{tranHistoryDetail?.method}}</td>
                        </tr>
                        <tr *ngIf="tranHistoryDetail?.method == 'Quick deposit'">
                            <td width="180">Payment service</td>
                            <td>{{tranHistoryDetail?.name}}</td>
                        </tr>
                        <tr *ngIf="tranHistoryDetail?.method == 'Bank transfer'">
                            <td width="180">Payment service</td>
                            <td>{{tranHistoryDetail?.name}}</td>
                        </tr>
                        <tr>
                            <td width="180">Amount</td>
                            <td><strong>{{tranHistoryDetail?.amount | number}}</strong> <span class="small text-secondary"></span>{{tranHistoryDetail?.currency}}</td>
                        </tr>
                        <tr>
                            <td width="180">Status</td>
                            <td *ngIf="tranHistoryDetail?.status == 1"><span class="text-success"><i class="icon ion-md-checkmark"></i> Completed</span></td>
                            <td *ngIf="tranHistoryDetail?.status == 2"><span> Cancel</span></td>
                            <td *ngIf="tranHistoryDetail?.status == 3"><span class="text-info"><i class="icon ion-md-hourglass"></i> Pending</span></td>
                            <td *ngIf="tranHistoryDetail?.status == 4"><span class="text-info"><i class="icon ion-md-hourglass"></i> In progress</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>