<div class="container">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page"><a href="javascript:;">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">History</li>
      </ol>
  </nav>
  <div class="content-wrapper">
      <div class="content-inner">
          <div class="card bg-white mb-3">
              <div class="card-body">
                  <h4 class="border-bottom pb-1 mb-3"><i class="icon ion-md-time text-secondary"></i> Deposit &amp; Withdrawal History</h4>
                  <div class="d-flex align-items-center justify-content-between mb-2">
                      <div>
                          <label class="container-radio mb-0 mr-2 small">All
                              <input type="radio" id="all" name="filter_type" value="0" checked="checked">
                              <span class="checkmark"></span>
                          </label>
                          <label class="container-radio mb-0 mr-2 small">Deposit
                              <input type="radio" id="all" name="filter_type" value="1">
                              <span class="checkmark"></span>
                          </label>
                          <label class="container-radio mb-0 mr-2 small">Withdraw
                              <input type="radio" id="all" name="filter_type" value="2">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                      <div>
                          <button type="button" class="btn btn-light"><i class="icon ion-md-download text-primary"></i></button>
                      </div>
                  </div>
                  <div class="table-responsive">
                      <table class="table table-sm table-hover" cellspacing="0" cellpadding="0">
                          <thead>
                              <tr>
                                  <th class="border-top-0" width="120">Transaction ID</th>
                                  <th class="border-top-0">Date</th>
                                  <th class="border-top-0">Type</th>
                                  <th class="border-top-0">Description</th>
                                  <th class="border-top-0 text-right" width="70">Currency</th>
                                  <th class="border-top-0 text-right">Amount</th>
                                  <th class="border-top-0 text-right" width="120">Status</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of listDwHistory">
                                  <td><a href="javascript:;">{{item?.transaction_id}}</a></td>
                                  <td>{{item?.transaction_date | date:'yyyy/MM/dd'}} {{item?.transaction_date | date:'HH:mm'}}</td>
                                  <td>{{item?.type}}</td>
                                  <td>{{item?.description}}</td>
                                  <td class="text-right">{{item?.currency}}</td>
                                  <td class="text-right">{{item?.amount}}</td>
                                  <td class="text-right"><span class="text-info"><i class="icon ion-md-hourglass"></i> Pending</span></td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-2">
                      <div>
                          <div class="d-inline-block mr-2">
                              <select class="form-control form-control-sm">
                                  <option>10</option>
                                  <option>20</option>
                                  <option>30</option>
                              </select>
                          </div>
                          <div class="small text-secondary d-inline-block mr-2">Showing 1 to 10 of 126 entries</div>
                      </div>
                      <ul class="pagination pagination-sm mb-0">
                          <li class="page-item disabled">
                              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                          </li>
                          <li class="page-item active"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                              <a class="page-link" href="#">Next</a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
