<div class="container">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page"><a href="javascript:;">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">History</li>
      </ol>
  </nav>
  <div class="content-wrapper">
      <div class="content-inner">
          <div class="card bg-white mb-3">
              <div class="card-body">
                <h4 class="mb-3 text-primary"><i class="icon ion-md-time text-secondary"></i> Deposit &amp; Withdrawal History</h4>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="d-flex align-items-center">
                            <div class="mb-1 mr-3">Type of account</div>
                            <select class="form-control form-control-sm" style="max-width: 140px;">
                              <option>FX - 10000001</option>
                              <option>CFD - 20000001</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right">Currency: <strong>JYP</strong></div>
                    </div>
                </div>
                <div class="row row-filter no-gutters align-items-stretch mb-1" [formGroup]="searchForm">
                    <div class="col-md-5">
                      <!-- <div class="col-inner"> -->
                        <div class="mb-1 mr-3">Type of transaction</div>
                          <div>
                            <label class="container-radio mb-0 mr-2 small">All
                              <input type="radio" id="all" name="filter_type" formCotrolName="history" value="0" checked="checked">
                              <span class="checkmark"></span>
                            </label>
                            <label class="container-radio mb-0 mr-2 small">Deposit
                              <input type="radio" id="all" name="filter_type" formCotrolName="history" value="1">
                              <span class="checkmark"></span>
                            </label>
                          <label class="container-radio mb-0 mr-2 small">Withdraw
                            <input type="radio" id="all" name="filter_type" formCotrolName="history" value="2">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-inner">
                            <label class="label text-primary">From</label>
                            <div class="input-wrapper">
                              <input type="text" name="start-date" formControlName="startDate" [readonly]="true"
                              class="form-control disableDatePicker" placeholder="DD/MM/YYYY" value="" #dp="bsDatepicker" bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }">
                              <button type="button" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen" class="btn btn-none"><i class="icon ion-md-calendar"></i></button>
                                <!-- <input type="text" name="start-date" class="form-control" placeholder="DD/MM/YYYY" value="">
                                <button type="button" class="btn btn-none" disabled="disabled"><i class="icon ion-md-calendar"></i></button> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-inner">
                            <label class="label text-primary">To</label>
                            <div class="input-wrapper">
                              <input type="text" name="end-date" formControlName="endDate" [readonly]="true"
                              class="form-control disableDatePicker" placeholder="DD/MM/YYYY" value="" #dpr="bsDatepicker" bsDatepicker
                              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }">
                              <button type="button" (click)="dpr.toggle()" [attr.aria-expanded]="dp.isOpen" class="btn btn-none"><i class="icon ion-md-calendar"></i></button>
                                <!-- <input type="text" name="end-date" class="form-control" placeholder="DD/MM/YYYY" value="">
                                <button type="button" class="btn btn-none" disabled="disabled"><i class="icon ion-md-calendar"></i></button> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <button class="btn btn-success btn-search btn-block" (click)="onSearchSubmit()"><i class="icon ion-md-search"></i></button>
                    </div>
                </div>
                <div class="border pt-2 pb-2 pl-3 pr-3 mb-3 bg-light">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex justify-content-between mb-1">
                                <div>Opening balance:</div>
                                <div><strong>15,000.00</strong></div>
                            </div>
                            <div class="d-flex justify-content-between mb-1">
                                <div>Closing balance:</div>
                                <div><strong>130,000.00</strong></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex justify-content-between mb-1">
                                <div>Total deposit amount:</div>
                                <div><strong>323,000.00</strong></div>
                            </div>
                            <div class="d-flex justify-content-between mb-1">
                                <div>Total withdrawal amount:</div>
                                <div><strong>208,000.00</strong></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-between align-items-center mb-2">
                  <div>Result of <strong>all</strong> transactions for <strong>all time</strong></div>
                  <div>
                      <button class="btn btn-outline-secondary pt-1 pb-1"><i class="icon ion-md-download"></i></button>
                  </div>
                </div>
                  <div class="table-responsive">
                      <table class="table table-sm table-hover" cellspacing="0" cellpadding="0">
                          <thead>
                              <tr>
                                  <th class="border-top-0" width="43">Transaction ID</th>
                                  <th class="border-top-0">Date</th>
                                  <th class="border-top-0">Type</th>
                                  <th class="border-top-0">Description</th>
                                  <th class="border-top-0 text-right" width="70">Currency</th>
                                  <th class="border-top-0 text-right">Amount</th>
                                  <th class="border-top-0 text-right" width="120">Status</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of listDwHistory">
                                  <td><a href="javascript:;">{{item?.transaction_id}}</a></td>
                                  <td>{{item?.transaction_date | date:'yyyy/MM/dd'}} {{item?.transaction_date | date:'HH:mm'}}</td>
                                  <td>{{item?.type}}</td>
                                  <td>{{item?.description}}</td>
                                  <td class="text-right">{{item?.currency}}</td>
                                  <td class="text-right">{{item?.amount}}</td>
                                  <td class="text-right"><span class="text-info"><i class="icon ion-md-hourglass"></i> Pending</span></td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-2">
                      <div>
                          <div class="d-inline-block mr-2">
                              <select class="form-control form-control-sm">
                                  <option>10</option>
                                  <option>20</option>
                                  <option>30</option>
                              </select>
                          </div>
                          <div class="small text-secondary d-inline-block mr-2">Showing 1 to 10 of 126 entries</div>
                      </div>
                      <pagination [(ngModel)]="currentPage" id="pagination" appPagination
                                    class="pagination pagination-sm justify-content-end"
                                    (pageChanged)="pageChanged($event)" [totalItems]="totalItem / pageSize"
                                    [maxSize]="5">
                                </pagination>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
