<h3 class="border-bottom pb-1 mb-3">Corporate Infomation</h3>
<div class="table-responsive">
    <table [formGroup]="corporateForm" class="table table-sm table-borderless table-hover table-profile" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="200">{{'Corporate name' | translate}}</td>
                <td><strong>{{corporateInfor?.corporation?.name}}</strong></td>
                <td width="15">&nbsp;</td>
            </tr>
            <tr>
                <td>{{'Corporate name (Furigana)' | translate}}</td>
                <td><strong>{{corporateInfor?.corporation?.fx_name1}}</strong></td>
                <td width="15">&nbsp;</td>
            </tr>
            <tr class="row-postcode">
                    <td>{{'Postcode' | translate}}</td>
                    <td>
                        <div class="currentvalue" *ngIf="editCorAddress == false">
                            <strong>{{corporateInfor?.corporation?.zip?.value}}</strong>
                        </div>
                        <div class="editable d-block" *ngIf="editCorAddress == true">
                            <input type="text" name="postcode" formControlName="cor_postcode" maxlength="7" class="form-control form-control-sm mb-1" (change)="changeAddress()" placeholder=""
                            [ngClass]="{'invalid':(corporateForm.controls['cor_postcode'].errors)}">
                            <div *ngIf="isSubmittedCor && corporateForm?.controls['cor_postcode'].errors?.Required"
                                class="invalid-mess">
                                <div *ngIf="corporateForm?.controls['cor_postcode'].errors?.Required">
                                  {{'Please enter your zip code.' | translate}}
                                </div>
                            </div>

                        </div>
                    </td>
                    <td width="15">&nbsp;</td>
                </tr>

                <tr class="row-address need-verify">
                    <td>{{'Address' | translate}}</td>
                    <td>
                        <div class="currentvalue" *ngIf="editCorAddress == false">
                            <div><strong>{{corporateInfor?.corporation?.address?.value?.city}} , {{corporateInfor?.corporation?.address?.value?.street}}</strong></div>
                            <div><strong>{{corporateInfor?.corporation?.address?.value?.street2}} - {{corporateInfor?.corporation?.address?.value?.fx_street3}}</strong></div>
                            <div class="status small" *ngIf="corporateInfor?.corporation?.address?.status == STATUS_INFO.inProgress"><span class="text-info">
                            <i class="icon ion-md-hourglass">
                            </i> {{'Verificaion in process' | translate}}</span></div>
                        </div>
                        <div class="editable d-block" *ngIf="editCorAddress == true">
                            <div class="row no-gutters">
                                <div class="col-sm-6 pr-md-1">
                                    <select class="form-control form-control-sm mb-1 select2" style="width: 100%" formControlName="cor_prefec"
                                      [ngClass]="{'invalid':corporateForm.controls['cor_prefec'].errors}">
                                      <option *ngFor="let item of listCityJapan" value="{{item}}">{{item}}</option>
                                      <div *ngIf="isSubmittedCor && corporateForm?.controls['cor_prefec'].errors?.Required" class="invalid-mess">
                                        <div>{{'This field is required' | translate}}</div>
                                      </div>
                                  </select>
                                </div>
                                <div class="col-sm-6 pl-md-1">
                                  <input type="text" name="cor-address" class="form-control form-control-sm mb-1" formControlName="cor_district" value="" maxlength="100"
                                    [ngClass]="{'invalid':corporateForm?.controls['cor_district'].errors}">
                                    <div *ngIf="isSubmittedCor && corporateForm?.controls['cor_district'].errors?.Required" class="invalid-mess">
                                      <div>{{'This field is required' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-sm-6 pr-md-1">
                                    <input type="text" name="cor-address" maxlength="11" class="form-control form-control-sm mb-1" formControlName="cor_house" value="" placeholder="House Number"
                                      [ngClass]="{'invalid':corporateForm?.controls['cor_house'].errors}">
                                      <div *ngIf="isSubmittedCor && corporateForm?.controls['cor_house'].errors?.Required" class="invalid-mess">
                                        <div>{{'This field is required' | translate}}</div>
                                      </div>
                                </div>
                                <div class="col-sm-6 pl-md-1">
                                    <input type="text" name="cor-address" maxlength="100" class="form-control form-control-sm mb-1" formControlName="cor_build" value="" placeholder="Building Name">
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('cor-address', formType.corporateInfor)"> {{'Cancel' | translate}}</button>
                            </div>
                        </div>
                    </td>
                    <td width="15">
                        <a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" *ngIf="editCorAddress == false && corporateInfor?.corporation?.address?.status == STATUS_INFO.approve" title="Edit Address" (click)="showEditFieldCor('cor-address', formType.corporateInfor)"><i class="icon ion-md-create"></i></a>
                    </td>
                </tr>
 

                <tr class="row-phone">
                    <td>{{'Phone' | translate}}</td>
                    <td>
                        <div class="currentvalue" *ngIf="editCorPhone == false">
                            <strong><a href="javascript:;">{{corporateInfor?.corporation?.mobile}}</a></strong>
                        </div>
                        <div class="editable d-block" *ngIf="editCorPhone == true">
                            <input type="tel" name="cor-phone" class="form-control form-control-sm mb-1" maxlength="11" placeholder="" formControlName="cor_phone"
                            [ngClass]="{'invalid':(corporateForm.controls['cor_phone'].errors || corporateForm.controls['cor_phone'].errors?.SalaryLength
                              || corporateForm.controls['cor_phone'].errors?.Salary || corporateForm.controls['cor_phone'].errors?.SalarySpecial)}">
                            <div *ngIf="isSubmittedCor && corporateForm.controls['cor_phone'].errors?.Required" class="invalid-mess">
                              <div>{{'This field is required' | translate}}</div>
                            </div>
                            <div style="display:block" *ngIf="isSubmittedCor && corporateForm.controls['cor_phone'].errors?.SalaryLength"
                            class="invalid-mess">
                              <div *ngIf="corporateForm.controls['cor_phone'].errors?.phoneLength">{{'Phone number must be at least 10 characters long.' | translate}}</div>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('cor-phone', formType.corporateInfor)"> {{'Cancel' | translate}}</button>
                            </div>
                        </div>
                    </td>
                    <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Phone" *ngIf="editCorPhone == false" (click)="showEditFieldCor('cor-phone', formType.corporateInfor)"><i class="icon ion-md-create"></i></a></td>
                </tr>
                <tr class="row-fax">
                    <td>{{'Fax' | translate}}</td>
                    <td>
                        <div class="currentvalue" *ngIf="editCorFax == false">
                            <strong><a href="javascript:;">{{corporateInfor?.corporation?.fx_fax?.value}}</a></strong>
                        </div>
                        <div class="editable d-block" *ngIf="editCorFax == true">
                            <input type="text" name="cor-fax" class="form-control form-control-sm mb-1" maxlength="11" placeholder="" formControlName="cor_fax"
                              [ngClass]="{'invalid':corporateForm?.controls['cor_fax'].errors}">
                            <div *ngIf="isSubmittedCor && corporateForm?.controls['cor_fax'].errors?.Required" class="invalid-mess">
                              <div>{{'This field is required' | translate}}</div>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('cor-fax', formType.corporateInfor)"> {{'Cancel' | translate}}</button>
                            </div>
                        </div>
                    </td>
                    <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Fax" *ngIf="editCorFax == false" (click)="showEditFieldCor('cor-fax', formType.corporateInfor)"><i class="icon ion-md-create"></i></a></td>
                </tr>
            <tr class="row-action" *ngIf="showSaveCorp == true">
                <td>&nbsp;</td>
                <td>
                    <button type="button" (click)="saveCorp(formType.corporateInfor)" class="btn btn-save btn-success pl-3 pr-3">{{'Save' | translate}}</button>
                </td>
                <td width="15">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-between align-items-center mb-3 bg-light p-2">
    <h5 class="mb-0"><strong>Financial Information</strong></h5>
    <a href="javascript:;" class="edit-link edit-link-financial" data-toggle="tooltip" data-placement="top" (click)="editFinancial = true"
        title="Edit Financial Information"><i class="icon ion-md-create"></i></a>
</div>
<div class="financial_info" *ngIf="editFinancial == false">
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">事業体の年商</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{financialInforForm?.controls?.businessEntityAnnual?.value | convertFinancial: 'corp'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">事業体の税抜後年間所得</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{financialInforForm?.controls?.tax?.value | convertFinancial: 'corp'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">事業体の資本金</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{financialInforForm?.controls?.businessCapital?.value | convertFinancial: 'corp'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">事業体の投資可能額</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{financialInforForm?.controls?.investment?.value | convertFinancial: 'corp'}}</strong>
        </div>
    </div>
</div>
<div [formGroup]="financialInforForm" class="financial_edit p-3 bg-light" *ngIf="editFinancial == true">
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">事業体の年商</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select class="form-control" formControlName="businessEntityAnnual">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listBusinessEntityAnnualCorporation" value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">事業体の税抜後年間所得</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select class="form-control" formControlName="tax">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listTaxCorporation" value="{{item?.sequence}}" data-val="100">{{item?.value}}</option>
            </select>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">事業体の資本金</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select class="form-control" formControlName="businessCapital">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listBusinessCapitalCorporation" value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">事業体の投資可能額</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select class="form-control" formControlName="investment">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listInvestmentCorporation" value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            &nbsp;
        </div>
        <div class="col-md-8 col-lg-6">
            <button (click)="saveCorp(formType.financial)" class="btn btn-success btn-save">Save</button>
        </div>
    </div>
</div>
<!-- <div class="text-center mt-2 mb-4 text-secondary">&#8636;&nbsp;&#8641;</div> -->
<h3 class="border-bottom pb-1 mb-3">Person in charge (PIC) information</h3>
<div [formGroup]="picForm" class="table-responsive">
    <table class="table table-sm table-borderless table-hover table-profile" cellspacing="0" cellpadding="0">
        <tbody>

            <tr class="row-department">
                <td width="200">{{'Department' | translate}}</td>
                <td>
                    <div class="currentvalue" *ngIf="editPersonBod == false">
                        <strong>{{corporateInfor?.pic?.fx_dept}}</strong>
                    </div>
                    <div class="editable d-block" *ngIf="editPersonBod == true">
                        <input type="text" name="department" class="form-control form-control-sm mb-1" maxlength="100" placeholder="" formControlName="person_bod"
                          [ngClass]="{'invalid':picForm?.controls['person_bod'].errors}">
                        <div *ngIf="isSubmittedCor && picForm?.controls['person_bod'].errors?.Required" class="invalid-mess">
                          <div>{{'This field is required' | translate}}</div>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('department', formType.pic)"> {{'Cancel' | translate}}</button>
                        </div>
                    </div>
                </td>
                <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Department" *ngIf="editPersonBod == false" (click)="showEditFieldCor('department', formType.corporateInfor)"><i class="icon ion-md-create"></i></a></td>
            </tr>
           
            <tr class="row-pic-position">
                <td width="200">{{'PIC Position' | translate}}</td>
                <td>
                    <div class="currentvalue" *ngIf="editPersonPic == false">
                        <strong>{{corporateInfor?.pic?.function}}</strong>
                    </div>
                    <div class="editable d-block" *ngIf="editPersonPic == true">
                        <input type="text" name="pic-position" class="form-control form-control-sm mb-1" maxlength="100" placeholder="PIC Position" formControlName="person_pic"
                          [ngClass]="{'invalid':picForm?.controls['person_pic'].errors}">
                        <div *ngIf="isSubmittedCor && picForm?.controls['person_pic'].errors?.Required" class="invalid-mess">
                          <div>{{'This field is required' | translate}}</div>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('pic-position', formType.pic)">{{'Cancel' | translate}}</button>
                        </div>
                    </div>
                </td>
                <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit PIC Position" *ngIf="editPersonPic == false" (click)="showEditFieldCor('pic-position', formType.pic)"><i class="icon ion-md-create"></i></a></td>
            </tr>
           

            <tr class="row-pic-name">
                <td width="200">{{'PIC Name' | translate}}</td>
                <td>
                    <div class="currentvalue" *ngIf="editPersonPicname == false">
                        <strong>{{corporateInfor?.pic?.name}}</strong>
                    </div>
                    <div class="editable d-block" *ngIf="editPersonPicname == true">
                        <input type="text" name="pic-name" class="form-control form-control-sm mb-1" maxlength="100" placeholder="PIC name" formControlName="per_picname"
                          [ngClass]="{'invalid':picForm?.controls['per_picname'].errors}">
                        <div *ngIf="isSubmittedCor && picForm?.controls['per_picname'].errors?.Required" class="invalid-mess">
                          <div>{{'This field is required' | translate}}</div>
                        </div>
                    </div>
                </td>
                <td width="15">&nbsp;</td>
            </tr>

            <tr class="row-pic-name-furi">
                <td width="200">{{'PIC name (furigana)' | translate}}</td>
                <td>
                    <div class="currentvalue" *ngIf="editPersonPicname == false">
                        <strong>{{corporateInfor?.pic?.fx_name1}}</strong>
                    </div>
                    <div class="editable d-block" *ngIf="editPersonPicname == true">
                        <input type="text" name="pic-name" class="form-control form-control-sm mb-1" maxlength="100" placeholder="PIC name" formControlName="person_picname"
                          [ngClass]="{'invalid':picForm?.controls['person_picname'].errors}">
                        <div *ngIf="isSubmittedCor && picForm?.controls['person_picname'].errors?.Required" class="invalid-mess">
                          <div>{{'This field is required' | translate}}</div>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('pic-name', formType.pic)">{{'Cancel' | translate}}</button>
                        </div>
                    </div>
                </td>
                <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit PIC Name" *ngIf="editPersonPicname == false" (click)="showEditFieldCor('pic-name', formType.pic)"><i class="icon ion-md-create"></i></a></td>
            </tr>
          
            <tr class="row-pic-gender">
                <td width="200">{{'PIC Gender' | translate}}</td>
                <td>
                    <div class="currentvalue" *ngIf="editGender == false">
                        <strong>{{corporateInfor?.pic?.fx_gender?.value}}</strong>
                    </div>
                    <div class="editable d-block" *ngIf="editGender == true">
                      <select class="form-control form-control-sm mb-1 select2" style="width: 100%" formControlName="person_gender">
                          <option value="M">{{'Male' | translate}}</option>
                          <option value="F">{{'Female' | translate}}</option>
                      </select>
                      <div class="text-right">
                        <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('p-gender', formType.pic)">{{'Cancel' | translate}}</button>
                    </div>
                  </div>
                </td>
                <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Phone" (click)="showEditFieldCor('p-gender', formType.pic)"><i class="icon ion-md-create"></i></a></td>
            </tr>


            <tr class="row-phone">
                <td>{{'Phone' | translate}}</td>
                <td>
                    <div class="currentvalue" *ngIf="editPersonPhone == false">
                        <strong><a href="javascript:;">{{corporateInfor?.pic?.mobile}}</a></strong>
                    </div>
                    <div class="editable d-block" *ngIf="editPersonPhone == true">
                        <input type="tel" name="p-phone" class="form-control form-control-sm mb-1"  maxlength="11" placeholder="" formControlName="person_phone"
                        [ngClass]="{'invalid':picForm.controls['person_phone'].errors}">
                        <div *ngIf="isSubmittedCor && picForm.controls['person_phone'].errors?.Required" class="invalid-mess">
                          <div>{{'This field is required' | translate}}</div>
                        </div>
                        <div style="display:block" *ngIf="isSubmittedCor && picForm.controls['person_phone'].errors?.SalaryLength"
                        class="invalid-mess">
                          <div *ngIf="picForm.controls['person_phone'].errors?.phoneLength">{{'Phone number must be at least 10 characters long.' | translate}</div>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('p-phone', formType.pic)">{{'Cancel' | translate}}</button>
                        </div>
                    </div>
                </td>
                <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Phone" *ngIf="editPersonPhone == false" (click)="showEditFieldCor('p-phone', formType.pic)"><i class="icon ion-md-create"></i></a></td>
            </tr>

            
            <tr class="row-email need-verify">
                <td>{{'Email' | translate}}</td>
                <td>
                    <div class="currentvalue" *ngIf="editPersonEmail == false">
                        <strong><a href="javascript:;">{{corporateInfor?.pic?.email?.value}}</a></strong>
                        <div class="status small" *ngIf="corporateInfor?.pic?.email?.status == STATUS_INFO.inProgress"><span class="text-info">
                        <i class="icon ion-md-hourglass"></i> {{'Verificaion in process' | translate}}</span></div>
                    </div>
                    <div class="editable d-block" *ngIf="editPersonEmail == true">
                        <input type="text" name="p-email" maxlength="100" placeholder="" formControlName="person_email"
                          [className]="isSubmittedCor && corporateForm?.controls['person_email'].errors ? 'form-control form-control-sm mb-1 invalid' : 'form-control form-control-sm mb-1'">
                        <div *ngIf="isSubmittedCor && corporateForm?.controls['person_email'].errors?.Required" class="invalid-mess">
                          <div>{{'This field is required' | translate}}</div>
                        </div>
                        <div *ngIf="isSubmittedCor && corporateForm?.controls['person_email'].errors" class="invalid-mess">
                          <div *ngIf="corporateForm?.controls['person_email'].errors?.person_email">{{'Invalid email' | translate}}</div>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('p-email', formType.pic)">{{'Cancel' | translate}}</button>
                        </div>
                    </div>
                </td>
                <td width="15">
                    <a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Email" (click)="showEditFieldCor('p-email', formType.pic)" *ngIf="editPersonEmail == false && corporateInfor?.pic?.email?.status == STATUS_INFO.approve"><i class="icon ion-md-create"></i></a>
                </td>
            </tr>
            <tr class="row-action" *ngIf="showSavePic === true">
                <td>&nbsp;</td>
                <td>
                    <button type="button" (click)="saveCorp(formType.pic)" class="btn btn-save btn-success pl-3 pr-3">Save</button>
                </td>
                <td width="15">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<div>&nbsp;</div>
<div class="d-flex justify-content-between align-items-center mb-3 bg-light p-2">
    <h5 class="mb-0"><strong>PIC Investment Experience</strong></h5>
    <a href="javascript:;" class="edit-link edit-link-investment" data-toggle="tooltip" data-placement="top" (click)="editPurposeInvest()"
        title="Edit Investment Purpose"><i class="icon ion-md-create"></i></a>
</div>
<div class="investment_purpose" *ngIf="editPurpose == false">
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">投資目的</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.investPurposeSortTerm?.value == true ? '短期売買 ' : ''}}
                {{purposeInvestForm?.controls?.investPurposeMedium?.value == true ? '中長期運用 ' : ''}}
                {{purposeInvestForm?.controls?.investPurposeExchange?.value == true ? '為替差益重視 ' : ''}}
                {{purposeInvestForm?.controls?.investPurposeInterestRate?.value == true ? '金利・配当重視 ' : ''}}
                {{purposeInvestForm?.controls?.investPurposeForeignCurrency?.value == true ? '外貨資産ヘッジ ' : ''}}
                {{purposeInvestForm?.controls?.investPurposeOther?.value == true ? 'その他 ' : ''}}</strong>
        </div>
    </div>
    <div class="row mb-1">
            <div class="col-md-4 col-lg-3">
                <label class="label">その他をご選択の場合</label>
            </div>
            <div class="col-md-8 col-lg-6">
                <strong>{{purposeInvestForm?.controls?.otherPurpose?.value}}</strong>
            </div>
    </div>
    <div class="row mb-1">
            <div class="col-md-4 col-lg-3">
                <label class="label">申込の経緯（取引の動機）</label>
            </div>
            <div class="col-md-8 col-lg-6">
                <strong>{{purposeInvestForm?.controls?.backgroundApplication?.value | convertInvestmentPurpose : 'background'}}</strong>
            </div>
    </div>
    <div class="row mb-1">
            <div class="col-md-4 col-lg-3">
                <label class="label">具体名をご記入ください </label>
            </div>
            <div class="col-md-8 col-lg-6">
                <strong>{{purposeInvestForm?.controls?.specificName?.value}}</strong>
            </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">投資経験：FX取引</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.investExFx?.value | convertInvestmentPurpose: 'experience'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">投資経験：CFD取引</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.inversExCfd?.value | convertInvestmentPurpose: 'experience'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">投資経験：株式取引</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.investStockTrading?.value | convertInvestmentPurpose: 'experience'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">投資経験：信用取引</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.investMarginTrading?.value | convertInvestmentPurpose: 'experience'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">投資経験：商品先物</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.investCommodities?.value | convertInvestmentPurpose: 'experience'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">投資経験：その他</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.other?.value == '1' ? '特になし' : '上記以外の投資経験がある'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label mr-lg-2">投資経験がある金融商品名</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.financialInstrument?.value}}</strong>
                     
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label mr-lg-2">取引経験</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong> {{purposeInvestForm?.controls?.tradingExperience?.value | convertInvestmentPurpose: 'experience'}}</strong>
        </div>
    </div>
</div>
<div [formGroup]="purposeInvestForm" class="investment_purpose_edit p-3 bg-light" *ngIf="editPurpose == true">
    <label class="label mb-1">投資目的</label>
    <div *ngIf="purposeInvestForm.controls.investPurpose.errors"
                class="text-danger small mt-1">1つ以上の選択が必要です</div>
    <div class="row small-gutters">
        <div class="col-md-6 col-lg-4">
            <label class="container-checkbox small box-item-checkbox mb-2">
                <div class="text-center"><strong>短期売買</strong></div>
                <input type="checkbox" formControlName="investPurposeSortTerm"  
                (change)="changePurpose()" value="1">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-md-6 col-lg-4">
            <label class="container-checkbox small  box-item-checkbox mb-2">
                <div class="text-center"><strong>中長期運用</strong></div>
                <input type="checkbox" (change)="changePurpose()"
                formControlName="investPurposeMedium" value="2">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-md-6 col-lg-4">
            <label class="container-checkbox small  box-item-checkbox mb-2">
                <div class="text-center"><strong>為替差益重視</strong></div>
                <input type="checkbox" (change)="changePurpose()"
                formControlName="investPurposeExchange" value="3">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-md-6 col-lg-4">
            <label class="container-checkbox small  box-item-checkbox mb-2">
                <div class="text-center"><strong>金利・配当重視</strong></div>
                <input type="checkbox" (change)="changePurpose()"
                formControlName="investPurposeInterestRate" value="4">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-md-6 col-lg-4">
            <label class="container-checkbox small  box-item-checkbox mb-2">
                <div class="text-center"><strong>外貨資産ヘッジ</strong></div>
                <input type="checkbox" (change)="changePurpose()"
                formControlName="investPurposeForeignCurrency" value="5">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-md-6 col-lg-4">
            <label class="container-checkbox small  box-item-checkbox mb-2">
                <div class="text-center"><strong>その他</strong></div>
                <input type="checkbox" (change)="changePurpose()"
                formControlName="investPurposeOther" value="6">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="row mb-1" *ngIf="purposeInvestForm.controls.investPurposeOther.value == true">
        <div class="col-md-4 col-lg-3">
            <label class="label mr-lg-2">その他をご選択の場合</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <input formControlName="otherPurpose" type="text" name="exx" value=""
            [className]="purposeInvestForm.controls.otherPurpose.errors ? 'form-control invalid' : 'form-control'">
            <div *ngIf="purposeInvestForm.controls.otherPurpose.errors" class="invalid-mess">
                <div>この項目は必須項目です。</div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">申込の経緯（取引の動機）</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select formControlName="backgroundApplication" (change)="changeBackGroundApplication()"
            [className]="purposeInvestForm.controls.backgroundApplication.errors ? 'form-control invalid' : 'form-control'">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listBackgroundApplicationInvidual" value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
            <div *ngIf="purposeInvestForm.controls.backgroundApplication.errors" class="invalid-mess">
                <div>この項目は必須項目です。</div>
            </div>
        </div>
    </div>
    <div class="row mb-1" *ngIf="purposeInvestForm.controls.backgroundApplication.value == 7">
            <div class="col-md-4 col-lg-3">
                <label class="label mr-lg-2">具体名をご記入ください</label>
            </div>
            <div class="col-md-8 col-lg-6">
                <input formControlName="specificName" type="text" placeholder="例)先物・オプション・仮想通貨"
                [className]="purposeInvestForm.controls.specificName.errors ? 'form-control invalid' : 'form-control'">
                <div *ngIf="purposeInvestForm.controls.specificName.errors"
                        class="invalid-mess">
                        <div>この項目は必須項目です。</div>
                    </div>
            </div>
    </div>
    <div class="row mb-1">
            <div class="col-md-4 col-lg-3">
                <label class="label">投資経験：FX取引</label>
            </div>
            <div class="col-md-8 col-lg-6">
                <select formControlName="investExFx" (change)="changeExPurPose()"
                [className]="purposeInvestForm.controls.investExFx.errors ? 'form-control invalid' : 'form-control'">
                    <option value="" disabled>選択してください</option>
                    <option *ngFor="let item of listInvestExFxInvidual"
                    value="{{item?.sequence}}">{{item?.value}}</option>
                </select>
                <div *ngIf="purposeInvestForm.controls.investExFx.errors" class="invalid-mess">
                    <div *ngIf="purposeInvestForm?.controls?.investExFx?.errors?.ErrorEXP">デリバティブの経験が6か月未満の場合には口座を開設いただけません。</div>
                    <div *ngIf="purposeInvestForm?.controls?.investExFx?.errors?.Required">この項目は必須項目です。</div>
                </div>
            </div>
        </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">投資経験：CFD取引</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select formControlName="inversExCfd" 
            (change)="changeExPurPose()"
            [className]="purposeInvestForm.controls.inversExCfd.errors ? 'form-control invalid' : 'form-control'">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listInvesExCfdInvidual"
                value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
            <div *ngIf="purposeInvestForm.controls.inversExCfd.errors" class="invalid-mess">
                <div *ngIf="purposeInvestForm?.controls?.inversExCfd?.errors?.ErrorEXP">デリバティブの経験が6か月未満の場合には口座を開設いただけません。</div>
                <div *ngIf="purposeInvestForm?.controls?.inversExCfd?.errors?.Required">この項目は必須項目です。</div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">投資経験：株式取引</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select formControlName="investStockTrading"
            [className]="purposeInvestForm.controls.investStockTrading.errors ? 'form-control invalid' : 'form-control'">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listInvestStockTradingInvidual"
                            value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
            <div *ngIf="purposeInvestForm.controls.investStockTrading.errors" class="invalid-mess">
                <div>この項目は必須項目です。</div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">投資経験：信用取引</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select formControlName="investMarginTrading"
            [className]="purposeInvestForm.controls.investMarginTrading.errors ? 'form-control invalid' : 'form-control'">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listInvestMarginTradingInvidual"
                            value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
            <div *ngIf="purposeInvestForm.controls.investMarginTrading.errors" class="invalid-mess">
                <div>この項目は必須項目です。</div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">投資経験：商品先物</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select formControlName="investCommodities" 
            (change)="changeExPurPose()"
            [className]="purposeInvestForm.controls.investCommodities.errors ? 'form-control invalid' : 'form-control'">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listInvestCommoditiesInvidual"
                            value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
            <div *ngIf="purposeInvestForm.controls.investCommodities.errors" class="invalid-mess">
                <div *ngIf="purposeInvestForm?.controls?.investCommodities?.errors?.ErrorEXP">デリバティブの経験が6か月未満の場合には口座を開設いただけません。
                </div>
                <div *ngIf="purposeInvestForm?.controls?.investCommodities?.errors?.Required">この項目は必須項目です。</div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">投資経験：その他</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <div class="container-radios-wrapper">
                <label
                [className]="purposeInvestForm.controls.other.value == 1 ? 'container-radio small  box-item-radio mb-2 active' : 'container-radio small  box-item-radio mb-2'">
                    <div class="text-center"><strong>特になし</strong></div>
                    <input type="radio" formControlName="other" value="1" (change)="changeOtherEx()">
                    <span class="checkmark"></span>
                </label>
                <label class="container-radio small box-item-radio mb-2"
                [className]="purposeInvestForm.controls.other.value == 2 ? 'container-radio small  box-item-radio mb-2 active' : 'container-radio small  box-item-radio mb-2'">
                    <div class="text-center"><strong>上記以外の投資経験がある</strong></div>
                    <input type="radio" formControlName="other" value="2" (change)="changeOtherEx()">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <ng-container *ngIf="purposeInvestForm.controls.other.value == '2'">
        <div class="row mb-1">
            <div class="col-md-4 col-lg-3">
                <label class="label mr-lg-2">投資経験がある金融商品名</label>
            </div>
            <div class="col-md-8 col-lg-6">
                <input type="text" formControlName="financialInstrument"
                [className]="purposeInvestForm.controls.financialInstrument.errors ? 'form-control invalid' : 'form-control'">
                <div *ngIf="purposeInvestForm.controls.financialInstrument.errors" class="invalid-mess">
                    <div>この項目は必須項目です。</div>
                </div>
            </div>
        </div>
    
        <div class="row mb-1">
            <div class="col-md-4 col-lg-3">
                <label class="label mr-lg-2">取引経験</label>
            </div>
            <div class="col-md-8 col-lg-6">
                <select formControlName="tradingExperience" (change)="changeExPurPose()"
                [className]="purposeInvestForm.controls.tradingExperience.errors ? 'form-control invalid' : 'form-control'">
                    <option value="" disabled>選択してください</option>
                    <option *ngFor="let item of listTradingExperienceInvidual" value="{{item?.sequence}}">{{item?.value}}
                    </option>
                    <div *ngIf="purposeInvestForm.controls.tradingExperience.errors"
                            class="invalid-mess">
                            <!-- <div>この項目は必須項目です。</div> -->
                            <div *ngIf="purposeInvestForm?.controls?.tradingExperience?.errors?.ErrorEXP">デリバティブの経験が6か月未満の場合には口座を開設いただけません。</div>
                            <div *ngIf="purposeInvestForm?.controls?.tradingExperience?.errors?.Required">この項目は必須項目です。</div>
                        </div>
                </select>
            </div>
        </div>
    </ng-container>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            &nbsp;
        </div>
        <div class="col-md-8 col-lg-6">
            <button (click)="saveCorp(formType.purpose)" class="btn btn-success btn-save">Save</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-corporation" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>{{'Do you want to save information?' | translate}}</p>
                <div>
                    <button type="button" class="btn btn-sm btn-success pl-3 pr-3" (click)="updateCorporate()" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary pl-3 pr-3" data-dismiss="modal">{{'Cancel' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng4-loading-spinner> </ng4-loading-spinner>