<h3 class="border-bottom pb-1 mb-3">{{'Corporate Information' | translate}}</h3>
<div class="table-responsive">
    <table [formGroup]="corporateForm" class="table table-sm table-borderless table-hover table-profile" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="240">{{'Corporate name' | translate}}</td>
                <td><strong>{{corporateInfor?.corporation?.name}}</strong></td>
                <td width="15">&nbsp;</td>
            </tr>
            <tr>
                <td>{{'Corporate name (Furigana)' | translate}}</td>
                <td><strong>{{corporateInfor?.corporation?.fx_name1}}</strong></td>
                <td width="15">&nbsp;</td>
            </tr>
            <tr class="row-postcode">
                    <td>{{'Postcode' | translate}}</td>
                    <td>
                        <div class="currentvalue" *ngIf="editCorAddress == false">
                            <strong>{{corporateInfor?.corporation?.address?.value?.zip}}</strong>
                        </div>
                        <div class="editable d-block" *ngIf="editCorAddress == true">
                            <input type="text" name="postcode" formControlName="cor_postcode" maxlength="7" (change)="changeAddress()" placeholder=""
                            [className]="corporateForm.controls?.cor_postcode?.errors ? 'form-control form-control-sm mb-1 invalid' : 'form-control form-control-sm mb-1'">
                                <div *ngIf="corporateForm?.controls?.cor_postcode?.errors?.Required" class="invalid-mess">
                                  {{'Please enter your zip code' | translate}}
                                </div>
                                <div *ngIf="corporateForm?.controls?.cor_postcode?.errors?.lengthlower7" class="invalid-mess">
                                    <div>
                                        {{'Postal code is incorrect' | translate}}</div>
                                </div>
                                <div *ngIf="notFoundPostCode" class="invalid-mess">
                                    <div>
                                        {{'The address could not be found from the zip code' | translate}}</div>
                                </div>
                        </div>
                    </td>
                    <td width="15">
                        <a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" *ngIf="editCorAddress == false && corporateInfor?.corporation?.address?.status == STATUS_INFO.approve" title="Edit Address" (click)="showEditFieldCor('cor-address', formType.corporateInfor)"><i class="icon ion-md-create"></i></a>
                    </td>
                </tr>

                <tr class="row-address need-verify">
                    <td>{{'Address' | translate}}</td>
                    <td>
                        <div class="currentvalue" *ngIf="editCorAddress == false">
                            <div><strong>{{corporateInfor?.corporation?.address?.value?.city}} , {{corporateInfor?.corporation?.address?.value?.street}}</strong></div>
                            <div><strong>{{corporateInfor?.corporation?.address?.value?.street2}} {{corporateInfor?.corporation?.address?.value?.fx_street3}}</strong></div>
                            <div class="status small" *ngIf="corporateInfor?.corporation?.address?.status == STATUS_INFO.inProgress"><span class="text-info">
                            <i class="icon ion-md-hourglass">
                            </i> {{'Verification in progress' | translate}}</span></div>
                        </div>
                        <div class="editable d-block" *ngIf="editCorAddress == true">
                            <div class="row no-gutters">
                                <div class="col-sm-6 pr-md-1">
                                    <select style="width: 100%" formControlName="cor_prefec"
                                      [className]="corporateForm.controls?.cor_prefec?.errors ? 'form-control form-control-sm mb-1 select2 invalid' : 'form-control form-control-sm mb-1 select2'">
                                      <option *ngFor="let item of listCityJapan" value="{{item}}">{{item}}</option>
                                      <div *ngIf="corporateForm?.controls?.cor_prefec?.errors?.Required" class="invalid-mess">
                                        <div>{{'This field is required' | translate}}</div>
                                      </div>
                                  </select>
                                </div>
                                <div class="col-sm-6 pl-md-1">
                                  <input type="text" name="cor-address" formControlName="cor_district" value="" maxlength="255"
                                    [className]="corporateForm.controls?.cor_district?.errors ? 'form-control form-control-sm mb-1 invalid' : 'form-control form-control-sm mb-1'">
                                    <div *ngIf="corporateForm?.controls?.cor_district?.errors?.Required" class="invalid-mess">
                                      <div>{{'This field is required' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-sm-6 pr-md-1">
                                    <input type="text" name="cor-address" maxlength="50" formControlName="cor_house" value="" placeholder="House Number"
                                      [className]="corporateForm.controls?.cor_house?.errors ? 'form-control form-control-sm mb-1 invalid' : 'form-control form-control-sm mb-1'">
                                      <div *ngIf="corporateForm?.controls?.cor_house?.errors?.Required" class="invalid-mess">
                                        <div>{{'This field is required' | translate}}</div>
                                      </div>
                                </div>
                                <div class="col-sm-6 pl-md-1">
                                    <input type="text" name="cor-address" maxlength="255" class="form-control form-control-sm mb-1" formControlName="cor_build" value="" placeholder="Building Name">
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('cor-address', formType.corporateInfor)"> {{'Cancel' | translate}}</button>
                            </div>
                        </div>
                    </td>
                    <!-- <td width="15">
                        <a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" *ngIf="editCorAddress == false && corporateInfor?.corporation?.address?.status == STATUS_INFO.approve" title="Edit Address" (click)="showEditFieldCor('cor-address', formType.corporateInfor)"><i class="icon ion-md-create"></i></a>
                    </td> -->
                </tr>


                <tr class="row-phone">
                    <td>{{'Phone' | translate}}</td>
                    <td>
                        <div class="currentvalue" *ngIf="editCorPhone == false">
                            <strong><a href="javascript:;">{{corporateInfor?.corporation?.phone}}</a></strong>
                        </div>
                        <div class="editable d-block" *ngIf="editCorPhone == true">
                            <input type="text" name="cor-phone" maxlength="10" placeholder="" formControlName="cor_phone"
                              [className]="corporateForm.controls?.cor_phone?.errors ? 'form-control form-control-sm mb-1 invalid' : 'form-control form-control-sm mb-1'">
                            <div style="display:block" *ngIf="corporateForm.controls?.cor_phone?.errors" class="invalid-mess">
                            <div *ngIf="corporateForm.controls?.cor_phone?.errors?.Phone">{{'This field is required' | translate}}</div>
                            <div *ngIf="corporateForm.controls?.cor_phone?.errors?.ErrorHalfSizeNumber">{{'Only half-width number can be entered.' | translate}}</div>
                            <div *ngIf="corporateForm.controls?.cor_phone?.errors?.phoneLength">{{'Please enter your phone number in 10 digits.' | translate}}</div>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('cor-phone', formType.corporateInfor)"> {{'Cancel' | translate}}</button>
                            </div>
                        </div>
                    </td>
                    <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Phone" *ngIf="editCorPhone == false" (click)="showEditFieldCor('cor-phone', formType.corporateInfor)"><i class="icon ion-md-create"></i></a></td>
                </tr>
                <tr class="row-fax">
                    <td>{{'Fax' | translate}}</td>
                    <td>
                        <div class="currentvalue" *ngIf="editCorFax == false">
                            <strong><a href="javascript:;">{{corporateInfor?.corporation?.fx_fax?.value}}</a></strong>
                        </div>
                        <div class="editable d-block" *ngIf="editCorFax == true">
                            <input type="text" name="cor-fax" class="form-control form-control-sm mb-1" maxlength="11" placeholder="" formControlName="cor_fax"
                              [className]="corporateForm.controls?.cor_fax?.errors ? 'form-control form-control-sm mb-1 invalid' : 'form-control form-control-sm mb-1'">
                            <div *ngIf="corporateForm?.controls?.cor_fax?.errors?.Required" class="invalid-mess">
                              <div>{{'This field is required' | translate}}</div>
                            </div>
                            <div *ngIf="corporateForm?.controls?.cor_fax?.errors?.ErrFax" class="invalid-mess">
                                <div>{{'Please enter a fax with at least 10 characters' | translate}}</div>
                              </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('cor-fax', formType.corporateInfor)"> {{'Cancel' | translate}}</button>
                            </div>
                        </div>
                    </td>
                    <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Fax" *ngIf="editCorFax == false" (click)="showEditFieldCor('cor-fax', formType.corporateInfor)"><i class="icon ion-md-create"></i></a></td>
                </tr>
            <tr class="row-action" *ngIf="showSaveCorp == true">
                <td>&nbsp;</td>
                <td>
                    <button type="button" (click)="saveCorp(formType.corporateInfor)" class="btn btn-save btn-success pl-3 pr-3">{{'Save' | translate}}</button>
                </td>
                <td width="15">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="d-flex justify-content-between align-items-center mb-3 bg-light p-2">
    <h5 class="mb-0"><strong>{{'Financial Information' | translate}}</strong></h5>
    <a href="javascript:;" class="edit-link edit-link-financial" data-toggle="tooltip" data-placement="top" (click)="editFinancial = true"
        title="Edit Financial Information"><i class="icon ion-md-create"></i></a>
</div>
<div class="financial_info" *ngIf="editFinancial == false">
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{"Business's annual sales" | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{financialInforForm?.controls?.businessEntityAnnual?.value | convertFinancial: 'corp'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'Annual sales after tax' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{financialInforForm?.controls?.tax?.value | convertFinancial: 'corp'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{"Business's capital" | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{financialInforForm?.controls?.businessCapital?.value | convertFinancial: 'corp'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'Investment amount of corporate' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{financialInforForm?.controls?.investment?.value | convertFinancial: 'corp'}}</strong>
        </div>
    </div>
</div>
<div [formGroup]="financialInforForm" class="financial_edit p-3 bg-light" *ngIf="editFinancial == true">
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{"Business's annual sales" | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select class="form-control" formControlName="businessEntityAnnual">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listBusinessEntityAnnualCorporation" value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
            <div class="invalid-mess" *ngIf="financialInforForm?.controls?.businessEntityAnnual?.errors">この項目は必須項目です。</div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'Annual sales after tax' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select class="form-control" formControlName="tax">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listTaxCorporation" value="{{item?.sequence}}" data-val="100">{{item?.value}}</option>
            </select>
            <div class="invalid-mess" *ngIf="financialInforForm?.controls?.tax?.errors">この項目は必須項目です。</div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{"Business's capital" | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select class="form-control" formControlName="businessCapital" (change)="changeBusinessCapital()">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listBusinessCapitalCorporation" value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
            <div class="invalid-mess" *ngIf="financialInforForm?.controls?.businessCapital?.errors">この項目は必須項目です。</div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'Investment amount of corporate' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select class="form-control" formControlName="investment">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listInvestmentCorporation" value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
            <div class="invalid-mess" *ngIf="financialInforForm?.controls?.investment?.errors">この項目は必須項目です。</div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            &nbsp;
        </div>
        <div class="col-md-8 col-lg-6">
            <button (click)="saveCorp(formType.financial)" class="btn btn-success btn-save">{{'Save' | translate}}</button>
            <button (click)="cancelEditFinan()" class="btn btn-primary btn-save ml-2">{{'Cancel' | translate}}</button>
        </div>
    </div>
</div>
<!-- <div class="text-center mt-2 mb-4 text-secondary">&#8636;&nbsp;&#8641;</div> -->
<h3 class="border-bottom pb-1 mb-3">{{'Person in charge (PIC) information' | translate}}</h3>
<div [formGroup]="picForm" class="table-responsive">
    <table class="table table-sm table-borderless table-hover table-profile" cellspacing="0" cellpadding="0">
        <tbody>

            <tr class="row-department">
                <td width="240">{{'Department' | translate}}</td>
                <td>
                    <div class="currentvalue" *ngIf="editPersonBod == false">
                        <strong>{{corporateInfor?.pic?.fx_dept}}</strong>
                    </div>
                    <div class="editable d-block" *ngIf="editPersonBod == true">
                        <input type="text" name="department" class="form-control form-control-sm mb-1" maxlength="255" placeholder="" formControlName="person_bod"
                          [className]="picForm?.controls?.person_bod?.errors ? 'form-control form-control-sm mb-1 invalid' : 'form-control form-control-sm mb-1'">
                        <div *ngIf="picForm?.controls?.person_bod?.errors?.Required" class="invalid-mess">
                          <div>{{'This field is required' | translate}}</div>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('department', formType.pic)"> {{'Cancel' | translate}}</button>
                        </div>
                    </div>
                </td>
                <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Department" *ngIf="editPersonBod == false" (click)="showEditFieldCor('department', formType.pic)"><i class="icon ion-md-create"></i></a></td>
            </tr>

            <tr class="row-pic-position">
                <td width="200">{{'PIC Position' | translate}}</td>
                <td>
                    <div class="currentvalue" *ngIf="editPersonPic == false">
                        <strong>{{corporateInfor?.pic?.function}}</strong>
                    </div>
                    <div class="editable d-block" *ngIf="editPersonPic == true">
                        <input type="text" name="pic-position" maxlength="255" placeholder="PIC Position" formControlName="person_pic"
                          [className]="picForm?.controls?.person_pic?.errors ? 'form-control form-control-sm mb-1 invalid' : 'form-control form-control-sm mb-1'">
                        <div *ngIf="picForm?.controls?.person_pic?.errors?.Required" class="invalid-mess">
                          <div>{{'This field is required' | translate}}</div>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('pic-position', formType.pic)">{{'Cancel' | translate}}</button>
                        </div>
                    </div>
                </td>
                <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit PIC Position" *ngIf="editPersonPic == false" (click)="showEditFieldCor('pic-position', formType.pic)"><i class="icon ion-md-create"></i></a></td>
            </tr>


            <tr class="row-pic-name">
                <td width="200">{{'PIC Name' | translate}}</td>
                <td>
                    <div class="currentvalue" *ngIf="editPersonPicname == false">
                        <strong>{{corporateInfor?.pic?.info?.value.name}}</strong>
                    </div>
                    <div class="editable d-block" *ngIf="editPersonPicname == true">
                        <input type="text" name="pic-name" maxlength="50" placeholder="PIC name" formControlName="per_picname"
                          [className]="picForm?.controls?.per_picname?.errors ? 'form-control form-control-sm mb-1 invalid' : 'form-control form-control-sm mb-1'">
                        <div *ngIf="picForm?.controls?.per_picname?.errors?.Required" class="invalid-mess">
                          <div>{{'This field is required' | translate}}</div>
                        </div>
                    </div>
                </td>
                <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit PIC Name"
                    *ngIf="editPersonPicname == false && corporateInfor?.pic?.info?.status == STATUS_INFO.approve" (click)="showEditFieldCor('pic-name', formType.pic)"><i class="icon ion-md-create"></i></a></td>
            </tr>

            <tr class="row-pic-name-furi">
                <td width="200">{{'PIC name (furigana)' | translate}}</td>
                <td>
                    <div class="currentvalue" *ngIf="editPersonPicname == false">
                        <strong>{{corporateInfor?.pic?.info?.value?.fx_name1}}</strong>
                    </div>
                    <div class="editable d-block" *ngIf="editPersonPicname == true">
                        <input type="text" name="pic-name" maxlength="50" placeholder="PIC name" formControlName="person_picname"
                          [className]="picForm?.controls?.person_picname?.errors ? 'form-control form-control-sm mb-1 invalid' : 'form-control form-control-sm mb-1'">
                        <div *ngIf="picForm?.controls?.person_picname?.errors" class="invalid-mess">
                          <div>{{'Please enter full-width Katakana' | translate}}</div>
                        </div>
                        <!-- <div class="text-right">
                            <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('pic-name', formType.pic)">{{'Cancel' | translate}}</button>
                        </div> -->
                    </div>
                </td>
                <!-- <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit PIC Name" *ngIf="editPersonPicname == false" (click)="showEditFieldCor('pic-name', formType.pic)"><i class="icon ion-md-create"></i></a></td> -->
            </tr>

            <tr class="row-pic-gender">
                <td width="200">{{'PIC Gender' | translate}}</td>
                <td>
                    <div class="currentvalue" *ngIf="editPersonPicname == false">
                        <strong>{{corporateInfor?.pic?.info?.value?.fx_gender}}</strong>
                        <div class="status small" *ngIf="corporateInfor?.pic?.info?.status == STATUS_INFO.inProgress"><span class="text-info">
                            <i class="icon ion-md-hourglass">
                            </i> {{'Verification in progress' | translate}}</span></div>
                    </div>
                    <div class="editable d-block" *ngIf="editPersonPicname == true">
                      <select class="form-control form-control-sm mb-1 select2" style="width: 100%" formControlName="person_gender">
                          <option value="M">{{'Male' | translate}}</option>
                          <option value="F">{{'Female' | translate}}</option>
                      </select>
                      <div class="text-right">
                        <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('pic-name', formType.pic)">{{'Cancel' | translate}}</button>
                    </div>
                  </div>
                </td>
                <!-- <td *ngIf="editGender == false" width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Phone" (click)="showEditFieldCor('p-gender', formType.pic)"><i class="icon ion-md-create"></i></a></td> -->
            </tr>


            <tr class="row-phone">
                <td>{{'PIC Phone' | translate}}</td>
                <td>
                    <div class="currentvalue" *ngIf="editPersonPhone == false">
                        <strong><a href="javascript:;">{{corporateInfor?.pic?.phone}}</a></strong>
                    </div>
                    <div class="editable d-block" *ngIf="editPersonPhone == true">
                        <input type="text" name="p-phone"  maxlength="10" placeholder="" formControlName="person_phone"
                        [className]="phoneFormError ? 'form-control form-control-sm mb-1 invalid' : 'form-control form-control-sm mb-1'">
                        <div style="display:block" *ngIf="phoneFormError" class="invalid-mess">
                            <div *ngIf="phoneFormError.phoneLength">
                                      {{'Please enter your pic phone number in 10 digits.' | translate}}</div>
                            <div *ngIf="phoneFormError.ErrorHalfSizeNumber">
                                      {{'Only half-width number can be entered.' | translate}}</div>
                          <div *ngIf="phoneFormError.Phone">
                                      {{'This field is required' | translate}}</div>
                          </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('p-phone', formType.pic)">{{'Cancel' | translate}}</button>
                        </div>
                    </div>
                </td>
                <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Phone" *ngIf="editPersonPhone == false" (click)="showEditFieldCor('p-phone', formType.pic)"><i class="icon ion-md-create"></i></a></td>
            </tr>

            <tr class="row-mobile">
                <td>{{'PIC Mobile' | translate}}</td>
                <td>
                    <div class="currentvalue" *ngIf="editPersonMobile == false">
                        <strong><a href="javascript:;">{{corporateInfor?.pic?.mobile}}</a></strong>
                    </div>
                    <div class="editable d-block" *ngIf="editPersonMobile == true">
                        <input type="text" name="p-mobile"  maxlength="11" placeholder="" formControlName="person_mobile"
                        [className]="mobileFormError ? 'form-control form-control-sm mb-1 invalid' : 'form-control form-control-sm mb-1'">
                        <div style="display:block" *ngIf="mobileFormError" class="invalid-mess">
                            <div *ngIf="mobileFormError.phoneLength">
                                        {{'Please enter your pic mobile number in 11 digits.' | translate}}</div>
                            <div *ngIf="mobileFormError.ErrorHalfSizeNumber">
                                        {{'Only half-width number can be entered.' | translate}}</div>
                            <div *ngIf="mobileFormError.Phone">
                                        {{'This field is required' | translate}}</div>
                            </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('p-mobile', formType.pic)">{{'Cancel' | translate}}</button>
                        </div>
                    </div>
                </td>
                <td width="15"><a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Mobile" *ngIf="editPersonMobile == false" (click)="showEditFieldCor('p-mobile', formType.pic)"><i class="icon ion-md-create"></i></a></td>

            </tr>
            <tr class="row-email need-verify">
                <td>{{'Email' | translate}}</td>
                <td>
                    <div class="currentvalue" *ngIf="editPersonEmail == false">
                        <strong><a href="javascript:;">{{corporateInfor?.pic?.email?.value}}</a></strong>
                        <div class="status small" *ngIf="corporateInfor?.pic?.email?.status == STATUS_INFO.inProgress"><span class="text-info">
                        <i class="icon ion-md-hourglass"></i> {{'Verification in progress' | translate}}</span></div>
                    </div>
                    <div class="editable d-block" *ngIf="editPersonEmail == true">
                        <input type="text" name="p-email" maxlength="100" placeholder="" formControlName="person_email"
                          [className]="(picForm?.controls?.person_email?.errors || invalidEmail) ? 'form-control form-control-sm mb-1 invalid' : 'form-control form-control-sm mb-1'">
                        <div *ngIf="picForm?.controls?.person_email?.errors || invalidEmail" class="invalid-mess">
                          <div *ngIf="picForm?.controls?.person_email?.errors?.Required">
                            <div>{{'This field is required' | translate}}</div>
                          </div>
                        <div *ngIf="picForm?.controls?.person_email?.errors?.ErrorHalfSizeNumber">
                          <div>{{'Only half-width characters can be entered.' | translate}}</div>
                        </div>
                        <div *ngIf="picForm?.controls?.person_email?.errors?.Email">
                          <div>{{'Invalid email' | translate}}</div>
                        </div>
                        </div>
                        <div *ngIf="invalidEmail" class="invalid-mess">
                            <div>{{'This email address is already registered' | translate}}</div>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-sm btn-cancel btn-outline-secondary pt-0 pb-0" (click)="cancelEditCor('p-email', formType.pic)">{{'Cancel' | translate}}</button>
                        </div>
                    </div>
                </td>
                <td width="15">
                    <a href="javascript:;" class="edit-link" data-toggle="tooltip" data-placement="top" title="Edit Email" (click)="showEditFieldCor('p-email', formType.pic)"
                    *ngIf="editPersonEmail == false && corporateInfor?.pic?.email?.status == STATUS_INFO.approve"><i class="icon ion-md-create"></i></a>
                </td>
            </tr>
            <tr class="row-action" *ngIf="showSavePic === true">
                <td>&nbsp;</td>
                <td>
                    <button type="button" (click)="saveCorp(formType.pic)" class="btn btn-save btn-success pl-3 pr-3">{{'Save' | translate}}</button>
                </td>
                <td width="15">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<div>&nbsp;</div>
<div class="d-flex justify-content-between align-items-center mb-3 bg-light p-2">
    <h5 class="mb-0"><strong>{{'PIC Investment Experience' | translate}}</strong></h5>
    <a href="javascript:;" class="edit-link edit-link-investment" data-toggle="tooltip" data-placement="top" (click)="editPurposeInvest()"
        title="Edit Investment Purpose"><i class="icon ion-md-create"></i></a>
</div>
<div class="investment_purpose" *ngIf="editPurpose == false">
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'Investment Purpose' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.investPurposeSortTerm?.value == true ? '短期売買 ' : ''}}
                {{purposeInvestForm?.controls?.investPurposeMedium?.value == true ? '中長期運用 ' : ''}}
                {{purposeInvestForm?.controls?.investPurposeExchange?.value == true ? '為替差益重視 ' : ''}}
                {{purposeInvestForm?.controls?.investPurposeInterestRate?.value == true ? '金利・配当重視 ' : ''}}
                {{purposeInvestForm?.controls?.investPurposeForeignCurrency?.value == true ? '外貨資産ヘッジ ' : ''}}
                {{purposeInvestForm?.controls?.investPurposeOther?.value == true ? 'その他 ' : ''}}</strong>
        </div>
    </div>
    <div class="row mb-1">
            <div class="col-md-4 col-lg-3">
                <label class="label">{{'If you select other' | translate}}</label>
            </div>
            <div class="col-md-8 col-lg-6">
                <strong>{{purposeInvestForm?.controls?.otherPurpose?.value}}</strong>
            </div>
    </div>
    <div class="row mb-1">
            <div class="col-md-4 col-lg-3">
                <label class="label">{{'Background of application (motivation for transaction)' | translate}}</label>
            </div>
            <div class="col-md-8 col-lg-6">
                <strong>{{purposeInvestForm?.controls?.backgroundApplication?.value | convertInvestmentPurpose : 'background'}}</strong>
            </div>
    </div>
    <div class="row mb-1">
            <div class="col-md-4 col-lg-3">
                <label class="label">{{'Specific Name' | translate}}</label>
            </div>
            <div class="col-md-8 col-lg-6">
                <strong>{{purposeInvestForm?.controls?.specificName?.value}}</strong>
            </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'FX trading experience' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.investExFx?.value | convertInvestmentPurpose: 'experience'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'CFD trading experience' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.inversExCfd?.value | convertInvestmentPurpose: 'experience'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'Stock trading experience' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.investStockTrading?.value | convertInvestmentPurpose: 'experience'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'Margin trading experience' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.investMarginTrading?.value | convertInvestmentPurpose: 'experience'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'Commodities futures experience' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.investCommodities?.value | convertInvestmentPurpose: 'experience'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'Other investment experience' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.other?.value == '1' ? '特になし' : '上記以外の投資経験がある'}}</strong>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label mr-lg-2">{{'Other financial instruments name' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong>{{purposeInvestForm?.controls?.financialInstrument?.value}}</strong>

        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label mr-lg-2">{{'Other trading experience' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <strong> {{purposeInvestForm?.controls?.tradingExperience?.value | convertInvestmentPurpose: 'experience'}}</strong>
        </div>
    </div>
</div>
<div [formGroup]="purposeInvestForm" class="investment_purpose_edit p-3 bg-light" *ngIf="editPurpose == true">
    <label class="label mb-1">{{'Investment Purpose' | translate}}</label>
    <div *ngIf="purposeInvestForm.controls.investPurpose.errors"
                class="text-danger small mt-1">1つ以上の選択が必要です</div>
    <div class="row small-gutters">
        <div class="col-md-6 col-lg-4">
            <label class="container-checkbox small box-item-checkbox mb-2">
                <div class="text-center"><strong>短期売買</strong></div>
                <input type="checkbox" formControlName="investPurposeSortTerm"
                (change)="changePurpose()" value="1">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-md-6 col-lg-4">
            <label class="container-checkbox small  box-item-checkbox mb-2">
                <div class="text-center"><strong>中長期運用</strong></div>
                <input type="checkbox" (change)="changePurpose()"
                formControlName="investPurposeMedium" value="2">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-md-6 col-lg-4">
            <label class="container-checkbox small  box-item-checkbox mb-2">
                <div class="text-center"><strong>為替差益重視</strong></div>
                <input type="checkbox" (change)="changePurpose()"
                formControlName="investPurposeExchange" value="3">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-md-6 col-lg-4">
            <label class="container-checkbox small  box-item-checkbox mb-2">
                <div class="text-center"><strong>金利・配当重視</strong></div>
                <input type="checkbox" (change)="changePurpose()"
                formControlName="investPurposeInterestRate" value="4">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-md-6 col-lg-4">
            <label class="container-checkbox small  box-item-checkbox mb-2">
                <div class="text-center"><strong>外貨資産ヘッジ</strong></div>
                <input type="checkbox" (change)="changePurpose()"
                formControlName="investPurposeForeignCurrency" value="5">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="col-md-6 col-lg-4">
            <label class="container-checkbox small  box-item-checkbox mb-2">
                <div class="text-center"><strong>その他</strong></div>
                <input type="checkbox" (change)="changePurpose()"
                formControlName="investPurposeOther" value="6">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="row mb-1" *ngIf="purposeInvestForm.controls.investPurposeOther.value == true">
        <div class="col-md-4 col-lg-3">
            <label class="label mr-lg-2">{{'If you select other' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <input formControlName="otherPurpose" type="text" name="exx" value="" maxlength="255"
            [className]="purposeInvestForm.controls.otherPurpose.errors ? 'form-control invalid' : 'form-control'">
            <div *ngIf="purposeInvestForm.controls.otherPurpose.errors" class="invalid-mess">
                <div>この項目は必須項目です。</div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'Background of application (motivation for transaction)' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select formControlName="backgroundApplication" (change)="changeBackGroundApplication()"
            [className]="purposeInvestForm.controls.backgroundApplication.errors ? 'form-control invalid' : 'form-control'">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listBackgroundApplicationInvidual" value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
            <div *ngIf="purposeInvestForm.controls.backgroundApplication.errors" class="invalid-mess">
                <div>この項目は必須項目です。</div>
            </div>
        </div>
    </div>
    <div class="row mb-1" *ngIf="purposeInvestForm.controls.backgroundApplication.value == 7">
            <div class="col-md-4 col-lg-3">
                <label class="label mr-lg-2">{{'Specific Name' | translate}}</label>
            </div>
            <div class="col-md-8 col-lg-6">
                <input formControlName="specificName" type="text" placeholder="例)先物・オプション・仮想通貨" maxlength="255"
                [className]="purposeInvestForm.controls.specificName.errors ? 'form-control invalid' : 'form-control'">
                <div *ngIf="purposeInvestForm.controls.specificName.errors"
                        class="invalid-mess">
                        <div>この項目は必須項目です。</div>
                    </div>
            </div>
    </div>
    <div class="row mb-1">
            <div class="col-md-4 col-lg-3">
                <label class="label">{{'FX trading experience' | translate}}</label>
            </div>
            <div class="col-md-8 col-lg-6">
                <select formControlName="investExFx" (change)="changeExPurPose()"
                [className]="purposeInvestForm.controls.investExFx.errors ? 'form-control invalid' : 'form-control'">
                    <option value="" disabled>選択してください</option>
                    <option *ngFor="let item of listInvestExFxInvidual"
                    value="{{item?.sequence}}">{{item?.value}}</option>
                </select>
                <div *ngIf="purposeInvestForm.controls.investExFx.errors" class="invalid-mess">
                    <div *ngIf="purposeInvestForm?.controls?.investExFx?.errors?.ErrorEXP">デリバティブの経験が6か月未満の場合には口座を開設いただけません。</div>
                    <div *ngIf="purposeInvestForm?.controls?.investExFx?.errors?.Required">この項目は必須項目です。</div>
                </div>
            </div>
        </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'CFD trading experience' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select formControlName="inversExCfd"
            (change)="changeExPurPose()"
            [className]="purposeInvestForm.controls.inversExCfd.errors ? 'form-control invalid' : 'form-control'">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listInvesExCfdInvidual"
                value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
            <div *ngIf="purposeInvestForm.controls.inversExCfd.errors" class="invalid-mess">
                <div *ngIf="purposeInvestForm?.controls?.inversExCfd?.errors?.ErrorEXP">デリバティブの経験が6か月未満の場合には口座を開設いただけません。</div>
                <div *ngIf="purposeInvestForm?.controls?.inversExCfd?.errors?.Required">この項目は必須項目です。</div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'Stock trading experience' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select formControlName="investStockTrading"
            [className]="purposeInvestForm.controls.investStockTrading.errors ? 'form-control invalid' : 'form-control'">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listInvestStockTradingInvidual"
                            value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
            <div *ngIf="purposeInvestForm.controls.investStockTrading.errors" class="invalid-mess">
                <div>この項目は必須項目です。</div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'Margin trading experience' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select formControlName="investMarginTrading"
            [className]="purposeInvestForm.controls.investMarginTrading.errors ? 'form-control invalid' : 'form-control'">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listInvestMarginTradingInvidual"
                            value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
            <div *ngIf="purposeInvestForm.controls.investMarginTrading.errors" class="invalid-mess">
                <div>この項目は必須項目です。</div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'Commodities futures experience' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <select formControlName="investCommodities"
            (change)="changeExPurPose()"
            [className]="purposeInvestForm.controls.investCommodities.errors ? 'form-control invalid' : 'form-control'">
                <option value="" disabled>選択してください</option>
                <option *ngFor="let item of listInvestCommoditiesInvidual"
                            value="{{item?.sequence}}">{{item?.value}}</option>
            </select>
            <div *ngIf="purposeInvestForm.controls.investCommodities.errors" class="invalid-mess">
                <div *ngIf="purposeInvestForm?.controls?.investCommodities?.errors?.ErrorEXP">デリバティブの経験が6か月未満の場合には口座を開設いただけません。
                </div>
                <div *ngIf="purposeInvestForm?.controls?.investCommodities?.errors?.Required">この項目は必須項目です。</div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            <label class="label">{{'Other investment experience' | translate}}</label>
        </div>
        <div class="col-md-8 col-lg-6">
            <div class="container-radios-wrapper">
                <label
                [className]="purposeInvestForm.controls.other.value == 1 ? 'container-radio small  box-item-radio mb-2 active' : 'container-radio small  box-item-radio mb-2'">
                    <div class="text-center"><strong>特になし</strong></div>
                    <input type="radio" formControlName="other" value="1" (change)="changeOtherEx()">
                    <span class="checkmark"></span>
                </label>
                <label class="container-radio small box-item-radio mb-2"
                [className]="purposeInvestForm.controls.other.value == 2 ? 'container-radio small  box-item-radio mb-2 active' : 'container-radio small  box-item-radio mb-2'">
                    <div class="text-center"><strong>上記以外の投資経験がある</strong></div>
                    <input type="radio" formControlName="other" value="2" (change)="changeOtherEx()">
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </div>
    <ng-container *ngIf="purposeInvestForm.controls.other.value == '2'">
        <div class="row mb-1">
            <div class="col-md-4 col-lg-3">
                <label class="label mr-lg-2">{{'Other financial instruments name' | translate}}</label>
            </div>
            <div class="col-md-8 col-lg-6">
                <input type="text" formControlName="financialInstrument" maxlength="255"
                [className]="purposeInvestForm.controls.financialInstrument.errors ? 'form-control invalid' : 'form-control'">
                <div *ngIf="purposeInvestForm.controls.financialInstrument.errors" class="invalid-mess">
                    <div>この項目は必須項目です。</div>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-md-4 col-lg-3">
                <label class="label mr-lg-2">{{'Other trading experience' | translate}}</label>
            </div>
            <div class="col-md-8 col-lg-6">
                <select formControlName="tradingExperience" (change)="changeExPurPose()"
                    [className]="purposeInvestForm.controls.tradingExperience.errors ? 'form-control invalid' : 'form-control'">
                    <option value="" disabled>選択してください</option>
                    <option *ngFor="let item of listTradingExperienceInvidual" value="{{item?.sequence}}">{{item?.value}}
                    </option>
                </select>
                <div *ngIf="purposeInvestForm.controls.tradingExperience.errors" class="invalid-mess">
                        <!-- <div>この項目は必須項目です。</div> -->
                        <div *ngIf="purposeInvestForm?.controls?.tradingExperience?.errors?.ErrorEXP">
                            デリバティブの経験が6か月未満の場合には口座を開設いただけません。</div>
                        <div *ngIf="purposeInvestForm?.controls?.tradingExperience?.errors?.Required">この項目は必須項目です。</div>
                    </div>
            </div>
        </div>
    </ng-container>
    <div class="row mb-1">
        <div class="col-md-4 col-lg-3">
            &nbsp;
        </div>
        <div class="col-md-8 col-lg-6">
            <button (click)="saveCorp(formType.purpose)" class="btn btn-success btn-save">{{'Save' | translate}}</button>
            <button (click)="cancelEditPurpose()" class="btn btn-primary btn-save ml-2">{{'Cancel' | translate}}</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-corporation" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>{{'Do you want to save information?' | translate}}</p>
                <div>
                    <button type="button" class="btn btn-sm btn-success pl-3 pr-3" (click)="updateCorporate()" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary pl-3 pr-3 ml-2" data-dismiss="modal">{{'Cancel' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng4-loading-spinner [timeout]="30000"></ng4-loading-spinner>
