<div bsModal #modalRule="bs-modal" class="modal fade" id="modal-rule" tabindex="-1" role="dialog" aria-labelledby="ruleTitle" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header pt-2 pb-2">
              <h5 class="modal-title text-uppercase text-primary" id="ruleTitle"><i class="icon ion-md-list-box"></i> <strong>{{'General rules for depositing and withdrawing funds' | translate}}</strong></h5>
          </div>
          <div class="modal-body" *ngIf="locale == language.english">
              <h4 class="text-primary">I. Deposit.</h4>
              <ul class="list-default">
                  <li>Please make payments from ATMs, stores, and internet banking of each financial institution.
                   </li>
                  <li>
                      Since the deposit account to be transferred is the account number common to all customers, the corporate name in the account name must include the date of birth of the transaction manager.
                      <!-- <ul>
                          <li>Billing system</li>
                          <li>Bank transfer</li>
                      </ul> -->
                  </li>
                  <li>
                      Please transfer from ATMs, stores, or internet banking of each financial institution.
                      <h5>Example) 19900130 Hash Dash Cub</h5>
                      <ul>
                          <!-- <li>クイック入金:</li>
                          こちらのシステムを介して入金することにより自動的に取引口座に反映されます。
                          <li>通常銀行振込：</li>
                          こちらは当社財務部が銀行入金を当日9時～15時まで確認し反映するためお時間がかかります。 -->
                          <h5>※Customers are responsible for the bank transfer fee at the time of deposit.
                          </h5>
                          <h5>※It will take some time to reflect the deposit. Please note.
                          </h5>
                      </ul>
                  </li>
                  <!-- <li>The minimum deposit amount is {{minDeposit | number}} JPY for one time.</li> -->
              </ul>
              <h4 class="text-primary">II. Withdrawal.</h4>
              <ul>
                  <li>Withdrawal requests from 15:00 on the previous business day to 15:00 on the current business day will be transferred to the registered withdrawal financial institution on the next business day. Please note that a request for a closed day sunrise payment will be made the next business day after the next business day. Note that the funds you are withdrawing will not be available in your trading account.
                  </li>
                  <li>Please be aware of risk management as it will take some time to arrive at your bank account.
                  </li>
                  <li>We are not responsible for delays in processing deposits and withdrawals due to delays caused by payment or banking systems.
                  </li>
                  <li>We are not responsible for delays in processing deposits and withdrawals due to delays caused by payment or banking systems.
                  </li>
                  <li>Note that we may change this general rule regarding deposit and withdrawal without notifying the customer in advance. In addition, we may impose restrictions on withdrawal from the viewpoint of legal compliance.
                  </li>
              </ul>
              <!-- <p>The company shall not be liable for delays in processing deposits and withdrawals if such delays are caused by the payment system or bank system.</p>
              <ul>
                  <li>The company retains the right to change the processing time for deposits and withdrawals without notifying clients in advance.</li>
                  <li>The company may place limits on the payment systems available to clients from certain countries.</li>
                  <li>The Company has the right to investigate, cancel, and/ or impose fees/ charges (dependant on payment method) on any withdrawal request originating from a trading account with no trading activity.</li>
              </ul> -->
              <div class="small text-secondary"><i class="icon ion-md-time"></i> <em>{{'Last updated:' | translate}} 2020/01/10 11:29 </em></div>
          </div>

          <div class="modal-body" *ngIf="locale == language.japan">
              <h4 class="text-primary">I.入金。</h4>
              <ul class="list-default">
                  <li>お客様のご入金は、各金融機関のＡＴＭ、店頭、インターネットバンキングからお振込みください。
                  </li>
                  <li>お振込みいただく入金先振込口座は、すべてのお客様共通の口座番号のため、口座名義の法人名に取引責任者様の生年月日をつ 
                  </li>
                  <li>
                      けて各金融機関のATM、店　頭、インターネットバンキングからお振込みください。
                      <h5>例）19900130ハッシュダッシュカブﾞ</h5>
                      <ul>
                          <!-- <li>クイック入金:</li>
                          こちらのシステムを介して入金することにより自動的に取引口座に反映されます。
                          <li>通常銀行振込：</li>
                          こちらは当社財務部が銀行入金を当日9時～15時まで確認し反映するためお時間がかかります。 -->
                          <h5>※ご入金時の銀行振込手数料は、お客様負担となります。
                          </h5>
                          <h5>※入金の反映には若干お時間を要します。ご了承ください。
                          </h5>
                      </ul>
                  </li>
                  <!-- <li>是非クイック入金をご利用ください。なお最低入金額は1回{{minDeposit | number}}円です。</li> -->
              </ul>
              <h4 class="text-primary">II.出金。</h4>
              <ul>
                  <li>前営業日の15時から当営業日15時までのご出金依頼は、翌々営業日にご登録の出金先金融機関へお振込みいたし
                      　　ます。休業日の出金依頼は、翌営業日から起算した翌々営業日となりますのでご注意ください。
                      　　なお、処理中の『出金依頼額』は、完了するまで拘束はされないため出金可能額ならびに取引可能額に反映されません。                        
                      </li>
                  <li>出金処理中の出金額がある場合のお取引には十分ご注意ください。また、出金依頼の処理確定時に残高が不足していた場合には、
                  </li>
                  <li>出金依頼が不可となります。ご了承ください。
                      </li>
                  <h5>お客様の銀行口座への着金までには時間がございますので、リスク管理にはご留意いただけますようお願いいたします。
                  </h5>
                  <li>支払いシステムまたは銀行システムによって遅延が生じた場合、当社は入金および出金の処理の遅延について責任を負わないも
                      　　のとします。
                      </li>
                  <li>なお、当社では、お客様に事前に通知することなく、こちらの入出金に関する一般規則を変更する場合がございます。また、法
                      　　令順守の観点から出金に制限を課す場合があります。
                      </li>
              </ul>
              <div class="small text-secondary"><i class="icon ion-md-time"></i> <em>{{'Last updated:' | translate}} 2020/07/24　</em></div>
          </div>
          <div class="modal-footer pt-1 pb-1 text-right bg-light">
              <button type="button" class="btn btn-primary pl-4 pr-4 btn-confirm" (click)="modalRule.hide()" data-dismiss="modal">{{'I got it' | translate}}</button>
          </div>
      </div>
  </div>
</div>