<div bsModal #modalRule="bs-modal" class="modal fade" id="modal-rule" tabindex="-1" role="dialog" aria-labelledby="ruleTitle" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header pt-2 pb-2">
                  <h5 class="modal-title text-uppercase text-primary" id="ruleTitle"><i class="icon ion-md-list-box"></i> <strong>{{'General rules for depositing and withdrawing funds' | translate}}</strong></h5>
              </div>
              <div class="modal-body">
                  <h4 class="text-primary">{{'1. Deposit' | translate}}</h4>
                  <ul class="list-default">
                      <li>{{'Deposit processing time' | translate}}</li>
                      <li>
                          {{'Customers can deposit via the following forms' | translate}}
                          <ul>
                              <li>{{'Billing system' | translate}}</li>
                              {{'Deposits made through this system will automatically be reflected in your trading account' | translate}}
                              <li>{{'Bank Transfer' | translate}}</li>
                              {{'Time confirm deposit' | translate}}
                          </ul>
                      </li>
                      <li>{{'Rule minimum deposit' | translate: {'minDeposit': minDeposit | number, 'currency': tradingAccount?.currency | translate} }}</li>
                  </ul>
                  <h4 class="text-primary">{{'2. Withdrawal' | translate}}</h4>
                  <ul>
                      <li>{{'Withdrawals can only be made to accounts in the name of the customer' | translate}}</li>
                      <li>{{'Withdrawal requests after 15:00' | translate}}</li>
                      <li>{{'Withdrawal requests handled after 15:00' | translate}}</li>
                      <li>{{'Note be aware of risk' | translate}}</li>
                      <li>{{'Minimum one time' | translate}}</li>
                      <li style="white-space: pre-wrap">{{'More noted' | translate}}</li>
                  </ul>
                  <p>{{'Noted about delay of banking' | translate}}</p>
                  <ul>
                      <li>{{'Company changes rule' | translate}}</li>
                      <li>{{'User can impose restrictions on withdrawals' | translate}}</li>
                      <li>{{'Conclusion about deposit' | translate}}</li>
                  </ul>
                  <div class="small text-secondary"><i class="afx-icon-card"></i> <em>{{'Last updated:' | translate}} 2020/01/10 11:29</em></div>
              </div>

              <div class="modal-footer pt-1 pb-1 text-right bg-light">
                  <button type="button" class="btn btn-primary pl-4 pr-4 btn-confirm" (click)="modalRule.hide()" data-dismiss="modal">{{'I got it' | translate}}</button>
              </div>
          </div>
      </div>
  </div>
