<div class="container">
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="row">
                <div class="col-md-3 col-lg-2">
                    <div class="nav flex-md-column nav-pills mb-3 filter-nav" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <a class="nav-link active" id="a-deposit-tab" data-toggle="pill" href="#deposit-tab" 
                            (click)="changeTab(TAB.deposit)" role="tab" aria-controls="deposit-tab" aria-selected="true">{{'Deposit' | translate}}</a>
                        <a class="nav-link" id="a-withdraw-tab" data-toggle="pill" href="#withdraw-tab"
                            (click)="changeTab(TAB.withdraw)" role="tab" aria-controls="withdraw-tab"
                            aria-selected="false">{{'Withdrawal' | translate}}</a>
                        <a class="nav-link" id="a-transfer-tab" data-toggle="pill" href="#transfer-tab" role="tab"
                            *ngIf="hideTransferTab" (click)="changeTab(TAB.transfer)" aria-controls="transfer-tab" aria-selected="false">{{'Transfer' | translate}}</a>
                        <a class="nav-link" #historyTab id="a-history-tab" data-toggle="pill" href="#history-tab" role="tab"
                            (click)="changeTab(TAB.history)" aria-controls="history-tab" aria-selected="false">aaaaa</a>
                    </div>
                </div>
                <div class="col-md-9 col-lg-10">
                    <div class="tab-content" id="deposit-tab">
                        <div *ngIf="showTabDeposit" class="tab-pane fade show active" id="deposit-tab" role="tabpanel"
                            aria-labelledby="v-pills-all-tab">
                            <app-deposit (emitTabFromDeposit)="goToTab($event)"></app-deposit>
                        </div>
                        <div *ngIf="showTabWithdraw" class="tab-pane fade" id="withdraw-tab" role="tabpanel"
                            aria-labelledby="withdraw-tab">
                            <app-withdraw-request (emitTabFromDeposit)="goToTab($event)"></app-withdraw-request>
                        </div>
                        <div *ngIf="showTabTransfer" class="tab-pane fade" id="transfer-tab" role="tabpanel"
                            aria-labelledby="transfer-tab">
                            <app-tranfer (emitTabFromDeposit)="goToTab($event)"></app-tranfer>
                        </div>
                        <div *ngIf="showTabHistory" class="tab-pane fade" id="history-tab" role="tabpanel"
                            aria-labelledby="history-tab">
                            <div class="container">
                                <div class="content-wrapper">
                                    <div class="content-inner">
                                        <div class="card bg-white mb-3 shadow">
                                            <div class="card-body">
                                                <nav class="mb-0">
                                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                        <ng-container *ngIf="!showTransferHistory">
                                                                <a class="nav-item nav-link active" id="nav-billing-tab" data-toggle="tab" href="#nav-billing" role="tab" aria-controls="nav-billing" aria-selected="true"><strong>{{'Quick deposit' | translate}}</strong></a>
                                                                <a class="nav-item nav-link" id="nav-bank-tab" data-toggle="tab" href="#nav-bank" role="tab" aria-controls="nav-bank" aria-selected="true"><strong>{{'Bank Tranfer' | translate}}</strong></a>
                                                        </ng-container>
                                                        <ng-container *ngIf="showTransferHistory">
                                                                <a class="nav-item nav-link" id="nav-billing-tab" data-toggle="tab" href="#nav-billing" role="tab" aria-controls="nav-billing" aria-selected="true"><strong>{{'Quick deposit' | translate}}</strong></a>
                                                                <a class="nav-item nav-link active" id="nav-bank-tab" data-toggle="tab" href="#nav-bank" role="tab" aria-controls="nav-bank" aria-selected="true"><strong>{{'Bank Tranfer' | translate}}</strong></a>
                                                        </ng-container>
                                                    </div>
                                                </nav>
                                                <div class="tab-content border-0 p-0 pt-3 mb-3" id="nav-tabContent">
                                                    <!-- BEGIN BBILLING SYSTEM -->
                                                    <div [className]="showTransferHistory ? 'tab-pane fade show' : 'tab-pane show active'" 
                                                     id="nav-billing" role="tabpanel" aria-labelledby="nav-billing-tab">
                                                        <div class="">
                                                            <app-withdraw-history 
                                                            [filterDepositHistory]="filterDepositHistory"
                                                            [filterWithDrawHistory]="filterWithDrawHistory">
                                                        </app-withdraw-history>
                                                        </div>
                                                    </div>
                                                    <!-- END BILLING SYSTEM -->
                                                    <!-- BEGIN BANK ACCOUNT -->
                                                    <div [className]="!showTransferHistory ? 'tab-pane fade show' : 'tab-pane show active'"  id="nav-bank" role="tabpanel" aria-labelledby="nav-bank-tab">
                                                        <div class="">
                                                            <app-transfer-history></app-transfer-history>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>