/* .bs-datepicker-head {
  background-color: #0D688F !important;
} */
::ng-deep .theme-blue .bs-datepicker-head {
  background-color: #0D688F !important;
}
.disableDatePicker {
  background: white !important;
}
::ng-deep {
  .oi-caret-right{
      color: #777777;
  }
  .oi-caret-left{
      color: #777777;
  }
  .page-item {
      cursor: pointer;
      .page-link:hover {
          background: #0056B0 !important;
          color: white;
          
      }
  }
  .jp {
    bs-datepicker-navigation-view {
      display: flex;
      justify-content: space-between;
     
      button:nth-last-child(1) {
          order: 3
      }
      button:nth-last-child(3) {
          order: 1;
          span {
              margin-left: -96px;
              z-index: 999;
              position: relative;
          }
      }
      button:nth-last-child(4) {
          order: 0
      }
      button:nth-last-child(2):after {
          content: "å¹´";
          z-index: 1;
          position: relative;
      }
  }
  }
  
}

