<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="card card-forgot">
            <!-- BEGIN Form forgot -->
            <div class="p-4 form form-line form-forgot">
                <h5 class="text-center"><img src="assets/images/logo.svg" class="logo"></h5>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                  <h3 class="mb-0 text-primary mt-4">{{'Reset password' | translate}}</h3>
                  <p class="small mb-4 text-secondary">{{'If you want to reset your password, please fill out the following information and press the submit button.' | translate}}</p>
                  <div class="form-group">
                      <label class="label">{{'Login ID / Email' |translate}}</label>
                      <input type="text" tabindex="1" name="login_id" class="form-control" #loginid formControlName="email" [ngClass]="{'invalid': isSubmitted && forgotPasswordForm.controls['email'].errors}"
                      placeholder="Email address or MT5 ID" value="">
                      <div *ngIf="isSubmitted && forgotPasswordForm?.controls['email']?.errors?.Required" class="invalid-mess">
                        <div>{{'This field is required' | translate}}</div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label class="label">{{'DOB' | translate}}</label>
                      <div class="input-wrapper">
                          <input type="text" tabindex="2" autocomplete="off" name="birthday" formControlName="dateInput" [ngClass]="{'invalid': isSubmitted && forgotPasswordForm.controls['dateInput'].errors}"
                          class="form-control disableDatePicker" placeholder="{{formatDateYear}}" value="" #dp="bsDatepicker" bsDatepicker
                          [bsConfig]="{ dateInputFormat: formatDateYear, containerClass: 'theme-blue' }"
                          >
                          <button type="button" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen" class="btn btn-none"><i class="icon ion-md-calendar"></i></button>
                      </div>
                      <div *ngIf="isSubmitted && forgotPasswordForm?.controls['dateInput']?.errors?.Required" class="invalid-mess">
                        <div>{{'This field is required' |translate}}</div>
                      </div>
                  </div>
                  <div class="text-success text-center mb-2" *ngIf="errSubmit == false">
                    {{'The temporary password will be sent to the registered email address.' | translate}}
                  </div>
                  <div class="text-danger text-center mb-2" *ngIf="errSubmit == true">
                    {{'Login ID or DOB incorrect' | translate}}
                  </div>
                  <p><a target="_blank" href="https://www.phillip.co.jp/contact/">{{'Click here if you forgot your Login ID' | translate}}</a></p>
                  <div class="form-group">
                      <button [disabled]="showInterval == true ? true : false" class="btn btn-primary btn-block" tabindex="3" type="submit">{{'Submit' | translate}}</button>
                  </div>
                  <div class="text-center">
                      <a routerLink="/login" [queryParams]="{loginId: this.forgotPasswordForm.value.email}" class="login-link">{{'Return to login screen' | translate}}</a>
                  </div>

                </form>

                   <div *ngIf="showInterval == true" class="small text-secondary text-center">{{'Please waiting' | translate}} <strong class="countdown-text"><span class="count">{{time}}</span></strong> {{'seconds to Return to login screen page.' | translate}}</div>


            </div><!-- END Form Login -->
        </div>
    </div>
</div>

<ng4-loading-spinner [timeout]="30000"> </ng4-loading-spinner>
