/* .bs-datepicker-head {
  background-color: #0D688F !important;
} */
::ng-deep .theme-blue .bs-datepicker-head {
  background-color: #0D688F !important;
}
.disableDatePicker {
  background: white !important;
}
