::ng-deep .theme-blue .bs-datepicker-head {
    background-color: #0D688F !important;
  }
  #pdf-preview-embed{
    width: 100%;
    height: 80vh;
  }
  .modal-lg {
    max-width: 85% !important;
    position: relative;
    padding-bottom: 70px;
  }
  .modal-lg .modal-content{
    max-height: 80vh;
    overflow-y: auto;
  }