<div class="container">
    <!-- <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="javascript:;">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Report</li>
        </ol>
    </nav> -->
    <div class="content-wrapper">
        <div class="content-inner">
            <div class="row">
                <div class="col-md-3 col-lg-2">
                    <div class="nav flex-md-column nav-pills mb-3 filter-nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-all-tab" data-toggle="pill" href="#v-pills-all" (click)="checkTab(TABS.ALL.value, 'call')" role="tab" aria-controls="v-pills-all" aria-selected="true">{{'All Customer Statement' | translate}}</a>
                        <a class="nav-link" id="v-pills-transaction-tab" data-toggle="pill" href="#v-pills-all" (click)="checkTab(TABS.DAILY.value, 'call')" role="tab" aria-controls="v-pills-transaction" aria-selected="false">{{'Daily Customer Statement' | translate}}</a>
                        <a class="nav-link" id="v-pills-annual-tab" data-toggle="pill" href="#v-pills-all" role="tab" (click)="checkTab(TABS.YEARLY.value, 'call')" aria-controls="v-pills-annual" aria-selected="false">{{'Yearly Customer Statement' | translate}}</a>
                    </div>
                </div>
                <div class="col-md-9 col-lg-10">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all-tab">
                            <h3 *ngIf="tab == 'ALL'" class="mb-3">{{'All Customer Statement' | translate}}</h3>
                            <h3 *ngIf="tab == 'DAILY'" class="mb-3">{{'Daily Customer Statement' | translate}}</h3>
                            <h3 *ngIf="tab == 'YEARLY'" class="mb-3">{{'Yearly Customer Statement' | translate}}</h3>
                            <div [formGroup]="searchForm" class="form mb-3 form-search-box">
                                <div class="row">
                                    <div class="col-4 col-lg-3">
                                        <div class="form-group">
                                            <label class="label d-block mb-0">{{'Trading account' | translate}}</label>
                                            <select disabled formControlName="tradingAccount" class="form-control form-control-sm">
                                                <option *ngFor="let item of listTradingAccount" value="{{item?.account_id}}">{{item?.value}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-md-9 col-lg-4">
                                                <div class="form-group">
                                                    <label class="label d-none d-lg-block mb-0">&nbsp;</label>
                                                    <div class="btn-group d-flex">
                                                        <button type="button" (click)="setDate(DURATION.YEAR)" class="btn btn-sm btn-outline-secondary">{{'Y' | translate}}</button>
                                                        <button type="button" (click)="setDate(DURATION.MONTH)" class="btn btn-sm btn-outline-secondary">{{'M' | translate}}</button>
                                                        <button type="button" (click)="setDate(DURATION.DAY)" class="btn btn-sm btn-outline-secondary">{{'D' | translate}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label class="label d-block mb-0">{{'From' | translate}}</label>
                                                    <div class="input-wrapper">
                                                        <input type="text" name="start-date" class="form-control form-control-sm date" placeholder="YYYY/MM/DD" #dp="bsDatepicker" bsDatepicker formControlName="fromDate" (bsValueChange)="onValueChangeFrom($event)" autocomplete="off" [bsConfig]="{ dateInputFormat: formatDateYear, containerClass: 'theme-blue' }">
                                                        <button type="button" class="btn btn-none btn-sm" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"><i
                                                                class="icon ion-md-calendar"></i></button>
                                                    </div>
                                                    <div *ngIf="showErrorDate == true" class="invalid-mess">
                                                        Period is incorrect, the to date must be greater than the from date
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <div class="form-group">
                                                    <label class="label d-block mb-0">{{'To' | translate}}</label>
                                                    <div class="input-wrapper">
                                                        <input type="text" name="end-date" class="form-control form-control-sm date" placeholder="YYYY/MM/DD" #dp2="bsDatepicker" bsDatepicker formControlName="toDate" autocomplete="off" (bsValueChange)="onValueChangeTo($event)" [bsConfig]="{ dateInputFormat: formatDateYear, containerClass: 'theme-blue' }">
                                                        <button type="button" class="btn btn-none btn-sm" (click)="dp2.toggle()" [attr.aria-expanded]="dp2.isOpen"><i
                                                                class="icon ion-md-calendar"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-lg-2">
                                                <div class="form-group">
                                                    <label class="label d-none d-lg-block mb-0">&nbsp;</label>
                                                    <button (click)="searchReport()" class="btn btn-success btn-search btn-block btn-sm">{{'Apply' | translate}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-sm table-hover" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <!-- <th class="border-top-0" width="20">&nbsp;</th> -->
                                            <th class="border-top-0">{{'Name' | translate}}</th>
                                            <th width="120" class="border-top-0 text-right">{{'Created date' | translate}}</th>
                                            <th width="120" class="border-top-0 text-right">{{'File type' | translate}}</th>
                                            <th width="120" class="border-top-0 text-right">{{'Status' | translate}}</th>
                                            <th class="border-top-0 text-right">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listReport">

                                            <!-- <td class="text-center align-middle"><span class="small text-secondary">{{item?.file_type}}</span></td> -->
                                            <td class="align-middle"><strong><a (click)="openPDF(item)"
                                                        href="javascript:;">{{item?.report_title}}</a></strong></td>
                                            <td class="text-right align-middle"><span class="text-secondary">{{item?.create_date}}</span>
                                            </td>
                                            <td *ngIf="item.file_type == 'pdf'" class="text-center align-middle"><img src="assets/images/icons/pdf.svg" width="20" height="20"></td>
                                            <td *ngIf="item.file_type == 'csv'" class="text-center align-middle"><img src="assets/images/icons/csv.svg" width="20" height="20"></td>
                                            <td *ngIf="item?.read_flg == true" class="text-right align-middle"><span class="text-success">{{'Done' | translate}}</span></td>
                                            <td *ngIf="item?.read_flg == false" class="text-right align-middle"><span class="text-danger">{{'Not yet' | translate}}</span></td>
                                            <td class="text-right align-middle">
                                                <button (click)="downLoadFile(item)" class="btn btn-sm btn-success btn-outline-secondary pt-0 pb-0"><i
                                                        class="icon ion-md-download"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <div>
                                    <div class="d-inline-block mr-2">
                                        <select (change)="changeTotalItem($event)" [(ngModel)]="pageSize" class="form-control form-control-sm">
                                            <option *ngFor="let item of listTotalItem" value="{{item}}">{{item}}</option>
                                        </select>
                                    </div>
                                    <div class="small text-secondary d-inline-block mr-2">{{'Showing' | translate}} {{recordFrom}} {{'to' | translate}} {{recordTo}} {{'of' | translate}} {{totalItem}} {{'entries' | translate}}
                                    </div>
                                </div>
                                <ul class="pagination pagination-sm mb-0">
                                    <pagination [(ngModel)]="currentPage" id="pagination" appPagination [boundaryLinks]="true" class="pagination pagination-sm justify-content-end" (pageChanged)="pageChanged($event)" [totalItems]="totalPage" previousText="&lsaquo;" nextText="&rsaquo;"
                                        firstText="&laquo;" lastText="&raquo;" [maxSize]="5">
                                    </pagination>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-transaction" role="tabpanel" aria-labelledby="v-pills-transaction-tab">
                            <h4 class="mb-3">{{'Transaction Report' | translate}} </h4>
                        </div>
                        <div class="tab-pane fade" id="v-pills-annual" role="tabpanel" aria-labelledby="v-pills-annual-tab">
                            <h4 class="mb-3"> {{'System Notifications' | translate}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="modal-2" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <ng2-pdfjs-viewer style="height: 900px" #pdfViewer></ng2-pdfjs-viewer>
        </div>
    </div>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
