
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5" [formGroup]="resetPassForm">
      <div class="card card-reset">
        <!-- BEGIN Form forgot -->
        <div class="p-4 pr-4 form form-line form-reset">
          <h5 class="text-center text-lg-right"><img src="assets/images/logo.svg" class="logo"></h5>
          <h3 class="mb-0 text-primary mt-2 mb-4"><strong>Change Password</strong></h3>
          <div class="form-group">
            <label class="label">New Password</label>
            <div class="input-wrapper">
              <input type="{{showTypePass}}" name="new_password" class="form-control" placeholder="" value=""
                     formControlName="new_password" [ngClass]="{'invalid': isSave && resetPassForm.controls['new_password'].errors}">
              <button type="button" class="btn btn-none" disabled="disabled"><i class="icon ion-md-lock" (click)="showPass()"></i></button>
            </div>
<!--            <div *ngIf="isSave && resetPassForm.controls['new_password'].errors.Required">password is required</div>-->
          </div>
          <div class="form-group">
            <label class="label">Confirm Password</label>
            <div class="input-wrapper">
              <input type="{{showTypeConfirmPass}}" name="confirm_password" class="form-control" placeholder="" value=""
                     formControlName="confirm_password" [ngClass]="{'invalid': isSave && resetPassForm.controls['confirm_password'].errors}">
              <button type="button" class="btn btn-none" disabled="disabled">
                <i class="icon ion-md-lock " (click)="showConfirmPass()" ></i>
              </button>
            </div>
<!--            <div *ngIf="isSave && resetPassForm.controls['confirm_password'].errors.Required">password is required</div>-->

          </div>
          <p class="text-danger" *ngIf="isSave == true && isShow == false" style="max-width: 23rem;text-align: center;">
            {{erroMessage}}
          </p>
          <div>
            <button class="btn btn-primary btn-block" type="button" (click)="onSubmit()">Save</button>
          </div>
        </div><!-- END Form Login -->
      </div>
    </div>
  </div>
</div>
