
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5" [formGroup]="resetPassForm">
      <div class="card card-reset">
        <!-- BEGIN Form forgot -->
        <div class="p-4 pr-4 form form-line form-reset">
          <h5 class="text-center text-lg-right"><img src="assets/images/logo.svg" class="logo"></h5>
          <h2 class="mb-0 text-primary mt-2 mb-4"><strong>{{'Change Password' | translate}}</strong></h2>
          <div class="form-group">
            <label class="label">{{'New Password' | translate}}</label>
            <div class="input-wrapper">
              <input type="{{showTypePass}}" name="" class="form-control" placeholder="" value=""
                     formControlName="new_password" [ngClass]="{'invalid': isSubmitted && resetPassForm.controls['new_password'].errors}">
              <button type="button" class="btn btn-none" disabled="disabled"><i class="icon ion-md-lock" (click)="showPass()"></i></button>
            </div>
           <!-- <div class="text-danger" *ngIf="isSave && resetPassForm.controls['new_password'].errors.Required">password is required</div> -->
          </div>
          <div class="form-group">
            <label class="label">{{'Confirm Password' | translate}}</label>
            <div class="input-wrapper">
              <input type="{{showTypeConfirmPass}}" name="" class="form-control" placeholder="" value=""
                     formControlName="confirm_password" [ngClass]="{'invalid': isSubmitted && resetPassForm.controls['confirm_password'].errors}">
              <button type="button" class="btn btn-none" disabled="disabled">
                <i class="icon ion-md-lock " (click)="showConfirmPass()" ></i>
              </button>
            </div>
           <!-- <div class="text-danger" *ngIf="isSave && resetPassForm.controls['confirm_password'].errors.Required">password is required</div> -->

          </div>
          <p class="text-danger" *ngIf="isSubmitted == true && erroMessage == true" style="max-width: 23rem;text-align: center;">
            Password is not the same
          </p>
          <!-- <p class="text-danger" style="max-width: 23rem;text-align: center;" *ngIf="errorMess">
            {{errorMess}}
          </p> -->
          <p class="text-danger" style="max-width: 23rem;text-align: center;" *ngIf="isSubmitted && resetPassForm.controls['confirm_password'].errors">
            {{'New password needs to be 8 characters or more and has at least 1 alphabet letter' | translate}}
          </p>
          <div>
            <button class="btn btn-primary btn-block" type="button" (click)="onSubmit()">Save</button>
          </div>
        </div><!-- END Form Login -->
      </div>
    </div>
  </div>
</div>
