<div class="container" *ngIf="showScreen == true">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <form [formGroup]="resetPassForm">
        <div class="card card-reset">
          <!-- BEGIN Form forgot -->
          <div class="p-4 pr-4 form form-line form-reset">
            <h5 class="text-center text-lg-right"><img src="assets/images/logo.svg" class="logo"></h5>
            <h2 class="mb-0 text-primary mt-2 mb-4"><strong>{{'Change Password' | translate}}</strong></h2>
            <div class="form-group">
              <label class="label">{{'New Password' | translate}}</label>
              <div class="input-wrapper">
                <input type="{{showTypePass}}" class="form-control" autocomplete="off" formControlName="new_password"
                  [ngClass]="{'invalid': isSubmitted && resetPassForm?.controls?.new_password?.errors}">
                <button type="button" class="btn btn-none" disabled="disabled"><i class="icon ion-md-lock"
                    (click)="showPass()"></i></button>
              </div>
              <div *ngIf="isSubmitted && resetPassForm?.controls?.new_password?.errors?.Required"
                class="invalid-mess">
                <div>{{'This field is required' | translate}}</div>
              </div>
            </div>
            <div class="form-group">
              <label class="label">{{'Confirm Password' | translate}}</label>
              <div class="input-wrapper">
                <input type="{{showTypeConfirmPass}}" class="form-control" autocomplete="off"
                  formControlName="confirm_password"
                  (change)="changeConfirmPassWord()"
                  [ngClass]="{'invalid': isSubmitted && resetPassForm?.controls?.confirm_password?.errors}">
                <button type="button" class="btn btn-none" disabled="disabled">
                  <i class="icon ion-md-lock " (click)="showConfirmPass()"></i>
                </button>
              </div>
              <div *ngIf="isSubmitted && resetPassForm?.controls?.confirm_password?.errors?.Required"
                class="invalid-mess">
                <div>{{'This field is required' | translate}}</div>
              </div>
            </div>
            <div class="invalid-mess text-center pb-3" *ngIf="isSubmitted == true && erroMessage == true">
              <div>{{'New password and confirm password do not match' | translate}}</div>

            </div>
            <div class="invalid-mess text-center pb-3"
              *ngIf="isSubmitted && resetPassForm?.controls.new_password.errors?.RequiredPass">
              <div>{{'Password requires 8 characters and contain at least two of three types of characters (lower case, upper case and digits)' | translate}}</div>
            </div>
            <div class="invalid-mess text-center pb-3"
              *ngIf="messageCanotChangePassword != ''">
              <div>{{messageCanotChangePassword}}</div>
            </div>
            <div>
              <button class="btn btn-primary btn-block" type="submit" (click)="onSubmit()">{{'Save' | translate}}</button>
            </div>
          </div><!-- END Form Login -->
        </div>
      </form>
    </div>
  </div>
</div>