<div class="card bg-white mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center border-bottom mb-3 pb-2">
            <h6 *ngIf="tranType == typeTranHistory.DEPOSIT.key" class="mb-0 text-uppercase text-primary"><i class="icon ion-md-time"></i> <strong> {{'Entire Deposit History' | translate}}</strong></h6>
            <h6 *ngIf="tranType == typeTranHistory.WITHDRAWAL.key" class="mb-0 text-uppercase text-primary"><i class="icon ion-md-time"></i> <strong> {{'Entire Withdrawl History' | translate}}</strong></h6>
            <div class="text-right small text-secondary">{{'Currency:' | translate}} <strong>JPY</strong></div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-hover" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th class="border-top-0" width="140">{{'Transaction ID' | translate}}</th>
                        <th class="border-top-0">{{'Date time' | translate}}</th>
                        <th class="border-top-0">{{'Type' | translate}}</th>
                        <th class="border-top-0" style="min-width: 40%">{{'Payment Method' | translate}}</th>
                        <!-- <th class="border-top-0 text-right" width="70">Currency</th> -->
                        <th class="border-top-0 text-right" width="50">{{'Amount' | translate}}</th>
                        <th class="border-top-0 text-right" width="170">{{'Status' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listTransaction">
                        <td><a href="javascript:;" (click)="openDetail(item?.id)">{{item?.id}}</a></td>
                        <td><a (click)="openDetail(item?.id)">{{item?.create_date}}</a></td>
                        <td><a (click)="openDetail(item?.id)">{{item?.funding_type}}</a></td>
                        <td><a (click)="openDetail(item?.id)">{{item?.method}}</a></td>
                        <!-- <td class="text-right">JPY</td> -->
                        <td class="text-right">{{item?.amount | number}}</td>
                        <!-- <td class="text-right"><span class="text-info"><i class="icon ion-md-hourglass"></i>
                                Pending</span></td> -->

                        <!-- <td *ngIf="item?.status == transactionStatus.NEW.key" class="text-right"><span class="text-info"><i class="icon ion-md-hourglass"></i>
                                  {{'New' | translate}}</span></td> -->
                        <td *ngIf="item?.status == transactionStatus.PENDING.key" class="text-right"><span class="text-info"><i class="icon ion-md-hourglass"></i>
                          {{'In-progress' | translate}}</span></td>
                        <td *ngIf="item?.status == transactionStatus.CANCEL.key" class="text-right"><span> {{'Cancel' | translate}}</span></td>
                        <td *ngIf="item?.status == transactionStatus.COMPLETE.key" class="text-right"><span class="text-success"><i class="icon ion-md-checkmark"></i>
                          {{'Completed' | translate}}</span></td>

                    </tr>
                    <tr>
                        <td colspan="7">
                            <a *ngIf="tranType == typeTranHistory.DEPOSIT.key" href="javascript:;"  routerLink="/manage/withdrawHistory/" target="_blank" [queryParams]="{tab: 'DEPOSIT'}"> {{'View entire operation history' | translate}}</a>
                            <a *ngIf="tranType == typeTranHistory.WITHDRAWAL.key" href="javascript:;"  routerLink="/manage/withdrawHistory/" target="_blank" [queryParams]="{tab: 'WITHDRAWAL'}"> {{'View entire operation history' | translate}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<app-transacstion-modal #tranModal></app-transacstion-modal>
<ng4-loading-spinner> </ng4-loading-spinner>
