<!-- BEGIN HEADER -->
<div class="header-wrapper">
    <!-- BEGIN HEADER TOP -->
    <div class="header-top-nav-wrapper">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between">
                <!-- BEGIN SITE BRAND -->
                <div class="site-brand">
                    <h1 class="site-title">
                        <a href="javascript:;" class="site-link"><img src="assets/images/logo.svg" alt=""
                                class="logo"></a>
                    </h1>
                </div> <!-- END SITE BRAND -->
                <!-- BEGIN HEADER TOP NAV -->
                <ul class="header-top-nav nav">
                    <li class="nav-item nav-item-dmt5">
                        <a href="javascript:;" class="nav-link">MT5</a>
                    </li>
                    <li class="nav-item nav-item-notification dropdown has-notification">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"><i class="icon ion-md-notifications"></i></a>
                        <div class="dropdown-menu dropdown-menu-notification dropdown-menu-right">
                            <h6 class="mb-1 text-primary text-uppercase title"><strong>Unread Notifications</strong>
                            </h6>
                            <a class="dropdown-item notification-item important" href="#">
                                <div><strong>The pre-contract document has been updated.</strong></div>
                                <div class="small text-secondary">2020/01/17</div>
                            </a>
                            <a class="dropdown-item notification-item system" href="#">
                                <div><strong>Technical maintenance</strong></div>
                                <div class="small text-secondary">2020/01/17</div>
                            </a>
                            <a class="dropdown-item notification-item campaign" href="#">
                                <div><strong>Cashback 100%</strong></div>
                                <div class="small text-secondary">2020/01/17</div>
                            </a>
                            <div class="text-center small"><a
                                    href="MY003_Notification_List_MY004_Notification_Detail.html"
                                    class="text-secondary">View more</a></div>
                        </div>
                    </li>
                    <li class="nav-item nav-item-user-panel">
                        <a href="MY005_Account_Information_MY006_User_Information.html" class="nav-link"><img
                                src="assets/images/profile-image-48x48.png" alt="Avatar John Doe"
                                class="rounded-circle"> <span class="d-none d-md-inline">chauctm</span></a>
                    </li>
                    <li (click)="logout()" class="nav-item nav-item-logout">
                        <a class="nav-link logout"><i class="icon ion-md-log-out"></i></a>
                    </li>
                    <li class="nav-item nav-item-menu d-sm-none" (click)="openSubNav()">
                        <a href="javascript:;" class="nav-link offcanvas-open"><i class="icon ion-md-menu"></i></a>
                    </li>
                </ul><!-- END HEADER TOP NAV -->
            </div>
        </div>
    </div><!-- END HEADER TOP -->
    <!-- BEGIN HEADER BOTTOM -->
    <div class="header-bottom-nav-wrapper">
        <div class="container-fluid container-md">
            <!-- BEGIN HEADER BOTTOM NAV -->
            <ul class="header-bottom-nav nav">
                <li class="nav-item nav-item-notifications">
                  <a [routerLink]="['/manage/notifications']" class="nav-link"
                    title="Notifications"><i class="icon ion-md-notifications d-md-none"></i> <span
                        class="d-none d-md-inline">Notifications</span></a>
                </li>
                <li class="nav-item nav-item-deposit">
                    <a [routerLink]="['/manage/deposit']" class="nav-link" title="Deposit"><i
                            class="icon ion-md-add d-md-none"></i> <span class="d-none d-md-inline">{{'Deposit' | translate}}</span></a>
                </li>
                <li class="nav-item nav-item-withdraw">
                    <a [routerLink]="['/manage/withdrawRequest']" class="nav-link" title="Withdraw"><i
                            class="icon ion-md-remove d-md-none"></i> <span
                            class="d-none d-md-inline">Withdraw</span></a>
                </li>
                <li class="nav-item nav-item-history">
                  <a href="MY012_DW_History.html" class="nav-link" title="History"><i
                          class="icon ion-md-time d-md-none"></i> <span class="d-none d-md-inline">History</span></a>
                </li>
                <li class="nav-item nav-item-report">
                    <a [routerLink]="['/manage/reportList']" class="nav-link" title="Report"><i
                            class="icon ion-md-today d-md-none"></i> <span class="d-none d-md-inline">Report</span></a>
                </li>

                <li class="nav-item nav-item-account">
                    <a [routerLink]="['/manage/accountInfo']" class="nav-link"
                        title="My Account"><i class="icon ion-md-person d-md-none"></i> <span
                            class="d-none d-md-inline">My Account</span></a>
                </li>

            </ul><!-- END HEADER BOTTOM NAV -->
        </div>
    </div><!-- END HEADER BOTTOM -->
</div><!-- END HEADER -->

<div class="offcanvas-overlay">
    <div class="offcanvas-wrapper">
        <div class="offcanvas-inner">
            <div class="offcanvas-header">
                <h3 class="offcanvas-title">Menu</h3>
                <div class="header-action">
                    <a class="btn btn-offcanvas-close"><i class="icon ion-md-close"></i></a>
                </div>
            </div>
            <ul class="offcanvas-nav nav">
              <li class="nav-item nav-item-notifications">
                  <a href="MY003_Notification_List_MY004_Notification_Detail.html" class="nav-link has-icon"><i class="icon ion-md-notifications"></i> Notifications</a>
                </li>
                <li class="nav-item nav-item-deposit">
                  <a href="MY010_Deposit_MY011_DepositDetail.html" class="nav-link active has-icon"><i class="icon ion-md-add"></i> Deposit</a>
                </li>
                <li class="nav-item nav-item-withdraw">
                  <a href="MY014_WithdrawRequest.html" class="nav-link has-icon"><i class="icon ion-md-remove"></i> Withdrawal</a>
                </li>
                <li class="nav-item nav-item-history">
                  <a href="MY012_DW_History.html" class="nav-link has-icon"><i class="icon ion-md-time"></i> History</a>
                </li>
                <li class="nav-item nav-item-report">
                  <a href="MY007_ReportList.html" class="nav-link has-icon"><i class="icon ion-md-today"></i> Report</a>
                </li>
                <li class="nav-item nav-item-account">
                  <a href="MY005_Account_Information_MY006_User_Information.html" class="nav-link has-icon"><i class="icon ion-md-person"></i> My Account</a>
                </li>

              </ul>
        </div>
    </div>
</div>
