<!-- BEGIN HEADER -->
<div class="header-wrapper">
    <!-- BEGIN HEADER TOP -->
    <div class="header-top-nav-wrapper">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between">
                <!-- BEGIN SITE BRAND -->
                <div class="site-brand">
                    <h1 class="site-title">
                        <a href="javascript:;" class="site-link"><img src="assets/images/logo.svg" alt="" class="logo"></a>
                    </h1>
                </div>
                <!-- END SITE BRAND -->
                <!-- BEGIN HEADER TOP NAV -->
                <ul class="header-top-nav nav">
                    <li class="nav-item nav-item-account-type dropdown" [routerLink]="['/manage/summary']" id="summary">
                        <a href="javascript:;" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="d-none d-md-inline">{{'API key issuance' | translate}}</span>
                        </a>
                    </li>
                  <li class="nav-item nav-item-account-type dropdown" (click)="openAddAccountModal()" *ngIf ="bizGroup === 'it'">
                    <a href="javascript:;" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon ion-md-add mr-1"></i><span class="d-none d-md-inline">{{'Add Account' | translate}}</span></a>
                </li>
                <li class="nav-item nav-item-language dropdown d-none d-md-inline-block">
                    <a href="javascript:;" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{locale == 'en_US' ? 'EN' : 'JP'}}</a>
                    <div class="dropdown-menu dropdown-menu-language dropdown-menu-right">
                        <a (click)="changeLang('en_US')" [className]="locale == 'en_US' ? 'dropdown-item active' : 'dropdown-item'" class="dropdown-item" data-language="EN"><img src="assets/images/flags/flag-en.svg" class="icon flag" alt=""> English</a>
                        <a (click)="changeLang('ja_JP')" [className]="locale == 'ja_JP' ? 'dropdown-item active' : 'dropdown-item'" data-language="JP"><img src="assets/images/flags/flag-jp.svg" class="icon flag" alt=""> Japanese</a>
                    </div>
                </li>
                    <li class="nav-item nav-item-dmt5">
                        <a target="_blank" *ngIf="isPc == true" href="https://download.mql5.com/cdn/web/16266/mt5/phillipsecuritiesjp5setup.exe" class="nav-link"><img src="./../../../assets/images/metatrader-5.png"></a>
                        <a target="_blank" *ngIf="isAndroid == true" href="https://download.mql5.com/cdn/mobile/mt5/android?server=PhillipSecuritiesJP-PROD" class="nav-link">
                        <img src="./../../../assets/images/metatrader-5.png"></a>
                        <a target="_blank" *ngIf="isIos == true" href="https://download.mql5.com/cdn/mobile/mt5/ios?server=PhillipSecuritiesJP-PROD" class="nav-link">
                            <img src="./../../../assets/images/metatrader-5.png"></a>
                    </li>
                    <li [className]="listNotification && listNotification.length > 0 ? 'nav-item nav-item-notification dropdown has-notification' : 'nav-item nav-item-notification dropdown'">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon ion-md-notifications"></i></a>
                        <div class="dropdown-menu dropdown-menu-notification dropdown-menu-right">
                            <h6 class="mb-1 text-primary text-uppercase title"><strong>{{'Unread Notifications' | translate}}</strong>
                            </h6>
                            <ng-container *ngFor="let item of listNotification; let i = index">
                                <a class="dropdown-item notification-item important" [routerLink]="['/manage/notifications']"  [queryParams]="{unread: 'true'}" *ngIf="item?.news_type == 0">
                                    <div><strong>{{item?.news_title}}</strong></div>
                                    <div class="small text-secondary">{{item?.publish_date}}</div>
                                </a>
                                <a class="dropdown-item notification-item system" [routerLink]="['/manage/notifications']" [queryParams]="{unread: 'true'}"  *ngIf="item?.news_type == 1">
                                    <div><strong>{{item?.news_title}}</strong></div>
                                    <div class="small text-secondary">{{item?.publish_date}}</div>
                                </a>
                                <a class="dropdown-item notification-item campaign" [routerLink]="['/manage/notifications']" [queryParams]="{unread: 'true'}" *ngIf="item?.news_type == 2">
                                    <div><strong>{{item?.news_title}}</strong></div>
                                    <div class="small text-secondary">{{item?.publish_date}}</div>
                                </a>
                            </ng-container>

                            <div class="text-center small"><a [routerLink]="['/manage/notifications']" [queryParams]="{unread: 'true'}" class="text-secondary">{{'View more' | translate}}</a></div>
                        </div>
                    </li>
                    <!-- <li class="nav-item nav-item-user-panel">
                        <a href="MY005_Account_Information_MY006_User_Information.html" class="nav-link"><img
                                src="assets/images/profile-image-48x48.png" alt="Avatar John Doe"
                                class="rounded-circle"> <span class="d-none d-md-inline">chauctm</span></a>
                    </li> -->
                    <li (click)="logout()" class="nav-item nav-item-logout">
                        <a class="nav-link logout"><i class="icon ion-md-log-out"></i></a>
                    </li>
                    <li class="nav-item nav-item-menu d-sm-none" (click)="openSubNav()">
                        <a href="javascript:;" class="nav-link offcanvas-open"><i class="icon ion-md-menu"></i></a>
                    </li>
                </ul>
                <!-- END HEADER TOP NAV -->
            </div>
        </div>
    </div>
    <!-- END HEADER TOP -->
    <!-- BEGIN HEADER BOTTOM -->
    <div class="header-bottom-nav-wrapper">
        <div class="container-fluid container-md">
            <ul class="header-bottom-nav nav">
                <li class="nav-item nav-item-notifications">
                    <a [routerLink]="['/manage/notifications']" id="notifications" class="nav-link" title="Notifications"><i class="icon ion-md-notifications d-md-none"></i> <span
                        class="d-none d-md-inline">{{'Notifications' | translate}}</span></a>
                </li>
                <!-- <li class="nav-item nav-item-deposit">
                    <a [routerLink]="['/manage/deposit']" id="deposit" class="nav-link" title="Deposit"><i
                            class="icon ion-md-add d-md-none"></i> <span class="d-none d-md-inline">{{'Deposit' | translate}}</span></a>
                </li> -->
                <li class="nav-item nav-item-deposit">
                    <a [routerLink]="['/manage/summary']" id="summary" class="nav-link" title="Sum"><i
                            class="icon ion-md-add d-md-none"></i> <span class="d-none d-md-inline">{{'Account Information' | translate}}</span></a>
                </li>
                <li class="nav-item nav-item-deposit">
                    <a [routerLink]="['/manage/internal']" id="internal" class="nav-link" title="Sum"><i
                            class="icon ion-md-add d-md-none"></i> <span class="d-none d-md-inline">{{'Deposit and Withdrawal' | translate}}</span></a>
                </li>
                <!-- <li class="nav-item nav-item-withdraw">
                    <a [routerLink]="['/manage/withdrawRequest']" id="withdrawRequest" class="nav-link" title="Withdraw"><i
                            class="icon ion-md-remove d-md-none"></i> <span
                            class="d-none d-md-inline">{{'Withdrawal' | translate}}</span></a>
                </li> -->
                <!-- <li class="nav-item nav-item-history">
                    <a [routerLink]="['/manage/withdrawHistory']" id="withdrawHistory" class="nav-link" title="History"><i
                          class="icon ion-md-time d-md-none"></i> <span class="d-none d-md-inline">{{'History' | translate}}</span></a>
                </li> -->
                <li class="nav-item nav-item-report">
                    <a [routerLink]="['/manage/reportList']" id="reportList" class="nav-link" title="Report"><i
                            class="icon ion-md-today d-md-none"></i> <span class="d-none d-md-inline">{{'Report' | translate}}</span></a>
                </li>

                <li class="nav-item nav-item-account">
                    <a [routerLink]="['/manage/accountInfo']" id="accountInfo" class="nav-link" title="My Account"><i class="icon ion-md-person d-md-none"></i> <span
                            class="d-none d-md-inline">{{'Customer Information' | translate}}</span></a>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- END HEADER -->

<div class="offcanvas-overlay">
    <div class="offcanvas-wrapper">
        <div class="offcanvas-inner">
            <div class="offcanvas-header">
                <h3 class="offcanvas-title">{{'Menu' | translate}}</h3>
                <div class="header-action">
                    <a class="btn btn-offcanvas-close"><i class="icon ion-md-close"></i></a>
                </div>
            </div>
            <ul class="offcanvas-nav nav">
                <li class="nav-item nav-item-notifications">
                    <a [routerLink]="['/manage/notifications']" id="notifications" class="nav-link has-icon btn-offcanvas-close"><i class="icon ion-md-notifications"></i> {{'Notifications' | translate}}</a>
                </li>
                <!-- <li class="nav-item nav-item-deposit">
                    <a [routerLink]="['/manage/deposit']" id="deposit" class="nav-link has-icon btn-offcanvas-close"><i class="icon ion-md-add"></i> {{'Deposit' | translate}}</a>
                </li> -->
                <!-- <li class="nav-item nav-item-withdraw">                                                                                                                
                    <a [routerLink]="['/manage/withdrawRequest']" id="withdrawRequest" class="nav-link has-icon btn-offcanvas-close"><i class="icon ion-md-remove"></i> {{'Withdrawal' | translate}}</a>
                </li> -->
                <li class="nav-item nav-item-history">
                    <a [routerLink]="['/manage/summary']" id="summary" class="nav-link has-icon btn-offcanvas-close"><i class="icon ion-md-time"></i> {{'Account Information' | translate}}</a>
                </li>
                <li class="nav-item nav-item-withdraw">                                                                                                                
                    <a [routerLink]="['/manage/internal']" id="internal" class="nav-link has-icon btn-offcanvas-close"><i class="icon ion-md-remove"></i> {{'Deposit and Withdrawal' | translate}}</a>
                </li>
                <li class="nav-item nav-item-report">
                    <a [routerLink]="['/manage/reportList']" id="reportList" class="nav-link has-icon btn-offcanvas-close"><i class="icon ion-md-today"></i> {{'Report' | translate}}</a>
                </li>
                <li class="nav-item nav-item-account">
                    <a [routerLink]="['/manage/accountInfo']" id="accountInfo" class="nav-link has-icon btn-offcanvas-close"><i class="icon ion-md-person"></i> {{'Customer Information' | translate}}</a>
                </li>

            </ul>
        </div>
    </div>
    
</div>
<app-modal-can-not-add-account #modalCanNotAddAccount></app-modal-can-not-add-account>
<app-modal-add-account-step1  #modalAddAccountStep1 [accountTradingForm]="accountTradingForm" (confirmStep1)="onConfirmStep1()"></app-modal-add-account-step1>
<app-modal-add-account-step2 class="mt-5 mb-5" #modalAddAccountStep2 [accountTradingForm]="accountTradingForm" (returnStep1)="onReturnStep1()" (confirmStep2)="onConfirmStep2()"></app-modal-add-account-step2>
<app-modal-add-account-step3  #modalAddAccountStep3 [isLateRegis]="isLateRegis" ></app-modal-add-account-step3>
<ng4-loading-spinner  [timeout]="30000"> </ng4-loading-spinner>
