<div class="card card-login">
    <div class="row align-items-start">
        <div class="col-lg-6 d-none d-lg-block mt-5">
            <div class="p-4 mt-4">
                <div class="row justify-content-center">
                    <div class="col-lg-10 text-white">
                        <h3>{{'Welcome to Phillip MT5' | translate}}</h3>
                        <!-- <p> {{"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since." | translate}}</p> -->
                        <p class="d-none d-lg-block">&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <!-- BEGIN Form Login -->
            <div class="p-4 form form-line form-login">

                    <div class="d-flex flex-row justify-content-end">
                        <li class="nav-item nav-item-language dropdown d-none d-md-inline-block">
                            <a href="javascript:;" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">{{locale == 'en_US' ? 'EN' : 'JP'}}</a>
                            <!-- <div class="dropdown-menu dropdown-menu-language dropdown-menu-right">
                                <a (click)="changeLang('en_US')" [className]="locale == 'en_US' ? 'dropdown-item active' : 'dropdown-item'"
                                    class="dropdown-item" data-language="EN"><img src="assets/images/flags/flag-en.svg" style="height: 28px; width: auto" class="icon flag"
                                        alt=""> English</a>
                                <a (click)="changeLang('ja_JP')" [className]="locale == 'ja_JP' ? 'dropdown-item active' : 'dropdown-item'"
                                    data-language="JP"><img src="assets/images/flags/flag-jp.svg" class="icon flag" style="height: 28px; width: auto" alt=""> Japanese</a>
                            </div> -->
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button [className]="locale == 'en_US' ? 'dropdown-item active' : 'dropdown-item'"
                                     type="button" (click)="changeLang('en_US')">
                                        <img src="assets/images/flags/flag-en.svg" style="height: 28px; width: auto" class="icon flag" alt=""> English</button>
                                    <button [className]="locale == 'ja_JP' ? 'dropdown-item active' : 'dropdown-item'"
                                     type="button" (click)="changeLang('ja_JP')">
                                        <img src="assets/images/flags/flag-jp.svg" style="height: 28px; width: auto" class="icon flag" alt=""> Japanese</button>
                                  </div>
                        </li>
                        <h5 class="text-center text-lg-right"><img src="assets/images/logo.svg" class="logo"></h5>
                    </div>
                <!-- <h5 class="text-center text-lg-right"><img src="assets/images/logo.svg" class="logo"></h5> -->
                <div class="row justify-content-center mt-4">

                    <div class="col-lg-10">
                        <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
                            <h3 class="mb-3 text-primary">{{'Login' | translate}}</h3>

                            <div class="form-group">
                                <label class="label">{{'Login ID / Email' | translate}}</label>
                                <div class="input-wrapper">
                                    <input tabindex="1" type="text" #username class="form-control" maxlength="50" id="userName"
                                        placeholder="Email or Login ID" formControlName="userName"
                                        [ngClass]="{'invalid': isSubmitted && loginFormGroup.controls['userName'].errors}">
                                    <button type="button" class="btn btn-none"><i
                                            class="afx-icon-user"></i></button>
                                </div>
                                <div *ngIf="isSubmitted && loginFormGroup?.controls['userName']?.errors?.Required" class="invalid-mess">
                                    <div>{{'This field is required' | translate}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">{{'Passwords' | translate}}</label>
                                <div class="input-wrapper">
                                    <input tabindex="2" type="password" #password class="form-control" maxlength="50" id="password"
                                        placeholder="" formControlName="passWord"
                                        [ngClass]="{'invalid': isSubmitted && loginFormGroup.controls['passWord'].errors}">
                                    <button type="button" class="btn btn-none"><i class="icon ion-md-key"></i></button>
                                </div>
                                <div *ngIf="isSubmitted && loginFormGroup?.controls['passWord']?.errors?.Required" class="invalid-mess">
                                        <div>{{'This field is required' | translate}}</div>
                                    </div>
                            </div>
                            <div *ngIf="invalidAccount == true" class="invalid-mess mb-2">
                              <div>{{'Login ID and Password is NOT matching' |translate}}</div>
                              <div *ngIf="locale == language.english" >Attempts remaining: {{numFailLogin}}</div>
                              <div *ngIf="locale == language.japan" >あと{{numFailLogin}}回間違うとアカウントロックされます。</div>
                            </div>
                            <div *ngIf="passWordExpired == true" class="invalid-mess mb-2">
                                <div>{{'Password expired' |translate}}</div>
                            </div>
                            <div *ngIf="isFoundUser == true" class="invalid-mess mb-2">
                              <div>{{'Invalid email or password' |translate}}</div>
                          </div>
                          <div *ngIf="isLockAccount == true" class="invalid-mess mb-2">
                            <div>{{'Your account has been locked because you entered the wrong password. Please contact our support service' |translate}} <a href="mailto:info-pfkk@phillip.co.jp">info-pfkk@phillip.co.jp</a>
                            </div>
                        </div>
                            <div class="form-group">
                                <label class="container-checkbox small">{{'Remember me' | translate}}
                                    <input tabindex="3" type="checkbox" name="save_" formControlName="remember">
                                    <span class="checkmark"></span>
                                </label>
                                <div *ngIf="isPc" (click)="openKeyboard()">
                                    <a tabindex="4" class="btn-toggle-vkeyboard small"><img src="assets/images/keyboard.svg"
                                            alt='Visual Keyboard' class="mr-2" style="max-width: 24px;max-height: 24px">
                                        {{'Open Visual Keyboard' | translate}}</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <button tabindex="5" class="btn btn-primary btn-block" id="btnlogin" type="submit">{{'Login' | translate}}</button>
                            </div>
                            <a tabindex="6" (click)="changeToForgotPassWord()" class="forgot-link">{{'Forgot Password?' | translate}}</a>
                            <p class="mb-4">{{'Don’t have an account?' | translate}} <a tabindex="7" href="{{hostNameRegis}}">{{'Create Now' | translate}}</a></p>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng4-loading-spinner [timeout]="30000"></ng4-loading-spinner>
