/* You can add global styles to this file, and also import other style files */
.is-invalid{
    border: 1px solid!important;
    border-color: #dc3545!important;
}
.invalid-mess {
	display: block !important;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
strong {
    font-weight: 500 !important;
}
.container {
    max-width: 1360px !important;
} 

