.all-account {
    display: flex;
    flex-direction: column;
}
p {
    margin-bottom: 0px;
}

.issuarance {
    background-color: #0D688F;
    color: aliceblue;
    border-radius: 2px;
}


.trading-account-content {
    display: -webkit-box!important;
    display: flex!important;
    width: 100%;
    .all-account-content {
        display: -webkit-box!important;
        display: flex!important;
    }
}

@media screen and (max-width: 500px){
	.trading-account-content {
		display: inline-flex !important;
        width: 100%;		
        .all-account-content {
            display: block !important;
        }
	}
}