<div bsModal class="modal fade" [formGroup]="rulesForm" #modalAddAccountStep2="bs-modal" id="modalAddAccountStep2" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header pt-2 pb-2">
              <h5 class="modal-title">{{'Add More Account' | translate}}</h5>
              <button type="button" class="close" aria-label="Close" (click)="close()">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body pt-0">
              <div class="steps-wrapper pt-1 pb-1 border-bottom mb-3">
                  <ul class="nav nav-tabs nav-steps">
                      <li class="nav-item">
                          <a href="#step1" class="nav-link disabled" title="Step 1"><span class="number mr-3">1</span> <strong>{{'Selection' | translate}}</strong></a>
                      </li>
                      <li class="nav-item">
                          <a href="#step2" class="nav-link active" title="Step 2"><span class="number mr-3">2</span> <strong>{{'Confirmation' | translate}}</strong></a>
                      </li>
                      <li class="nav-item">
                          <a href="#complete" class="nav-link disabled" title="Complete"><span class="number mr-3">3</span> <strong>{{'Completion' | translate}}</strong></a>
                      </li>
                  </ul>
              </div>
              <div class="agreement-rules">
                  <!-- <div class="d-flex justify-content-between align-items-center mb-3">
                      <h5 class="c-title text-primary mb-0"><strong>契約締結前交付書面、各種重要事項の承諾</strong></h5>                               
                      <p class="mb-0">
                          <img src="assets/images/badge-FX.svg" class="icon-type inline only-for-fx" alt="">
                          <img src="assets/images/badge-I-CFD.svg" class="icon-type inline only-for-icfd" alt="">
                          <img src="assets/images/badge-C-CFD.svg" class="icon-type inline only-for-ccfd" alt="">
                      </p>
                  </div> -->
                  <h5 class="c-title text-primary mb-3"><strong>{{'Agreement to documents and other important notes' | translate}}</strong></h5>
                  <!-- BEGIN Term -->
                  <p class="mb-1">{{'Confirmation and agreement to documents provided before contract conclusion' | translate}}</p>
                  <div class="p-3 border mb-4">
                      <div class="row">
                          <div class="col-lg-7">
                            <div class="mb-2 mb-lg-0">
                              <div *ngIf="this.accountTradingForm.controls.afxAccount && this.accountTradingForm.controls.afxAccount.value">
                                <div><strong>{{'Documents provided before contract conclusion (FX)' | translate}}</strong></div><!-- 2 -->
                                <a href="https://www.phillip.co.jp/fx/pdf/phillipmt5_01_important_notes.pdf"
                                  target="_blank" class="pdf-link">{{'Explanation of important matters regarding to the contract' | translate}}
                                </a>
                                </div>
                              <div *ngIf="this.accountTradingForm.controls.cfdAccount && this.accountTradingForm.controls.cfdAccount.value">
                                <div><strong>{{'Documents provided before contract conclusio (I-CFD)' | translate}}</strong></div><!-- 3 -->
                                <a href="https://www.phillip.co.jp/fx/pdf/phillipmt5_01_important_notes.pdf"
                                  target="_blank" class="pdf-link">{{'Explanation of important matters regarding to the contract' | translate}}
                                </a>
                                </div>
                              <div *ngIf="this.accountTradingForm.controls.cfdCommunityAccount && this.accountTradingForm.controls.cfdCommunityAccount.value">
                                <div><strong>{{'Providing document before contract conclusion (C-CFD)' | translate}}</strong></div><!-- 4 -->
                                <a href="https://www.phillip.co.jp/fx/pdf/phillipmt5_01_important_notes.pdf"
                                  target="_blank" class="pdf-link">{{'Explanation of important matters regarding to the contract' | translate}}
                                </a>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-5">
                              <div class="mb-0">
                                  <div><strong>{{'Solicitation policy' | translate}}</strong></div><!-- 5 -->
                                  <div><a href="javascript:;" class="pdf-link">{{'Solicitation policy' | translate}}</a></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <p class="mb-1">{{'Notice regarding transactions' | translate}}</p>
                  <div class="p-3 border mb-4">
                    <div *ngIf="this.accountTradingForm.controls.afxAccount && this.accountTradingForm.controls.afxAccount.value"><a href="https://www.phillip.co.jp/fx/pdf/phillipmt5_01_important_notes.pdf"
                      target="_blank" class="pdf-link">{{'Alert document (FX)' | translate}}</a></div>
                    <div *ngIf="this.accountTradingForm.controls.cfdAccount && this.accountTradingForm.controls.cfdAccount.value"><a href="https://www.phillip.co.jp/fx/pdf/phillipmt5_01_important_notes.pdf"
                      target="_blank" class="pdf-link">{{'Alert document (I-CFD)' | translate}}</a></div>
                    <div *ngIf="this.accountTradingForm.controls.cfdCommunityAccount && this.accountTradingForm.controls.cfdCommunityAccount.value"><a href="https://www.phillip.co.jp/fx/pdf/phillipmt5_01_important_notes.pdf"
                      target="_blank" class="pdf-link">{{'Alert document (C-CFD)' | translate}}</a></div>
                  </div>
                  <p class="mb-1">{{'About providing personal information' | translate}}</p><!-- 9 -->
                  <div class="p-3 border mb-4">
                      <div class="row">
                          <div class="col-lg-7">
                              <div class="mb-2 mb-lg-0">
                                  <div><a href="javascript:;" class="pdf-link">{{'Purpose of using personal information' | translate}}</a></div>
                              </div>
                          </div>
                          <div class="col-lg-5">
                              <div class="mb-0">
                                  <div><a href="javascript:;" class="pdf-link">{{'Protection of personal information' | translate}}</a></div><!-- 10 -->
                              </div>
                          </div>
                      </div>
                  </div>
                  <p class="mb-1">{{'Basic policy for antisocial forces' | translate}}</p><!-- 11 -->
                  <div class="p-3 border mb-4">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="mb-2 mb-lg-0">
                                  <div><a href="javascript:;" class="pdf-link">{{'Basic policy for antisocial forces' | translate}}</a></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <p class="mb-1">{{'Clarification about opening account' | translate}}</p><!-- 12 -->
                  <div class="p-3 border mb-4">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="mb-2 mb-lg-0">
                                  <div><a href="javascript:;" class="pdf-link">{{'Clarification about opening account' | translate}}</a></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <p class="mb-1">{{'Before opening account, you need to agree, accept, and pledge with above documents and below important' | translate}}</p><!-- 13 -->
                  <label class="container-checkbox small mb-2 box-item-checkbox"
                  [ngClass]="{'invalid': isConfirm && !rulesForm.controls.agree_electronic_delivery.value}">
                  <ng-container *ngIf="locale == language.japan">
                      <p class="mb-0">
                        「<span *ngIf ="this.accountTradingForm.controls.afxAccount?.value">{{'Forex trading' | translate}} </span>
                        <span *ngIf ="this.accountTradingForm.controls.cfdAccount?.value">{{'CFD Index trading' | translate}} </span>
                        <span *ngIf ="this.accountTradingForm.controls.cfdCommunityAccount?.value">{{'CFD Commondity trading' | translate}}</span>
                        受託契約に関する重要事項説明書」、「電磁的方法等による交付について」、「勧誘方針」、「注意喚起文書」、「個人情報の利用目的」、「個人情報保護宣言」及び「反社会的勢力に対する基本方針」は、PDFファイルにより、当社サイトを通じてお客様の閲覧に供する方法により交付されます。<br>
                      また、「取引報告書兼残高報告書兼証拠金受領通知書（日次）」及び「年間損益報告書」は、当社マイページ画面にPDFファイルを設け、お客様の閲覧に供する方法により交付されます。<br>
                      各種交付書面について、上記のとおり電子交付されることに同意します。</p>
                    </ng-container>

                    <ng-container *ngIf="locale == language.english">
                      <p class="mb-0">
                        "Explanation of important matters regarding to contract agreement of 
                        「<span *ngIf ="this.accountTradingForm.controls.afxAccount?.value">{{'Forex trading' | translate}} </span>
                        <span *ngIf ="this.accountTradingForm.controls.cfdAccount?.value">{{'CFD Index trading' | translate}} </span>
                        <span *ngIf ="this.accountTradingForm.controls.cfdCommunityAccount?.value">{{'CFD Commondity trading' | translate}}</span>
                        "Explanation for electronic delivery"、"Solicitation policy"、"Alert document", "Purpose of using personal information", "Protection of personal information" and "Basic policy for antisocial forces" can be seen by PDF file which share through Phillip website.
                        Also, "Daily Customer Statement" and "Yearly Customer Report" can be seen through My page.<br>
                        I agree with electronic delivery method of above documents.</p>
                    </ng-container>

                      <input formControlName="agree_electronic_delivery" type="checkbox" name="checkbox_13" value="">
                      <span class="checkmark"></span>
                  </label>
                  <div *ngIf="isConfirm && !rulesForm.controls.agree_electronic_delivery.value"
                              class="invalid-mess">
                              <div>{{'If applicable, we will not be able to open an account with us.' | translate}}</div>
                          </div>
                  <!-- 15 -->
                  <label class="container-checkbox small mb-2 box-item-checkbox"
                  [ngClass]="{'invalid': isConfirm && !rulesForm.controls.agree_contract_tnc.value}">
                      <p>{{'I have confirmed and agreed with all documents' | translate}}</p>
                      <input formControlName="agree_contract_tnc" type="checkbox" name="checkbox_15" value="">
                      <span class="checkmark"></span>
                  </label>
                  <div *ngIf="isConfirm && !rulesForm.controls.agree_contract_tnc.value"
                  class="invalid-mess">
                  <div>{{'If applicable, we will not be able to open an account with us.' | translate}}</div>
              </div>
                 <!-- 16 -->
                  <label class="container-checkbox small mb-2 box-item-checkbox"
                  [ngClass]="{'invalid': isConfirm && !rulesForm.controls.agree_fx_tnc.value}">
                  <ng-container *ngIf="locale == language.japan">
                      <ul class="list-unstyled ml-3 b">
                          <li><span *ngIf ="this.accountTradingForm.controls.afxAccount?.value">{{'Forex trading' | translate}} </span>
                            <span *ngIf ="this.accountTradingForm.controls.cfdAccount?.value">{{'CFD Index trading' | translate}} </span>
                            <span *ngIf ="this.accountTradingForm.controls.cfdCommunityAccount?.value">{{'CFD Commondity trading' | translate}}</span>
                            に関する「説明書」及び「約款」の内容をよく読み、取引の仕組み、内容、リスク等を十分に理解した上で私の責任と判断で当該取引を行います。また、私は法令及び社内規定等で
                            <span *ngIf ="this.accountTradingForm.controls.afxAccount?.value">{{'Forex trading' | translate}} </span>
                            <span *ngIf ="this.accountTradingForm.controls.cfdAccount?.value">{{'CFD Index trading' | translate}}</span>
                            <span *ngIf ="this.accountTradingForm.controls.cfdCommunityAccount?.value">{{'CFD Commondity trading' | translate}}</span>
                            が禁じられている者に該当していないことを誓約します。
                          </li>
                          <li>注意喚起文書について確認し、承諾します。</li>
                          <li>個人情報の取扱いについて同意します。</li>
                          <li>口座開設の表明確約書に同意します。</li>
                          <li>反社会的勢力に対する基本方針について同意します。</li>
                      </ul>
                    </ng-container>

                    <ng-container *ngIf="locale == language.english">
                            <ul class="list-unstyled ml-3 b">
                                <li>
                                    I have carefully read "Explanation" and "Agreement" of 
                                    <span *ngIf="this.accountTradingForm.controls.afxAccount?.value">{{'Forex trading' | translate}} </span>
                                    <span *ngIf="this.accountTradingForm.controls.cfdAccount?.value">{{'CFD Index trading' | translate}} </span>
                                    <span
                                        *ngIf="this.accountTradingForm.controls.cfdCommunityAccount?.value">{{'CFD Commondity trading' | translate}}</span>、
                                    and fully understand the trading mechanism, contents, risks, etc. So thatI will carry out the transaction at my own risk and judgment. 
                                    Also,  I pledge that I am not a person who is prohibited from 
                                    <span *ngIf="this.accountTradingForm.controls.afxAccount?.value">{{'Forex trading' | translate}} </span>
                                    <span *ngIf="this.accountTradingForm.controls.cfdAccount?.value">{{'CFD Index trading' | translate}} </span>
                                    <span
                                        *ngIf="this.accountTradingForm.controls.cfdCommunityAccount?.value">{{'CFD Commondity trading' | translate}}</span>
                                    trading by laws and internal regulations.
                                </li>
                                <li>I have confirmed and agreed to Alert Document</li>
                                <li>I have agreed to providing personal information</li>
                                <li>I have agreed to Clarification about opening account</li>
                                <li>I have agreed to Basic policy for antisocial forces</li>
                            </ul>
                          </ng-container>


                      <input formControlName="agree_fx_tnc" type="checkbox" name="checkbox_16" value="">
                      <span class="checkmark"></span>
                  </label>
                  <div *ngIf="isConfirm && !rulesForm.controls.agree_fx_tnc.value"
                  class="invalid-mess">
                  <div>{{'If applicable, we will not be able to open an account with us.' | translate}}</div>
              </div>
                  <!-- 17 -->
                  <label class="container-checkbox small mb-2 box-item-checkbox"
                  [ngClass]="{'invalid': isConfirm && !rulesForm.controls.agree_tax.value}">
                      <p class="mb-0">{{'I am not being relevant to ① and ②.' | translate}}</p>
                      <p class="mb-0">{{'①Person that have tax duty outside Japan ②Person that have tax duty in America' | translate}}</p>
                      <input formControlName="agree_tax" type="checkbox" name="checkbox_17" value="">
                      <span class="checkmark"></span>
                  </label>
                  <div *ngIf="isConfirm && !rulesForm.controls.agree_tax.value"
                  class="invalid-mess">
                  <div>{{'If applicable, we will not be able to open an account with us.' | translate}}</div>
              </div>
                  <!-- 18 -->
                  <label class="container-checkbox small mb-2 box-item-checkbox"
                  [ngClass]="{'invalid': isConfirm && !rulesForm.controls.agree_pep.value}">
                      <p class="mb-0">{{'I am not being relevant to oversea PEPs' | translate}}</p>
                      <p class="small mb-0">※{{'Overea PEPs refers to persons who occupy important positions in foreign governments (heads of state of foreign countries, persons in that position, their families, etc.). ' | translate}}</p>
                      <input formControlName="agree_pep" type="checkbox" name="checkbox_18" value="">
                      <span class="checkmark"></span>
                  </label>     
                  <div *ngIf="isConfirm && !rulesForm.controls.agree_pep.value"
                  class="invalid-mess">
                  <div>{{'If applicable, we will not be able to open an account with us.' | translate}}</div>
              </div>                       
                  <!-- END Term -->
                  
              </div>
              
          </div>
          <div class="modal-footer pt-2 pb-2">
              <button type="button" class="btn btn-secondary btn-prev" (click)="onReturnStep1()"><i class="icon ion-md-arrow-back"></i>{{'Back' | translate}}</button> 
              <button type="button" class="btn btn-primary btn-next" (click)="onConfirm()" >{{'Register' | translate}} <i class="icon ion-md-arrow-forward"></i></button>
          </div>
      </div>
  </div>
</div><!-- END 4b -->
